<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('图片管理')"/>
</head>
<style>
    .card {
        margin-bottom: 1.25rem;
        padding: 0.625rem 0.9375rem;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="wrapper wrapper-content">
        <!-- Page content-->
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="file-manager">
                                <div class="hr-line-dashed"></div>
                                <button class="btn btn-info btn-block">上传文件</button>
                                <div class="hr-line-dashed"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-3 col-md-4" th:each="item:${list}">
                            <div class="card" data-filter-group="audio">
                                <div class="card-body text-center">
                                    <div class="d-flex">
                                        <div class="ml-auto">
                                            <a class="text-muted mr-1" href="javascript:void(0)" title="删除">
                                                <em class="fa fa-trash-o fa-fw "></em>
                                            </a>
                                        </div>
                                    </div>
                                    <a class="px-4" href="javascript:void(0)">
                                        <img style="width: 100%;height: 100%"
                                             th:src="${item}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
</body>
</html>