<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">


<head th:include="common :: common-head"></head>


<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight blog">
    <div class="row">
        <div class="col-lg-4" >
            <div class="ibox">
                <div class="ibox-content">
                    <a href="article.html" class="btn-link">
                        <h2>
                            想知道宁泽涛每天游多少圈？送他 Misfit 最新款 Speedo Shine
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>高 晨</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> 3 小时前</span>
                    </div>
                    <p>
                        就算你敢带着 Apple Watch 下水游泳，它也不能记录你游了多少圈。 夏天刚来时就不停地听到有人提起“有没有在我游泳的时候可以帮忙数圈的设备”，今天 Misfit
                        终于赶在夏天结束之前推出可追踪游泳运动的新款 Shine。这款新设备是 Misfit 与泳衣品牌 Speedo （速比涛）合作推出，因此被命名为 Speedo Shine。
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>标签：</h5>
                            <button class="btn btn-primary btn-xs" type="button">Apple Watch</button>
                            <button class="btn btn-white btn-xs" type="button">速比涛</button>
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>状态：</h5>
                                <div><i class="fa fa-comments-o"> </i> 56 评论</div>
                                <i class="fa fa-eye"> </i> 144 浏览
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 全局js -->
<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap.min.js?v=3.3.6"></script>

<!-- 自定义js -->
<script src="js/content.js?v=1.0.0"></script>


<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
<!--统计代码，可删除-->

</body>

</html>
