<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head th:include="common :: common-head"></head>
<style>
    /**字符串过长 转化为 。。。**/
    table {
        width: 100%;
        table-layout: fixed; /* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
    }

    td {
        width: 100%;
        word-break: keep-all; /* 不换行 */
        white-space: nowrap; /* 不换行 */
        overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
        text-overflow: ellipsis; /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用*/
        -o-text-overflow: ellipsis;
        -icab-text-overflow: ellipsis;
        -khtml-text-overflow: ellipsis;
        -moz-text-overflow: ellipsis;
        -webkit-text-overflow: ellipsis;
    }
</style>
<body class="gray-bg">
<div class="container-div ui-layout-center col-sm-12 animated fadeInRight">
    <div class="row">
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <div class="space-25"></div>
                        <h3 style="margin-bottom: 20px">概览</h3>
                        <ul class="folder-list m-b-md linksDetails" style="padding: 0">
                            <li>
                                <a> <i class="fa fa-heart-o "></i> 所有
                                    <span class="label label-success pull-right">
                                        <div th:text="${all}"></div>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a> <i class="fa fa-heart-o "></i> 已发布
                                    <span class="label  label-info  pull-right">
                                        <div th:text="${published}"></div>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a> <i class="fa fa-heart-o "></i> 草稿箱
                                    <span class="label label-default pull-right">
                                        <div th:text="${draft}"></div>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a> <i class="fa fa-heart-o "></i> 垃圾箱
                                    <span class="label label-danger  pull-right">
                                        <div th:text="${dustbin}"></div>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-10 animated fadeInRight">
            <div class="container-div">
                <div class="row">
                    <div class="col-sm-10 search-collapse ">
                        <form id="link-form">
                            <div class="select-list">
                                <ul>
                                    <li>
                                        标题：<input type="text" name="title"/>
                                    </li>
                                    <li class="select-time">
                                        <label>创建时间： </label>
                                        <input type="text" class="time-input" name="startTime" id="startTime"
                                               placeholder="开始时间"/>
                                        <span>-</span>
                                        <input type="text" class="time-input" name="endTime" id="endTime"
                                               placeholder="结束时间"/>
                                    </li>
                                    <li>
                                        博客状态：<select name="status">
                                        <option value="">所有</option>
                                        <option value="1">已发布</option>
                                        <option value="2">草稿箱</option>
                                        <option value="3">垃圾箱</option>
                                    </select>
                                    </li>
                                    <li>
                                        <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                                class="fa fa-search"></i>&nbsp;搜索</a>
                                        <a class="btn btn-warning btn-rounded btn-sm"
                                           onclick="$.table.resetFormRefresh()"><i
                                                class="fa fa-refresh"></i>&nbsp;重置</a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>

                    <div class="btn-group-sm hidden-xs" id="toolbar" role="group" style="margin-top: 10px">
                        <a class="btn btn-primary btn-edit disabled" onclick="$.operate.updateFull()">
                            <i class="fa fa-edit"></i> 修改
                        </a>
                        <a class="btn btn-danger btn-del disabled" onclick="$.operate.deleteAll()">
                            <i class="fa fa-remove"></i> 删除
                        </a>
                        <a class="btn btn-danger btn-del disabled" onclick="support(false)">
                            <i class="fa fa-remove"></i> 推荐
                        </a>
                        <a class="btn btn-danger btn-del disabled" onclick="support(true)">
                            <i class="fa fa-remove"></i> 取消推荐
                        </a>
                        <a class="btn btn-danger btn-del disabled" onclick="changeStatus(1)">
                            <i class="fa fa-remove"></i> 发布
                        </a>
                        <a class="btn btn-danger btn-del disabled" onclick="changeStatus(2)">
                            <i class="fa fa-remove"></i> 草稿箱
                        </a>
                        <a class="btn btn-danger btn-del disabled" onclick="changeStatus(3)">
                            <i class="fa fa-remove"></i> 垃圾箱
                        </a>
                        <a class="btn btn-danger btn-del disabled" onclick="pushBaidu()">
                            <i class="fa fa-remove"></i> 推送到百度
                        </a>
                    </div>

                    <div class="col-sm-12 select-table table-striped ">
                        <table id="bootstrap-table" data-mobile-responsive="true"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="common :: common-footer"></div>
    <script src="/static/js/custom/blog/list/list.js" th:src="@{/js/custom/blog/list/list.js}"></script>
</div>
</body>

</html>
