<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head th:include="common :: common-head"></head>

<body class="gray-bg">
<div class="container-div ui-layout-center col-sm-12 animated fadeInRight">

    <div class="row">

        <div class="col-sm-10 search-collapse ">
            <form id="link-form">
                <div class="select-list">
                    <ul>
                        <li>
                            标题：<input type="text" name="title"/>
                        </li>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" name="startTime" id="startTime" placeholder="开始时间"/>
                            <span>-</span>
                            <input type="text" class="time-input" name="endTime" id="endTime" placeholder="结束时间"/>
                        </li>
                        <li>
                            博客状态：<select name="status">
                            <option value="">所有</option>
                            <option value="1">已发布</option>
                            <option value="2">草稿箱</option>
                            <option value="3">垃圾箱</option>
                        </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.table.resetFormRefresh()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group" style="margin-top: 10px">
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.updateFull()">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="$.operate.deleteAll()">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="support(false)">
                <i class="fa fa-remove"></i> 推荐
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="support(true)">
                <i class="fa fa-remove"></i> 取消推荐
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="changeStatus(1)">
                <i class="fa fa-remove"></i> 发布
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="changeStatus(2)">
                <i class="fa fa-remove"></i> 草稿箱
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="changeStatus(3)">
                <i class="fa fa-remove"></i> 垃圾箱
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="support(true)">
                <i class="fa fa-remove"></i> 推送到百度
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped ">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<div th:include="common :: common-footer"></div>
<script src="/static/js/custom/blog/list/list.js" th:src="@{/js/custom/blog/list/list.js}"></script>

</body>

</html>
