<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.blog.service.mapper.BlogArchiveMapper">


    <select id="getArchiveList" resultType="com.dimple.blog.service.entity.BlogArchives">
        select date_format(create_time, '%Y-%m') as dateStr, count(*) as count
        from blog_article
        where article_status =1
        group by date_format(create_time, '%Y-%m')
        order by date_format(create_time, '%Y-%m') desc
    </select>
    <select id="getArchives" resultType="com.dimple.blog.service.entity.BlogArchiveItem">
        select id, title, header_image as headerImage, create_time as createTime
        from blog_article
        where article_status = 1
        order by create_time desc
    </select>
</mapper>