<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimple.project.blog.blog.mapper.BlogTagMapper">


    <insert id="insertBlogTag">
        insert into bg_blog_tag(blog_id, tag_id) values (#{blogId},#{tagId})
    </insert>

    <delete id="deleteBlogTagByBlogId">
        delete from bg_blog_tag where blog_id =#{id}
    </delete>

    <delete id="deleteBlogTagByTagIds">
        delete from bg_blog_tag where tag_id in
        <foreach collection="array" close=")" open="(" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <select id="selectTagIdsByBlogId" resultType="java.lang.Integer">
        select tag_id from bg_blog_tag where blog_id=#{blogId}
    </select>
    <select id="selectBlogTagCountByTagId" resultType="java.lang.Integer">
        select count(*) from bg_blog_tag where tag_id=#{tagId}
    </select>

</mapper>