<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimple.project.blog.blog.mapper.BlogMapper">
    <!--基本的blog信息-->
    <resultMap id="BaseResultMap" type="com.dimple.project.blog.blog.domain.Blog">
        <id column="blog_id" property="blogId" jdbcType="INTEGER"/>
        <result column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="summary" property="summary" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="weight" property="weight" jdbcType="INTEGER"/>
        <result column="support" property="support" jdbcType="CHAR"/>
        <result column="click" property="click" jdbcType="INTEGER"/>
        <result column="header_img" property="headerImg" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="CHAR"/>
        <result column="allow_comment" property="allowComment"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--带博客正文的博客信息-->
    <resultMap id="ResultMapWithBLOBs" type="com.dimple.project.blog.blog.domain.Blog" extends="BaseResultMap">
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <sql id="selectBlogVo">
        select blog_id, category_id, title, summary, status,
        weight, support, click, header_img, type,allow_comment,
        create_by, create_time, update_by, update_time
        from bg_blog
    </sql>

    <insert id="insertBlog" useGeneratedKeys="true" keyProperty="blogId">
        insert into bg_blog(
        <if test="blogId != null and blogId != 0">blog_id,</if>
        <if test="categoryId != null and categoryId != ''">category_id,</if>
        <if test="title != null and title != ''">title,</if>
        <if test="summary != null and summary != ''">summary,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="weight != null and weight != ''">weight,</if>
        <if test="support != null and support != ''">support,</if>
        <if test="allowComment != null and allowComment != ''">allow_comment,</if>
        <if test="headerImg != null and headerImg != ''">header_img,</if>
        <if test="content != null and content != ''">content,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="blogId != null and blogId != 0">#{blogId},</if>
        <if test="categoryId != null and categoryId != ''">#{categoryId},</if>
        <if test="title != null and title != ''">#{title},</if>
        <if test="summary != null and summary != ''">#{summary},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="weight != null and weight != ''">#{weight},</if>
        <if test="support != null and support != ''">#{support},</if>
        <if test="allowComment != null and allowComment != ''">#{allowComment},</if>
        <if test="headerImg != null and headerImg != ''">#{headerImg},</if>
        <if test="content != null and content != ''">#{content},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>
    <update id="updateBlog">
        update bg_blog
        <set>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="summary != null and summary != ''">summary = #{summary},</if>
            <if test="categoryId != null and categoryId != ''">category_id = #{categoryId},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="weight != null and weight != ''">weight = #{weight},</if>
            <if test="support != null and support != ''">support = #{support},</if>
            <if test="allowComment != null and allowComment != ''">allow_comment = #{allowComment},</if>
            <if test="headerImg != null and headerImg != ''">header_img = #{headerImg},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where blog_id = #{blogId}
    </update>

    <update id="updateBlogStatusByIds">
        update bg_blog set status=#{status} where blog_id in
        <foreach collection="blogIds" item="blogId" open="(" separator="," close=")">
            #{blogId}
        </foreach>
    </update>

    <update id="updateBlogSupportById">
        update bg_blog set support=#{support} where blog_id =#{blogId}
    </update>
    <update id="incrementBlogClick">
        update bg_blog set click=click+1 where blog_id=#{blogId}
    </update>
    <update id="updateBlogAllowCommentByBlogId">
        update bg_blog set allow_comment=#{allowComment} where blog_id=#{blogId}
    </update>

    <delete id="deleteBlogById">
        delete from bg_blog where blog_id=#{blogId}
    </delete>

    <delete id="deleteBlogByIds">
        delete from bg_blog where blog_id in
        <foreach collection="array" item="blogId" open="(" separator="," close=")">
            #{blogId}
        </foreach>
    </delete>

    <select id="selectBlogList" resultType="com.dimple.project.blog.blog.domain.Blog">
        select blog_id, title, status, weight, support, click, type,
        create_time, update_time,header_img,allow_comment
        from bg_blog
        <where>
            <if test="title!=null and title!=''">
                and title like concat('%',#{title},'%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="support != null and support != ''">
                AND support = #{support}
            </if>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
            <if test="categoryId != null and categoryId != ''">
                AND category_id = #{categoryId}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>


    <select id="selectBlogById" resultType="com.dimple.project.blog.blog.domain.Blog">
         select blog_id, category_id, title, summary, status,
        weight, support, header_img,allow_comment,
        create_by, create_time, update_by, update_time
        from bg_blog where blog_id=#{blogId}
    </select>

    <select id="selectBlogCountByStatus" resultType="java.lang.Integer">
        select count(*) from bg_blog
        <where>
            <if test="_parameter  !=0">
                and status=#{status}
            </if>
        </where>
    </select>
    <select id="selectBlogWithTextById" resultType="com.dimple.project.blog.blog.domain.Blog">
          select blog_id, category_id, title, summary, status,
        weight, support, click, header_img, type,content,allow_comment,
        create_by, create_time, update_by, update_time
        from bg_blog where blog_id=#{blogId}
    </select>

    <select id="selectFrontBlogList" resultType="com.dimple.project.blog.blog.domain.Blog">
        select b.blog_id,
        b.category_id,
        b.title,
        b.summary,
        b.click,
        b.header_img,
        b.create_by,
        b.create_time,
        b.allow_comment,
        b.support,
        c.category_title,
        (select count(*) from bg_comment where page_id=b.blog_id and display=1 ) as comment_count
        from bg_blog b
        left join bg_category c on b.category_id = c.category_id
        where status=1
        <if test="categoryId !=null and categoryId !=''">
            and b.category_id =#{categoryId};
        </if>

    </select>

    <select id="selectNewestUpdateBlog" resultType="com.dimple.project.blog.blog.domain.Blog">
        select blog_id, title,update_time from bg_blog order by  update_time  desc limit #{i}
    </select>
    <select id="selectBlogRankingList" resultType="com.dimple.project.blog.blog.domain.Blog">
        select blog_id,title,click from bg_blog order by click desc limit #{i}
    </select>
    <select id="selectSupportBlogList" resultType="com.dimple.project.blog.blog.domain.Blog">
        select blog_id,title,summary, click,create_time,header_img from bg_blog order by weight desc limit #{i}
    </select>
    <select id="selectPreviousBlogById" resultType="com.dimple.project.blog.blog.domain.Blog">
        select blog_id,title from bg_blog where blog_id &lt; #{blogId} and status=1 order by blog_id limit 0,1
    </select>
    <select id="selectNextBlogById" resultType="com.dimple.project.blog.blog.domain.Blog">
        select blog_id,title from bg_blog where blog_id &gt; #{blogId} and status=1 order by blog_id desc limit 0,1
    </select>

    <select id="selectRandBlogListLimit" resultType="com.dimple.project.blog.blog.domain.Blog">
        select blog_id,title,header_img from bg_blog  where status=1 order by rand() limit #{i}
    </select>
    <select id="selectBlogsByTagId" resultType="com.dimple.project.blog.blog.domain.Blog">
        SELECT b.blog_id,
        b.category_id,
        b.title,
        b.summary,
        b.click,
        b.header_img,
        b.create_by,
        c.category_title
        FROM (bg_blog b
        LEFT JOIN bg_category c ON b.category_id = c.category_id) left join bg_blog_tag t on t.blog_id =b.blog_id
        <where>
            <if test="tagId!=null">
                and t.tag_id=#{tagId}
            </if>
        </where>
    </select>

    <select id="selectArchivesDateAndCount" resultType="com.dimple.project.front.domain.Archives">
        select date_format(create_time, '%Y-%m') as date,count(*) as count from bg_blog where status=1 group by date_format(create_time,'%Y-%m')order by date_format(create_time, '%Y-%m') desc
    </select>
    <select id="selectBlogByCreateTime" resultType="com.dimple.project.blog.blog.domain.Blog">
        select blog_id,title,click,create_time from bg_blog where date_format(create_time, '%Y-%m') =#{date} and status=1
    </select>
    <select id="selectBlogClickData" resultType="com.dimple.project.dashboard.domain.BusinessCommonData">
        select title as name,click as value from bg_blog
        <where>
            <if test="startTime != null and startTime != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{startTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
        </where>
        order by create_time
    </select>
    <select id="selectBlogTitleByBlogId" resultType="java.lang.String">
        select title from bg_blog where blog_id=#{blogId}
    </select>


</mapper>