<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimple.project.blog.comment.mapper.CommentMapper">

    <insert id="insertComment">
        insert into bg_comment(
        <if test="nickname != null and nickname != ''">nickname,</if>
        <if test="qqNum != null and qqNum != ''">qq_num,</if>
        <if test="email != null and email != ''">email,</if>
        <if test="avatar != null and avatar != ''">avatar,</if>
        <if test="content != null and content != ''">content,</if>
        <if test="reply != null and reply != ''">reply,</if>
        <if test="display != null and display != ''">display,</if>
        <if test="reviewMsg != null and reviewMsg != ''">review_msg,</if>
        <if test="replyId != null and replyId != ''">reply_id,</if>
        <if test="ip != null and ip !=''">ip,</if>
        <if test="pageId != null and pageId !=''">page_id,</if>
        <if test="url != null and url !=''">url,</if>
        <if test="os != null and os !=''">os,</if>
        <if test="browser != null and browser !=''">browser,</if>
        <if test="location != null and location !=''">location,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="nickname != null and nickname !=''">#{nickname},</if>
        <if test="qqNum != null and qqNum != ''">#{qqNum},</if>
        <if test="email != null and email != ''">#{email},</if>
        <if test="avatar != null and avatar != ''">#{avatar},</if>
        <if test="content != null and content != ''">#{content},</if>
        <if test="reply != null and reply != ''">#{reply},</if>
        <if test="display != null and display != ''">#{display},</if>
        <if test="reviewMsg != null and reviewMsg != ''">#{reviewMsg},</if>
        <if test="replyId != null and replyId != ''">#{replyId},</if>
        <if test="ip != null and ip != ''">#{ip},</if>
        <if test="pageId != null and pageId != ''">#{pageId},</if>
        <if test="url != null and url != ''">#{url},</if>
        <if test="os != null and os != ''">#{os},</if>
        <if test="browser != null and browser != ''">#{browser},</if>
        <if test="location != null and location != ''">#{location},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>
    <update id="increaseGoodCount">
        update bg_comment set good=good+1 where page_id=#{pageId} and id=#{commentId}
    </update>
    <update id="increaseBadCount">
        update bg_comment set bad =bad +1 where page_id=#{pageId} and id=#{commentId}
    </update>
    <update id="updateComment">
        update bg_comment
        <trim prefix="SET" suffixOverrides=",">
            <if test="nickname != null  and nickname != ''">nickname = #{nickname},</if>
            <if test="qqNum != null  and qqNum != ''">qq_num = #{qqNum},</if>
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="avatar != null  and avatar != ''">avatar = #{avatar},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="replyId != null ">reply_id = #{replyId},</if>
            <if test="reply != null ">reply = #{reply},</if>
            <if test="url != null  and url != ''">url = #{url},</if>
            <if test="pageId != null ">page_id = #{pageId},</if>
            <if test="good != null ">good = #{good},</if>
            <if test="bad != null ">bad = #{bad},</if>
            <if test="display != null ">display = #{display},</if>
            <if test="reviewMsg != null  and reviewMsg != ''">review_msg = #{reviewMsg},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_datetime =sysdate()
        </trim>
        where id = #{id}
    </update>
    <delete id="deleteCommonById">
        delete from bg_comment where id=#{id}
    </delete>


    <select id="selectCommentListForFront" resultType="com.dimple.project.blog.comment.domain.Comment">
        select id, nickname, qq_num, email, avatar, content, reply_id, reply, url, page_id, good, bad, ip, location, os,
        browser, display, create_by, create_time
        from bg_comment
        <where>
            <if test="pageId!=null and pageId!=''">
                and page_id =#{pageId}
            </if>
            <if test="display!=null and display!=''">
                and display =#{display}
            </if>
            <if test="nickname!=null and nickname!=''">
                and nickname like concat('%',#{nickname},'%')
            </if>
            <if test="qqNum!=null and qqNum!=''">
                and qq_num like concat('%',#{qqNum},'%')
            </if>
            <if test="content!=null and content!=''">
                and content like concat('%',#{content},'%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            order by create_time desc
        </where>
    </select>
    <select id="selectCommentById" resultType="com.dimple.project.blog.comment.domain.Comment">
        select id, nickname, qq_num, email, avatar, content, reply_id, reply, url, page_id, good, bad, ip, location, os, browser, display, create_by, create_time from bg_comment where id=#{replyId} and display=1
    </select>
    <select id="selectCommentList" resultType="com.dimple.project.blog.comment.domain.Comment">
        select id, nickname, qq_num, email, avatar, content, reply_id, reply, url, page_id, good, bad, ip, location, os,
        browser, display, create_by, create_time from bg_comment
        <where>
            <if test="pageId!=null and pageId!=''">
                and page_id =#{pageId}
            </if>
            <if test="display!=null and display!=''">
                and display =#{display}
            </if>
            <if test="nickname!=null and nickname!=''">
                and nickname like concat('%',#{nickname},'%')
            </if>
            <if test="qqNum!=null and qqNum!=''">
                and qq_num like concat('%',#{qqNum},'%')
            </if>
            <if test="content!=null and content!=''">
                and content like concat('%',#{content},'%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>

    </select>
    <delete id="deleteBgCommentByIds" parameterType="String">
        delete from bg_comment where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>