<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: common-head"></head>
<link rel="stylesheet" href="/static/plugin/summernote/summernote.css"
      th:href="@{/plugin/summernote/summernote.css}">
<link rel="stylesheet" href="/static/plugin/summernote/summernote-bs3.css"
      th:href="@{/plugin/summernote/summernote-bs3.css}">
<link rel="stylesheet" href="/static/plugin/bootstrap/bootstrap-tags-input/bootstrap-tagsinput.css"
      th:href="@{/plugin/bootstrap/bootstrap-tags-input/bootstrap-tagsinput.css}">
<body class="white-bg">
<div class="wrapper wrapper-content">

    <div class="form-group">
        <label class=" control-label">标签:</label>
        <div class="">
            <input id="tags" name="tags" class="form-control col-sm-12"
                   type="text"
                   data-role="tagsinput"
                   style=" min-width: 100%;"
                   placeholder="按回车确定  ">
        </div>
    </div>
</div>

</body>

<div th:include="common :: common-footer"></div>
<script src="/static/plugin/summernote/summernote.js" th:src="@{/plugin/summernote/summernote.js}"></script>

<script src="/static/plugin/summernote/lang/summernote-zh-CN.js"
        th:src="@{/plugin/summernote/lang/summernote-zh-CN.js}"></script>
<script src="/static/plugin/summernote/summernote-ext-highlignt.js"
        th:src="@{/plugin/summernote/summernote-ext-highlignt.js}"></script>
<script src="/static/plugin/summernote/summernote-add-class.js"
        th:src="@{/plugin/summernote/summernote-add-class.js}"></script>

<script src="/static/js/custom/blog/list/update.js"
        th:src="@{/js/custom/blog/list/update.js}"></script>
<script src="/static/plugin/bootstrap/bootstrap-tags-input/bootstrap-tagsinput.min.js"
        th:src="@{/plugin/bootstrap/bootstrap-tags-input/bootstrap-tagsinput.min.js}"></script>
<script>

    $(function () {
        $("#tags").tagsinput('add', 'some tag');
    });

</script>
</html>