<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.project.monitor.blacklist.mapper.BlacklistMapper">

    <sql id="selectBlacklistVo">
      select blacklist_id, ip_addr, description, count, create_by, create_time, update_by, update_time
      from
      bg_blacklist
    </sql>

    <insert id="insertBlacklist">
        insert into bg_blacklist(
        <if test="ipAddr != null and ipAddr != ''">ip_addr,</if>
        <if test="description != null and description != ''">description,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="ipAddr != null and ipAddr != ''">#{ipAddr},</if>
        <if test="description != null and description != ''">#{description},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <update id="updateNewestBlacklist">
        update bg_blacklist set count=count+1,last_access_url =#{requestUrl},last_access_time=   sysdate() where blacklist_id=#{id}
    </update>


    <update id="updateBlacklist">
        update bg_blacklist
        <set>
            <if test="ipAddr !=null ">ip_addr=#{ipAddr},</if>
            <if test="description !=null ">description=#{description},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where
        blacklist_id=#{blacklistId}
    </update>

    <delete id="deleteBlacklistByBlacklistIds">
        delete from bg_blacklist where blacklist_id in
        <foreach collection="array" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="cleanBlacklist">
        delete from bg_blacklist
    </delete>

    <select id="selectBlacklistList" resultType="com.dimple.project.monitor.blacklist.domain.Blacklist">
        <include refid="selectBlacklistVo"/>
        <where>
            <if test="ipAddr != null and ipAddr != '' ">
                and ip_addr =#{ipAddr}
            </if>
            <if test="description !=null and description !=''">
                and description like concat('%',#{description},'%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="selectBlacklistById" resultType="com.dimple.project.monitor.blacklist.domain.Blacklist">
        <include refid="selectBlacklistVo"/>
        where blacklist_id=#{blacklistId}
    </select>
    <select id="selectBlacklistByIp" resultType="com.dimple.project.monitor.blacklist.domain.Blacklist">
        <include refid="selectBlacklistVo"/>
        where ip_addr=#{ip}

    </select>


</mapper>