<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.project.monitor.mapper.BlacklistMapper">

    <resultMap type="com.dimple.project.monitor.domain.Blacklist" id="SysBlacklistResult">
        <id property="id" column="id"/>
        <result property="ip" column="ip"/>
        <result property="description" column="description"/>
        <result property="interceptCount" column="intercept_count"/>
        <result property="lastAccessTime" column="last_access_time"/>
        <result property="lastAccessUrl" column="last_access_url"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="insertBlacklist" parameterType="com.dimple.project.log.domain.LoginLog">
		insert into blacklist (ip, description, intercept_count, last_access_url, last_access_time, create_by, create_time)
		values (#{ip}, #{description}, #{interceptCount}, #{lastAccessUrl}, #{lastAccessTime}, #{createBy}, sysdate())
	</insert>

    <insert id="insertBlacklistRecord">
        update blacklist set interceptCount+=1,last_access_url=${lastAccessUrl} ,last_access_time=sysdate() where id=${id}
    </insert>

    <update id="updateBlacklist">
        update blacklist
        <set>
            <if test="ip != null and ip != ''">ip = #{ip},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <select id="selectBlacklistList" parameterType="com.dimple.project.monitor.domain.Blacklist"
            resultMap="SysBlacklistResult" resultType="com.dimple.project.monitor.domain.Blacklist">
        select id, ip, description, intercept_count, last_access_url, last_access_time, create_by, create_time
        from blacklist
        where delete_time is null
        <if test="ip != null and ip != ''">
            AND ip like concat('%', #{ip}, '%')
        </if>
        <if test="description != null and description != ''">
            AND description = #{description}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>
    <select id="selectBlacklistById" resultType="com.dimple.project.monitor.domain.Blacklist">
         select id, ip, description, intercept_count, last_access_url, last_access_time, create_by, create_time from blacklist where id = ${id}
    </select>

    <delete id="deleteBlacklistByIds" parameterType="String">
        update blacklist set delete_by =#{deleteBy} , delete_time=sysdate() where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


</mapper>
