<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head th:include="common :: common-head"></head>


<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="menu-form">
                <div class="select-list">
                    <ul>
                        <li>
                            权限名称：<input type="text" name="title"/>
                        </li>
                        <li>
                            权限状态：<select name="status">
                            <option value="">所有</option>
                            <option value="true">启用</option>
                            <option value="false">停用</option>
                        </select>
                        <li>
                            类别：<select name="type">
                            <option value="">所有</option>
                            <option value="1">目录</option>
                            <option value="2">菜单</option>
                            <option value="3">按钮</option>
                        </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.treeTable.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add(0)">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary" onclick="$.operate.editTree()">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-info" id="expandAllBtn">
                <i class="fa fa-exchange"></i> 展开/折叠
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-tree-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="common :: common-footer"></div>

<script src="/static/js/custom/system/permission/list.js"
        th:src="@{/js/custom/system/permission/list.js}"></script>
</div>
<script>

</script>
</body>

</html>
