<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.blog.front.service.mapper.BlogCategoryMapper">

    <resultMap type="com.dimple.blog.front.service.entity.BlogCategory" id="BlogCategoryResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectBlogCategoryVo">
        select id, title, create_by, create_time, update_by, update_time
        from blog_category
    </sql>

    <select id="selectBlogCategoryList" parameterType="BlogCategory" resultMap="BlogCategoryResult">
        select id, title
        from blog_category
        <where>
            <if test="title != null  and title != ''">and title = #{title}</if>
        </where>
    </select>

    <select id="selectBlogCategoryById" parameterType="Long" resultMap="BlogCategoryResult">
        <include refid="selectBlogCategoryVo"/>
        where id = #{id}
    </select>
</mapper>