<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.blog.front.service.mapper.BlogArticleCategoryMapper">

    <resultMap type="com.dimple.blog.front.service.entity.BlogArticleCategory" id="BlogArticleCategoryResult">
        <result property="id" column="id"/>
        <result property="articleId" column="article_id"/>
        <result property="categoryId" column="category_id"/>
    </resultMap>

    <sql id="selectBlogArticleCategoryVo">
        select id, article_id, category_id
        from blog_article_category
    </sql>

    <select id="selectBlogArticleCategoryList" parameterType="BlogArticleCategory"
            resultMap="BlogArticleCategoryResult">
        <include refid="selectBlogArticleCategoryVo"/>
        <where>
            <if test="articleId != null ">and article_id = #{articleId}</if>
            <if test="categoryId != null ">and category_id = #{categoryId}</if>
        </where>
    </select>

    <select id="selectBlogArticleCategoryById" parameterType="Long" resultMap="BlogArticleCategoryResult">
        <include refid="selectBlogArticleCategoryVo"/>
        where id = #{id}
    </select>

</mapper>