<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimple.project.common.mapper.FileItemInfoMapper">

    <insert id="insertFileItem">
        insert into bg_file_item_info (
        <if test="name != null and name != '' ">name,</if>
        <if test="hash != null and hash != '' ">hash,</if>
        <if test="size != null  ">size,</if>
        <if test="mimeType != null and mimeType != '' ">mime_type,</if>
        <if test="putTime != null">put_time,</if>
        <if test="serverType != null and serverType != ''">server_type,</if>
        <if test="path != null and path != ''">path</if>
        )values(
        <if test="name != null and name != ''">#{name},</if>
        <if test="hash != null and hash != ''">#{hash},</if>
        <if test="size != null ">#{size},</if>
        <if test="mimeType != null and mimeType != ''">#{mimeType},</if>
        <if test="putTime != null">#{putTime},</if>
        <if test="serverType != null and serverType != ''">#{serverType},</if>
        <if test="path != null and path != ''">#{path}</if>
        )
    </insert>


    <delete id="deleteByServerType">
        delete from bg_file_item_info where server_type =#{serverType}
    </delete>
    <delete id="deleteByNameAndServerType">
        delete  from bg_file_item_info where server_type =#{serverType} and name=#{name}
    </delete>


    <select id="getFileItemList" resultType="com.dimple.project.common.domain.FileItemInfo">
        select name,hash,size,mime_type,put_time,server_type,path
        from bg_file_item_info
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{configName}, '%')
            </if>
            <if test="mimeType !=null and mimeType!=''">
                and mime_type=#{mimeType}
            </if>
            <if test="serverType !=null and serverType !=''">
                and server_type =#{serverType}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(put_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(put_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>
</mapper>