<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.project.common.mapper.TagMapper">

    <resultMap type="com.dimple.project.common.domain.Tag" id="TagResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="color" column="color"/>
        <result property="count" column="count"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="selectTagList" parameterType="com.dimple.project.common.domain.Tag" resultMap="TagResult">
        select t.id,t.title,t.color,t.create_time,t.create_by ,count(tm.id) as count
        from tag t left join tag_mapping tm
        on t.id=tm.tag_id
        where t.delete_time is null
        <if test="type != null">
            AND t.type =#{type}
        </if>
        <if test="title != null and title != ''">
            AND t.title like concat('%', #{title}, '%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(t.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(t.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        group by t.id
    </select>

    <select id="selectTagById" resultMap="TagResult">
        select t.id, t.title, t.color, count(tm.id) as count
        from tag t
                 left join tag_mapping tm
                           on t.id = tm.tag_id
        where t.delete_time is null
          and t.id = #{id}
    </select>

    <select id="selectTagByTitle" resultType="com.dimple.project.common.domain.Tag">
        select id, color, title, type
        from tag
        where title = #{title}
          and type = #{type}
    </select>

    <select id="selectTagListByType" resultType="com.dimple.project.common.domain.Tag">
        select t.id,
        color,
        title,
        type,
        create_by,
        create_time
        from tag t
        left join tag_mapping tm on t.id = tm.tag_id
        where t.type=#{type}
        <if test="type == 1">and tm.blog_id=#{id}</if>
        <if test="type ==2">and tm.note_id=#{id}</if>
        <if test="type ==3">and tm.book_id=#{id}</if>
    </select>


    <insert id="insertTag" parameterType="com.dimple.project.common.domain.Tag" useGeneratedKeys="true"
            keyProperty="id">
        insert into tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">title,</if>
            <if test="color != null  and color != ''">color,</if>
            <if test="type != null">type,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">#{title},</if>
            <if test="color != null  and color != ''">#{color},</if>
            <if test="type != null">#{type},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate()
        </trim>
    </insert>
    <insert id="insertTagMapping">
        insert into tag_mapping
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="blogId != null">blog_id,</if>
            <if test="tagId != null">tag_id,</if>
            <if test="bookId != null">book_id,</if>
            <if test="noteId != null">note_id</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="blogId != null">#{blogId},</if>
            <if test="tagId != null">#{tagId},</if>
            <if test="bookId != null">#{bookId},</if>
            <if test="noteId != null">#{noteId}</if>
        </trim>
    </insert>

    <update id="updateTag" parameterType="com.dimple.project.common.domain.Tag">
        update tag
        <set>
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="color != null  and color != ''">color = #{color},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time =sysdate()
        </set>
        where id = #{id}
    </update>


    <delete id="deleteTagByIds">
        update tag set delete_time=sysdate(),delete_by=#{username} where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteTagMapping">
        delete from tag_mapping
        <choose>
            <when test="blogId==null and tagId==null and bookId==null and noteId==null">
                where 1=2
            </when>
            <otherwise>
                where 1=1
            </otherwise>
        </choose>
        <if test="blogId != null">
            AND blog_id =#{blogId}
        </if>
        <if test="tagId != null">
            AND tag_id =#{tagId}
        </if>
        <if test="bookId != null">
            AND book_id =#{bookId}
        </if>
        <if test="noteId != null">
            AND note_id =#{noteId}
        </if>
    </delete>

</mapper>
