.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #fff;
    color: black;
}

/* Gray DOCTYPE selectors like WebKit */
.xml .hljs-meta {
    color: #c0c0c0;
}

.hljs-comment,
.hljs-quote {
    color: #007400;
}

.hljs-tag,
.hljs-attribute,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-name {
    color: #aa0d91;
}

.hljs-variable,
.hljs-template-variable {
    color: #3F6E74;
}

.hljs-code,
.hljs-string,
.hljs-meta-string {
    color: #c41a16;
}

.hljs-regexp,
.hljs-link {
    color: #0E0EFF;
}

.hljs-title,
.hljs-symbol,
.hljs-bullet,
.hljs-number {
    color: #1c00cf;
}

.hljs-section,
.hljs-meta {
    color: #643820;
}


.hljs-class .hljs-title,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-params {
    color: #5c2699;
}

.hljs-attr {
    color: #836C28;
}

.hljs-subst {
    color: #000;
}

.hljs-formula {
    background-color: #eee;
    font-style: italic;
}

.hljs-addition {
    background-color: #baeeba;
}

.hljs-deletion {
    background-color: #ffc8bd;
}

.hljs-selector-id,
.hljs-selector-class {
    color: #9b703f;
}

.hljs-doctag,
.hljs-strong {
    font-weight: bold;
}

.hljs-emphasis {
    font-style: italic;
}

/**
亮色: abap, pastie, rainbow_dash, trac, manni, igor, vs, xcode
custom *
*/

body.dark, .dark
    /*background color*/

    .hljs
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        background: #1d1f21;

    .hljs::selection,
    .hljs span::selection
        background: #373b41;

    .hljs::-moz-selection,
    .hljs span::-moz-selection
        background: #373b41;

    .hljs
        /*foreground color*/
        color: #c5c8c6;

    .hljs-title,
    .hljs-name
        /*color: fg_yellow*/
        color: #f0c674;

    .hljs-comment, .hljs-meta,
    .hljs-meta .hljs-keyword
        /*color: fg_comment*/
        color: #707880;


    .hljs-number,
    .hljs-symbol,
    .hljs-literal,
    .hljs-deletion,
    .hljs-link
        color: #cc6666

    /*color: fg_red*/


    /*color: fg_green*/

    .hljs-string,
    .hljs-doctag,
    .hljs-addition,
    .hljs-regexp,
    .hljs-selector-attr,
    .hljs-selector-pseudo
        color: #b5bd68;


    /*color: fg_purple*/

    .hljs-attribute,
    .hljs-code,
    .hljs-selector-id
        color: #b294bb;


    /*color: fg_blue*/

    .hljs-keyword,
    .hljs-selector-tag,
    .hljs-bullet,
    .hljs-tag
        color: #81a2be;


    /*color: fg_aqua*/

    .hljs-subst,
    .hljs-variable,
    .hljs-template-tag,
    .hljs-template-variable
        color: #8abeb7;


    /*color: fg_orange*/

    .hljs-type,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-quote,
    .hljs-section,
    .hljs-selector-class
        color: #de935f;


    .hljs-emphasis
        font-style: italic;


    .hljs-strong
        font-weight: bold;

