<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head th:include="common :: common-head"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeIn">
    <div class="ibox float-e-margins center-block">
        <div class="ibox-content">
            <form class="form-horizontal m-t" id="personCardForm">
                <div class="form-group">
                    <label class="col-sm-3 control-label">网名：</label>
                    <div class="col-sm-8">
                        <input name="nickName" class="form-control" type="text" th:value="${nickName}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">职业：</label>
                    <div class="col-sm-8">
                        <input name="profession" class="form-control" type="text" th:value="${profession}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">现居：</label>
                    <div class="col-sm-8">
                        <input name="location" class="form-control" type="text" th:value="${location}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email：</label>
                    <div class="col-sm-8">
                        <input name="email" class="form-control" type="text" th:value="${email}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">网站地址：</label>
                    <div class="col-sm-8">
                        <input name="website" class="form-control" type="text" th:value="${website}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">我的邮箱：</label>
                    <div class="col-sm-8">
                        <input name="myEmail" class="form-control" type="text" th:value="${myEmail}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">QQ联系我：</label>
                    <div class="col-sm-8">
                        <input name="qq" class="form-control" type="text" th:value="${qq}">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">微信二维码：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" class="form-control" id="imgLocation" name="weChart"
                                   th:value="${weChart}">
                            <span class="input-group-btn">
                    <button type="button" class="btn btn-info" onclick="uploadImage()">图库选择</button>
                    </span>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group" hidden id="preview">
                    <label class="col-sm-3 control-label ">预览：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <img id="previewImg" src="" style="height:auto;width:100%" th:src="${weChart}">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-1 pull-right">
                        <!--<a type="button" class="btn btn-primary col-sm-5" id="submitPersonCard">提交</a>-->
                        <button class="btn btn-primary" type="button" id="submitPersonCard">保存内容</button>
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<div class="col-sm-5 pull-right">-->
                        <!--<a type="button" class="btn btn-primary col-sm-5" id="submitPersonCard">提交</a>-->
                    <!--</div>-->
                <!--</div>-->
            </form>
        </div>
    </div>
</div>

<div th:include="common :: common-footer"></div>
<script>

    $("#submitPersonCard").click(function () {
        $.ajax({
            url: "/api/setting/personCard",
            type: "put",
            data: $("#personCardForm").serializeArray(),
            success: function (data) {
                console.log(data);
            }
        })

    });

    /**
     * 上传图片
     */
    function uploadImage() {
        var title = "上传图片";
        var url = "/page/imageUploadPage";
        var width = $(window).width() / 1.2;
        var height = $(window).height() / 1.2;
        //如果是移动端，就使用自适应大小弹窗
        if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
            width = 'auto';
            height = 'auto';
        }
        if ($.common.isEmpty(title)) {
            title = false;
        }
        if ($.common.isEmpty(url)) {
            url = "/404.html";
        }
        if ($.common.isEmpty(width)) {
            width = 800;
        }
        if ($.common.isEmpty(height)) {
            height = ($(window).height() - 50);
        }
        layer.open({
            type: 2,
            area: [width + 'px', height + 'px'],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: title,
            content: url,
            btn: ['<i class="fa fa-check"></i> 确认', '<i class="fa fa-close"></i> 关闭'],
            // 弹层外区域关闭
            shadeClose: true,
            yes: function (index, layero) {
                var iframeWin = layero.find('iframe')[0];
                var data = iframeWin.contentWindow.submitHandler();
                $("#imgLocation").val(data);
                if (!$.common.isEmpty(data)) {
                    $("#preview").removeAttrs("hidden");
                    $("#previewImg").attr("src", data);
                }
                iframeWin.contentWindow.closeLocal();
            },
            cancel: function (index) {
                return true;
            }
        });
    }
</script>
</body>

</html>
