<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="common :: common-head"></head>
<link rel="stylesheet" href="/static/plugin/webUploader/webuploader.css"
      th:href="@{/plugin/webUploader/webuploader.css}">
<link rel="stylesheet" href="/static/plugin/webUploader/webuploader-custom.css"
      th:href="@{/plugin/webUploader/webuploader-custom.css}">
<link rel="stylesheet" href="/static/plugin/image-picker/image-picker.css"
      th:href="@{/plugin/image-picker/image-picker.css}">


<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeIn">
    <input type="hidden" id="imgUrl">
    <!--加载选项卡-->
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="panel blank-panel">
                <div class="panel-heading">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <!--选项卡界面-->
                            <li class="active"><a data-toggle="tab" href="#signature"><i
                                    class="fa fa-laptop"></i> 签名档设置</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#personalBusinessCard"><i
                                    class="fa fa-desktop"></i>个人名片设置</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#websiteNotice"><i
                                    class="fa fa-signal"></i>网站公告设置</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="tabs_panels.html#tab-7"><i
                                    class="fa fa-bar-chart-o"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="tab-content">
                        <div id="signature" class="tab-pane active">
                            这是签名档
                        </div>

                        <div id="personalBusinessCard" class="tab-pane">
                            这是个人名片
                        </div>

                        <div id="websiteNotice" class="tab-pane">
                            这是网站公告
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
</div>
<div th:include="common :: common-footer"></div>
</body>

</html>
