<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head th:include="common :: common-head"></head>
<link rel="stylesheet" href="/static/plugin/webUploader/webuploader.css"
      th:href="@{/plugin/webUploader/webuploader.css}">
<link rel="stylesheet" href="/static/plugin/webUploader/webuploader-custom.css"
      th:href="@{/plugin/webUploader/webuploader-custom.css}">
<link rel="stylesheet" href="/static/plugin/image-picker/image-picker.css"
      th:href="@{/plugin/image-picker/image-picker.css}">
<link rel="stylesheet" href="/static/plugin/summernote/summernote.css"
      th:href="@{/plugin/summernote/summernote.css}">
<link rel="stylesheet" href="/static/plugin/summernote/summernote-bs3.css"
      th:href="@{/plugin/summernote/summernote-bs3.css}">

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeIn">
    <input type="hidden" id="imgUrl">
    <!--加载选项卡-->
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="panel blank-panel">
                <div class="panel-heading">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <!--选项卡界面-->
                            <li class="active"><a data-toggle="tab" href="#blogSignature"><i
                                    class="fa fa-laptop"></i> 文章签名档设置</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#resourceSignature"><i
                                    class="fa fa-desktop"></i>资源分享签名档设置</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="tab-content">
                        <div id="blogSignature" class="tab-pane active">
                            <div class="mail-box-header">
                                <input type="hidden" id="blogSignatureId"
                                       th:value="${blogSignature==null?null:blogSignature.id}">
                                <div class="pull-right tooltip-demo">
                                    <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"
                                       onclick="editOrPreview(this,'#summernoteBlog')" title="预览"><i
                                            class="fa fa-pencil"></i> 预览</a>
                                </div>
                                <h2>文章签名档</h2>
                            </div>
                            <div class="mail-box">
                                <div class="mail-body">
                                    <input type="hidden" id="blogSignatureInit"
                                           th:value="${blogSignature.signatureValue}">
                                    <div id="summernoteBlog" class="summernote"></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="mail-body text-right tooltip-demo">
                                    <a class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"
                                       id="saveBlogSignature"
                                       title="发布到服务器"><i class="fa fa-reply"></i> 保存</a>
                                    <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"
                                       id="giveUpBlogSignature"
                                       title="丢弃当前内容并清空输入框"><i class="fa fa-times"></i> 放弃</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div id="resourceSignature" class="tab-pane">
                            <div class="mail-box-header">
                                <input type="hidden" id="resourceSignatureId"
                                       th:value="${resourceSignature==null?null:resourceSignature.id}">
                                <div class="pull-right tooltip-demo">
                                    <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"
                                       onclick="editOrPreview(this,'#summernoteResource')" title="预览"><i
                                            class="fa fa-pencil"></i> 预览</a>
                                </div>
                                <h2>资源分享签名档</h2>
                            </div>
                            <div class="mail-box">
                                <div class="mail-body">
                                    <input type="hidden" id="resourceSignatureInit"
                                           th:value="${resourceSignature.signatureValue}">
                                    <div id="summernoteResource" class="summernote"></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="mail-body text-right tooltip-demo">
                                    <a class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top"
                                       id="saveResourceSignature"
                                       title="发布到服务器"><i class="fa fa-reply"></i> 保存</a>
                                    <a class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top"
                                       id="giveUpResourceSignature"
                                       title="丢弃当前内容并清空输入框"><i class="fa fa-times"></i> 放弃</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="common :: common-footer"></div>
<script src="/static/plugin/summernote/summernote.js" th:src="@{/plugin/summernote/summernote.js}"></script>
<script src="/static/plugin/summernote/lang/summernote-zh-CN.js"
        th:src="@{/plugin/summernote/lang/summernote-zh-CN.js}"></script>
<script src="/static/plugin/summernote/summernote-ext-highlignt.js"
        th:src="@{/plugin/summernote/summernote-ext-highlignt.js}"></script>
<script src="/static/plugin/summernote/summernote-add-class.js"
        th:src="@{/plugin/summernote/summernote-add-class.js}"></script>
<script src="/static/js/custom/frontsetting/signature.js"
        th:src="@{/js/custom/frontsetting/signature.js}"></script>
</body>

</html>
