<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.project.home.mapper.DashBoardMapper">

    <select id="getVisitorCount" resultType="java.lang.Long">
        select count(*)
        from visit_log
        where delete_time is null
    </select>
    <select id="getBlogCount" resultType="java.lang.Long">
        select count(*)
        from blog
        where delete_time is null
    </select>
    <select id="getBookCount" resultType="java.lang.Long">
        select count(*)
        from book
        where delete_time is null
    </select>
    <select id="getNoteCount" resultType="java.lang.Long">
        select count(*)
        from note
        where delete_time is null
    </select>
    <select id="getVisitorCountByCreateTime" resultType="java.lang.Long">
        select count(*)
        from visit_log
        where date(create_time) = #{date}
    </select>
    <select id="getNoteCountByCreateTime" resultType="java.lang.Long">
        select count(*)
        from note
        where date(create_time) = #{date}
    </select>
    <select id="getBlogCountByCreateTime" resultType="java.lang.Long">
        select count(*)
        from blog
        where date(create_time) = #{date}
    </select>
    <select id="getBookCountByCreateTime" resultType="java.lang.Long">
        select count(*)
        from book
        where date(create_time) = #{date}
    </select>
    <select id="getSpiderData" resultType="java.util.Map">
        select spider as 'name', count(spider) as 'value'
        from visit_log
        where spider is not null
        group by spider
        order by spider
        limit 20
    </select>
    <select id="getVisitLog" resultType="com.dimple.project.log.domain.VisitLog">
        select id,
               ip,
               page_id,
               location,
               browser,
               os,
               entry_url,
               url,
               error_msg,
               status,
               title,
               spider,
               create_time
        from visit_log
        where delete_time is null
    </select>
    <select id="getBlogNameByPageId" resultType="java.lang.String">
        select title
        from blog
        where id = #{pageId}
    </select>
    <select id="getLoginLogList" resultType="com.dimple.project.log.domain.LoginLog">
        select id,
               user_name,
               ip,
               location,
               browser,
               os,
               status,
               msg,
               create_time
        from login_log
        where delete_time is null
    </select>
    <select id="getOperateLogList" resultType="com.dimple.project.log.domain.OperateLog">
        select id,
               title,
               business_type,
               method,
               request_method,
               operator_type,
               operate_name,
               url,
               ip,
               location,
               param,
               json_result,
               status,
               error_msg,
               cost,
               create_time
        from operate_log
        where delete_time is null
    </select>
    <select id="getQuartzJobLogList" resultType="com.dimple.project.log.domain.QuartzJobLog">
        select id,
               job_name,
               bean_name,
               method_name,
               method_params,
               cron_expression,
               exception,
               result,
               status,
               cost,
               create_time
        from quartz_log
        where delete_time is null
    </select>

</mapper>
