<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.project.book.mapper.BookMapper">

    <resultMap type="com.dimple.project.book.domain.Book" id="BkBookMap">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="headerImg" column="header_img"/>
        <result property="author" column="author"/>
        <result property="categoryId" column="category_id"/>
        <result property="publisher" column="publisher"/>
        <result property="publishTime" column="publish_time"/>
        <result property="pageNum" column="page_num"/>
        <result property="grade" column="grade"/>
        <result property="summary" column="summary"/>
        <result property="catalog" column="catalog"/>
        <result property="click" column="click"/>
        <result property="like" column="like"/>
        <result property="status" column="status"/>
        <result property="progress" column="progress"/>
        <result property="support" column="support"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectBookById" resultMap="BkBookMap">
        select
          id, title, header_img, author, category_id, publisher, publish_time, page_num, grade, summary, catalog, click, like, status, progress, support, create_time, create_by
        from bk_book
        where id = #{id} and delete_time is null
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectBookList" resultMap="BkBookMap">
        select
        id, title, header_img, author, category_id, publisher, publish_time, page_num, grade, summary, `catalog`,
        click, `like`, status, progress, support, create_time
        from book
        where delete_time is null
        <if test="title != null and title != ''">
            and title = #{title}
        </if>
        <if test="author != null and author != ''">
            and author = #{author}
        </if>
        <if test="categoryId != null">
            and category_id = #{categoryId}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="support != null">
            and support = #{support}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format( create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format( create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>

    <!--新增所有列-->
    <insert id="insertBook" keyProperty="id" useGeneratedKeys="true">
        insert into book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null ">title,</if>
            <if test="headerImg != null  and headerImg != ''">header_img,</if>
            <if test="author != null  and author != ''">author,</if>
            <if test="categoryId != null  and categoryId != ''">category_id,</if>
            <if test="publisher != null  and publisher != ''">publisher,</if>
            <if test="publishTime != null">publish_time,</if>
            <if test="pageNum != null ">page_num,</if>
            <if test="grade != null ">grade,</if>
            <if test="summary != null and summary !=''">summary,</if>
            <if test="catalog != null and catalog !=''">catalog,</if>
            <if test="status != null ">status,</if>
            <if test="progress != null ">progress,</if>
            <if test="support != null ">support,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title !='' ">#{title},</if>
            <if test="headerImg != null  and headerImg != ''">#{headerImg},</if>
            <if test="author != null  and author != ''">#{author},</if>
            <if test="categoryId != null  and categoryId != ''">#{categoryId},</if>
            <if test="publisher != null  and publisher != ''">#{publisher},</if>
            <if test="publishTime != null">#{publishTime},</if>
            <if test="pageNum != null ">#{pageNum},</if>
            <if test="grade != null ">#{grade},</if>
            <if test="summary != null and summary !=''">#{summary},</if>
            <if test="catalog != null and catalog !=''">#{catalog},</if>
            <if test="status != null ">#{status},</if>
            <if test="progress != null ">#{progress},</if>
            <if test="support != null ">#{support},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate()
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateBook">
        update book
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="headerImg != null and headerImg != ''">
                header_img = #{headerImg},
            </if>
            <if test="author != null and author != ''">
                author = #{author},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="publisher != null and publisher != ''">
                publisher = #{publisher},
            </if>
            <if test="publishTime != null">
                publish_time = #{publishTime},
            </if>
            <if test="pageNum != null">
                page_num = #{pageNum},
            </if>
            <if test="grade != null">
                grade = #{grade},
            </if>
            <if test="summary != null and summary != ''">
                summary = #{summary},
            </if>
            <if test="catalog != null and catalog != ''">
                catalog = #{catalog},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="progress != null">
                progress = #{progress},
            </if>
            <if test="support != null">
                support = #{support},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            update_time=sysdate()
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteBookByIds">
        update book set delete_time =sysdate() ,delete_by=#{username} where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
