<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.project.book.mapper.NoteTagMapper">

    <resultMap type="com.dimple.project.book.entity.NoteTag" id="TagResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="color" column="color"/>
        <result property="count" column="count"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="selectNoteTagList" parameterType="com.dimple.project.book.entity.NoteTag" resultMap="TagResult">
        select t.id,t.title,t.color,t.create_time,t.create_by ,count(bt.id) as count
        from bk_tag t left join bk_note_tag bt
        on t.id=bt.tag_id
        where t.delete_time is null
        <if test="title != null and title != ''">
            AND t.title like concat('%', #{title}, '%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(t.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(t.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        group by t.id
    </select>

    <select id="selectNoteTagById" resultMap="TagResult">
        select t.id,t.title,t.color,count(bt.id) as count
        from bk_tag t left join bk_note_tag bt
        on t.id=bt.tag_id
        where t.delete_time is null and t.id = #{id}
    </select>


    <select id="selectNoteTagByTitle" resultType="com.dimple.project.book.entity.NoteTag">
        select id,color,title from bk_tag where title=#{title}
    </select>


    <insert id="insertNoteTag" parameterType="com.dimple.project.book.entity.NoteTag" useGeneratedKeys="true"
            keyProperty="id">
        insert into bk_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">title,</if>
            <if test="color != null  and color != ''">color,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">#{title},</if>
            <if test="color != null  and color != ''">#{color},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateNoteTag" parameterType="com.dimple.project.book.entity.NoteTag">
        update bk_tag
        <set>
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="color != null  and color != ''">color = #{color},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time =sysdate()
        </set>
        where id = #{id}
    </update>


    <delete id="deleteNoteTagByIds">
        update bk_tag set delete_time=sysdate(),delete_by=#{username} where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
