<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.project.book.mapper.NoteMapper">

    <resultMap type="com.dimple.project.book.domain.Note" id="NoteMap">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="content" column="content"/>
        <result property="htmlContent" column="html_content"/>
        <result property="click" column="click"/>
        <result property="like" column="like"/>
        <result property="chapter" column="chapter"/>
        <result property="bookId" column="book_id"/>
        <result property="headerImg" column="header_img"/>
        <result property="headerImgType" column="header_img_type"/>
        <result property="support" column="support"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectNoteById" resultMap="NoteMap">
        select
         id, title, summary, content, html_content, click, `like`, chapter, book_id, header_img_type,header_img, support, comment, status, weight, create_by, create_time
        from note
        where id = #{id} and delete_time is null
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectNoteList" resultMap="NoteMap">
        select
        id, title, summary, click, `like`, chapter, book_id, header_img_type,header_img, support,
        comment, status, weight, create_by, create_time
        from note
        where delete_time is null
        <if test="title != null and title != ''">
            and title = #{title}
        </if>
        <if test="chapter != null and chapter != ''">
            and chapter = #{chapter}
        </if>
        <if test="bookId != null">
            and book_id = #{bookId}
        </if>
        <if test="support != null">
            and support = #{support}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>

    <!--新增所有列-->
    <insert id="insertNote" keyProperty="id" useGeneratedKeys="true">
        insert into note
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null ">title,</if>
            <if test="summary != null  and summary != ''">summary,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="htmlContent != null  and htmlContent != ''">html_content,</if>
            <if test="chapter != null  and chapter != ''">chapter,</if>
            <if test="bookId !=null ">book_id,</if>
            <if test="weight !=null ">weight,</if>
            <if test="headerImg != null and headerImg != '' ">header_img,</if>
            <if test="headerImgType != null and headerImgType != '' ">header_img_type,</if>
            <if test="support != null ">support,</if>
            <if test="comment != null ">comment,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null ">#{title},</if>
            <if test="summary != null  and summary != ''">#{summary},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="htmlContent != null  and htmlContent != ''">#{htmlContent},</if>
            <if test="chapter != null  and chapter != ''">#{chapter},</if>
            <if test="bookId != null ">#{bookId},</if>
            <if test="weight != null ">#{weight},</if>
            <if test="headerImg != null  and headerImg != ''">#{headerImg},</if>
            <if test="headerImgType != null  and headerImgType != ''">#{headerImgType},</if>
            <if test="support != null ">#{support},</if>
            <if test="comment != null ">#{comment},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate()
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateNote">
        update note
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="summary != null and summary != ''">
                summary = #{summary},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="htmlContent != null">
                html_content = #{htmlContent},
            </if>
            <if test="chapter != null and chapter != ''">
                chapter = #{chapter},
            </if>
            <if test="bookId != null">
                book_id = #{bookId},
            </if>
            <if test="headerImg != null and headerImg != ''">
                header_img = #{headerImg},
            </if>
            <if test="headerImgType != null and headerImgType != ''">
                header_img_type = #{headerImgType},
            </if>
            <if test="support != null">
                support = #{support},
            </if>
            <if test="comment != null">
                comment = #{comment},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="weight != null">
                weight = #{weight},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            update_time=sysdate()
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteNoteByIds">
        update note set delete_time =sysdate() ,delete_by=#{username} where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
