<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head th:include="common :: common-head"></head>
<link rel="stylesheet" href="/static/plugin/blueimpGallery/css/blueimp-gallery.css"
      th:href="@{/plugin/blueimpGallery/css/blueimp-gallery.css}">
<link rel="stylesheet" href="/static/plugin/blueimpGallery/css/blueimp-gallery-indicator.css"
      th:href="@{/plugin/blueimpGallery/css/blueimp-gallery-indicator.css}">
<style>
    img {
        padding: 5px;
        background-size: cover;
        background-position: center;
        width: 400px;
        height: 200px;
        border: 5px solid #ddd;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="file-manager">
                            <h5>显示：</h5>
                            <a href="file_manager.html#" class="file-control active">所有</a>
                            <a href="file_manager.html#" class="file-control">文档</a>
                            <a href="file_manager.html#" class="file-control">视频</a>
                            <a href="file_manager.html#" class="file-control">图片</a>
                            <div class="hr-line-dashed"></div>
                            <button class="btn btn-primary btn-block">上传文件</button>
                            <div class="hr-line-dashed"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9  ">
                <div class="row">
                    <div id="links" class="links"></div>
                    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                    <div id="blueimp-gallery" class="blueimp-gallery">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/plugin/blueimpGallery/js/blueimp-helper.js"
        th:src="@{/plugin/blueimpGallery/js/blueimp-helper.js}"></script>
<script src="/static/plugin/blueimpGallery/js/blueimp-gallery.js"
        th:src="@{/plugin/blueimpGallery/js/blueimp-gallery.js}"></script>

<script src="/static/plugin/blueimpGallery/js/blueimp-gallery-indicator.js"
        th:src="@{/plugin/blueimpGallery/js/blueimp-gallery-indicator.js}"></script>
<div th:include="common :: common-footer"></div>

<script src="/static/plugin/blueimpGallery/js/jquery.blueimp-gallery.min.js"
        th:src="@{/plugin/blueimpGallery/js/jquery.blueimp-gallery.min.js}"></script>
<script>
    $(function () {
        $.ajax({
            url: "/api/image",
            type: "get",
        }).done(function (result) {
            if (result.code = web_status.SUCCESS) {
                var linksContainer = $("#links");
                var carouselLinks = [];
                $.each(result.data, function (index, photo) {
                    $("<a></a>")
                        .append($("<img>").append($btns = $('<div class="file-panel">' +
                            '<span class="cancel">删除</span>' +
                            '<span class="rotateRight">向右旋转</span>' +
                            '<span class="rotateLeft">向左旋转</span></div>')).prop("src", photo))
                        .prop('href', photo)
                        .prop('title', '')
                        .attr("data-gallery", '')
                        .appendTo(linksContainer);
                    carouselLinks.push({
                        href: photo,
                        title: ""
                    })
                });
            } else {
                $.modal.errorMsg(result.msg);
            }
        });

    });
</script>
</body>

</html>
