<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.project.system.carouselMap.mapper.CarouselMapper">

    <resultMap type="com.dimple.project.system.carouselMap.entity.CarouselMap" id="BgCarouselMapMap">
        <result property="carouselId" column="carousel_id" jdbcType="INTEGER"/>
        <result property="imgUrl" column="img_url" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="subTitle" column="sub_title" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="target" column="target" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="display" column="display" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectCarouselMap" resultMap="BgCarouselMapMap">
        select
          carousel_id, img_url, title, sub_title, url, target, create_time,display
        from test.bg_carousel_map
        where carousel_id = #{carouselId}
    </select>


    <!--通过实体作为筛选条件查询-->
    <select id="selectCarouselMapList" resultMap="BgCarouselMapMap">
        select
        carousel_id, img_url, title, sub_title, url, target, create_time,display,click
        from test.bg_carousel_map
        <where>
            <if test="carouselId != null">
                and carousel_id = #{carouselId}
            </if>
            <if test="title != null and title != ''">
                and title like concat('%',#{title},'%')
            </if>
            <if test="display != null and display != ''">
                and title =#{display}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>
    <select id="selectCarouselMapListFront"
            resultType="com.dimple.project.system.carouselMap.entity.CarouselMap">
        select carousel_id,img_url,title,sub_title,target,url from bg_carousel_map where display='1'
    </select>
    <select id="selectCarouselMapData" resultType="com.dimple.project.chart.business.domain.Business">
        select  title as name,click as value from bg_carousel_map
    </select>

    <!--新增所有列-->
    <insert id="insertCarouselMap" keyProperty="carouselId" useGeneratedKeys="true">
        insert into bg_carousel_map(
        <if test="imgUrl != null and imgUrl !=''">img_url,</if>
        <if test="title != null and title != ''">title,</if>
        <if test="subTitle != null and subTitle != ''">sub_title,</if>
        <if test="url != null and url != ''">url,</if>
        <if test="target != null and target != ''">target,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="display != null and display != ''">display,</if>
        create_time
        )values(
        <if test="imgUrl != null and imgUrl != ''">#{imgUrl},</if>
        <if test="title != null and title != ''">#{title},</if>
        <if test="subTitle != null and subTitle != ''">#{subTitle},</if>
        <if test="url != null and url != ''">#{url},</if>
        <if test="target != null and target != ''">#{target},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="display != null and display != ''">#{display},</if>
        sysdate()
        )
    </insert>

    <!--通过主键修改数据-->
    <update id="updateCarouselMap">
        update test.bg_carousel_map
        <set>
            <if test="imgUrl != null and imgUrl != ''">
                img_url = #{imgUrl},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="subTitle != null and subTitle != ''">
                sub_title = #{subTitle},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="target != null and target != ''">
                target = #{target},
            </if>
            <if test="display != null and display != ''">
                display = #{display},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            update_time = sysdate()
        </set>
        where carousel_id = #{carouselId}
    </update>
    <update id="changeCarouselDisplay">
        update bg_carousel_map set display=#{display} where carousel_id =#{carouselId}
    </update>
    <update id="incrementCarouselClickById">
        update bg_carousel_map set click=click+1 where carousel_id =#{carouselId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteCarouselMapByIds">
        delete from test.bg_carousel_map where carousel_id in
        <foreach collection="array" item="carouselId" open="(" separator="," close=")">
            #{carouselId}
        </foreach>
    </delete>

</mapper>