<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.project.system.mapper.CarouselMapper">

    <resultMap type="com.dimple.project.system.domain.Carousel" id="SysCarouselMap">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="url" column="url"/>
        <result property="description" column="description"/>
        <result property="click" column="click"/>
        <result property="headerImg" column="header_img"/>
        <result property="display" column="display"/>
        <result property="target" column="target"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectCarouselById" resultMap="SysCarouselMap">
        select
          id, description, click, header_img, display, target, create_by, create_time,title,url
        from carousel
        where id = #{id} and delete_time is null
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectCarouselList" resultMap="SysCarouselMap">
        select
        id,title, description, click, header_img, display, target, create_by, create_time,url
        from carousel
        where delete_time is null
        <if test="description != null and description != ''">
            and description = #{description}
        </if>
        <if test="display != null">
            and display = #{display}
        </if>
        <if test="target != null">
            and target = #{target}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>

    <!--新增所有列-->
    <insert id="insertCarousel" keyProperty="id" useGeneratedKeys="true">
        insert into carousel (
        <if test="description != null and description != '' ">description,</if>
        <if test="headerImg != null and headerImg != '' ">header_img,</if>
        <if test="display != null and display != ''">display,</if>
        <if test="target != null and target != ''">target,</if>
        <if test="url != null and url != ''">url,</if>
        <if test="title != null and title != ''">title,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="description != null and description != ''">#{description},</if>
        <if test="headerImg != null and headerImg != ''">#{headerImg},</if>
        <if test="display != null and display != ''">#{display},</if>
        <if test="target != null and target != ''">#{target},</if>
        <if test="url != null and url != ''">#{url},</if>
        <if test="title != null and title != ''">#{title},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <!--通过主键修改数据-->
    <update id="updateCarousel">
        update carousel
        <set>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="headerImg != null and headerImg != ''">
                header_img = #{headerImg},
            </if>
            <if test="display != null">
                display = #{display},
            </if>
            <if test="target != null">
                target = #{target},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteCarouselById">
        update carousel set delete_time =sysdate(), delete_by=#{username} where id = #{id}
    </delete>

</mapper>
