<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.project.system.mapper.LinkMapper">

    <resultMap type="com.dimple.project.system.domain.Link" id="LinkMap">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="url" column="url"/>
        <result property="description" column="description"/>
        <result property="headerImg" column="header_img"/>
        <result property="status" column="status"/>
        <result property="display" column="display"/>
        <result property="email" column="email"/>
        <result property="weight" column="weight"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteBy" column="delete_by"/>
        <result property="deleteTime" column="delete_time"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectLinkById" resultMap="LinkMap">
        select
          id, title, url, description, header_img, status, display, email, weight, create_by, create_time, update_by, update_time
        from Linksys_link
        where id = #{id} and delete_time is null
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectLinkList" resultMap="LinkMap">
        select
        id, title, url, description, header_img, status, display, email, weight, create_by, create_time
        from Linksys_link
        where delete_time is null
        <if test="title != null and title != ''">
            and title = #{title}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="display != null">
            and display = #{display}
        </if>
        <if test="email != null and email != ''">
            and email = #{email}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
    </select>

    <!--新增所有列-->
    <insert id="insertLink" keyProperty="id" useGeneratedKeys="true">
        insert into sys_link (
        <if test="title != null  and title != ''">title,</if>
        <if test="url != null  and url != ''">url,</if>
        <if test="description != null  and description != ''">description,</if>
        <if test="headerImg != null  and headerImg != ''">header_img,</if>
        <if test="status != null ">status,</if>
        <if test="display != null ">display,</if>
        <if test="email != null  and email != ''">email,</if>
        <if test="weight != null ">weight,</if>
        <if test="createBy != null  and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="title != null  and title != ''">#{title},</if>
        <if test="url != null  and url != ''">#{url},</if>
        <if test="description != null  and description != ''">#{description},</if>
        <if test="headerImg != null  and headerImg != ''">#{headerImg},</if>
        <if test="status != null ">#{status},</if>
        <if test="display != null ">#{display},</if>
        <if test="email != null  and email != ''">#{email},</if>
        <if test="weight != null ">#{weight},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <!--通过主键修改数据-->
    <update id="updateLink">
        update Linksys_link
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="headerImg != null and headerImg != ''">
                header_img = #{headerImg},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="display != null">
                display = #{display},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="weight != null">
                weight = #{weight},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            ,update_time=sysdate()
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteLinkById">
        delete from Linksys_link where id = #{id}
    </delete>

    <delete id="deleteLinkByIds" parameterType="String">
        update sys_link set delete_time =sysdate(),delete_by=#{username} where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>