<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">


<head th:include="common :: common-head"></head>


<body class="gray-bg">

<div class="container-div ui-layout-center col-sm-12 animated fadeInRight">
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a class="btn btn-block btn-primary compose-mail">类别管理</a>
                        <div class="space-25"></div>
                        <ul class="folder-list m-b-md" style="padding: 0" id="categoryDetails">
                            <li th:each="category : ${categories}">
                                <a> <i class="fa fa-inbox "></i><span th:text="${category.title}"></span>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <form class="form-horizontal m" id="archivesAddForm">
                <div class="ibox-content">
                    <p class="small"><i class="fa fa-hand-o-up"></i> 在下方快捷添加分类</p>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">类别:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="password" placeholder="请输入类别">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">描述:</label>
                        <div class="col-sm-9">

                            <textarea class="form-control" name="password" placeholder="请输入描述"></textarea>
                        </div>
                    </div>
                    <a class="btn btn-block btn-info compose-mail">提交</a>


                </div>
            </form>
        </div>
        <div class="col-sm-9 animated fadeInRight">
            <div class="container-div">
                <div class="row">
                    <div class="col-sm-12 search-collapse">
                        <form id="role-form">
                            <div class="select-list">
                                <ul>
                                    <li>
                                        类别：<input type="text" name="title"/>
                                    </li>
                                    <li>
                                        描述：<input type="text" name="description"/>
                                    </li>
                                    </li>
                                    <li class="select-time">
                                        <label>创建时间： </label>
                                        <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                               name="startTime"/>
                                        <span>-</span>
                                        <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                               name="endTime"/>
                                    </li>
                                    <li>
                                        <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                                class="fa fa-search"></i>&nbsp;搜索</a>
                                        <a class="btn btn-warning btn-rounded btn-sm"
                                           onclick="$.table.resetFormRefresh()"><i
                                                class="fa fa-refresh"></i>&nbsp;重置</a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>

                    <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
                        <a class="btn btn-success" onclick="$.operate.add()">
                            <i class="fa fa-plus"></i> 新增
                        </a>
                        <a class="btn btn-primary btn-edit disabled" onclick="$.operate.update()">
                            <i class="fa fa-edit"></i> 修改
                        </a>
                        <a class="btn btn-danger btn-del disabled" onclick="$.operate.deleteAll()">
                            <i class="fa fa-remove"></i> 删除
                        </a>
                        <a class="btn btn-danger btn-del disabled" onclick="support(false)">
                            <i class="fa fa-remove"></i> 推荐
                        </a>
                        <a class="btn btn-danger btn-del disabled" onclick="support(true)">
                            <i class="fa fa-remove"></i> 取消推荐
                        </a>


                    </div>

                    <div class="col-sm-12 select-table table-striped">
                        <table id="bootstrap-table" data-mobile-responsive="true"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:include="common :: common-footer"></div>
    <script src="/static/js/custom/blog/category/list.js"
            th:src="@{/js/custom/blog/category/list.js}"></script>
</div>

</body>

</html>
