<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: common-head"></head>
<link th:href="@{/plugin/jquery-ztree/3.5/css/metro/zTreeStyle.css}"
      href="/static/plugin/jquery-ztree/3.5/css/metro/zTreeStyle.css" rel="stylesheet"/>

<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="updateRoleForm">
        <input type="hidden" id="roleId" name="roleId" th:value="${role.roleId}">
        <div class="form-group">
            <label class="col-sm-3 control-label ">角色名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="roleName" id="roleName" th:value="${role.roleName}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">描述：</label>
            <div class="col-sm-8">
                <input id="description" name="description" class="form-control" type="text"
                       th:value="${role.description}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">创建时间：</label>
            <div class="col-sm-8">
                <input class="form-control" readonly="true"
                       th:value="*{#dates.format(role.createTime,'yyyy-MM-dd HH:mm:ss')}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-8">
                <div class="onoffswitch">
                    <input type="checkbox" th:checked="true" class="onoffswitch-checkbox" id="locked" name="status"
                           th:value="${role.locked}">
                    <label class="onoffswitch-label" for="locked">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">菜单权限</label>
            <div class="col-sm-8">
                <div id="permissionTree" class="ztree"></div>
            </div>
        </div>
    </form>
</div>
</body>
<div th:include="/common :: common-footer"></div>
<script th:src="@{/plugin/jquery-ztree/3.5/js/jquery.ztree.all-3.5.js}"></script>
<script>
    $(function () {

        var url = "/api/permissionTree/" + $("#roleId").val();
        var options = {
            id: "permissionTree",
            url: url,
            check: {enable: true, nocheckInherit: true, chkboxType: {"Y": "ps", "N": "ps"}},
            expandLevel: 0
        };
        $.tree.init(options);

        $("#updateRoleForm").formValidate({
            rules: {
                roleName: {
                    required: true
                },
                description: {
                    required: true
                }
            },
            messages: {
                "roleName": "请输入姓名",
                "description": "请输入描述"
            },
        });
    });

    function submitHandler() {
        if ($.validate.form()) {
            updateRole();
        }
    }

    function updateRole() {
        $.ajax({
            url: "/api/role",
            type: "put",
            data: {
                roleId: $("#roleId").val(),
                permissionIds: $.tree.getCheckedNodes(),
                roleName: $("#roleName").val(),
                locked: $("#locked").val(),
                description: $("#description").val()
            },
            dataType: "json",
            success: function (data) {
                if (data != null && data.code == web_status.SUCCESS) {
                    $.modal.msgReload("修改成功！", modal_status.SUCCESS);
                } else {
                    $.modal.msgReload("修改失败！", modal_status.FAIL);
                }
            }
        })
    }
</script>
</div>
</html>