.comment-main-content
  text-align left
  h1, h2, h3, h4, h5, h6, h7
    padding 0
    margin 0
    font-weight 500
  h1
    font-size 20px
    @media only screen and (max-width: $responsive-sm)
      font-size 14px
    @media screen and (min-width: $responsive-sm)
      font-size 16px
    @media screen and (min-width: $responsive-md)
      font-size 18px
    @media screen and (min-width: $responsive-lg)
      font-size 20px
  h2
    font-size 17px
    @media only screen and (max-width: $responsive-sm)
      font-size 13px
    @media screen and (min-width: $responsive-sm)
      font-size 15px
    @media screen and (min-width: $responsive-md)
      font-size 16px
    @media screen and (min-width: $responsive-lg)
      font-size 17px
  h3
    font-size 15px
    @media only screen and (max-width: $responsive-sm)
      font-size 12px
    @media screen and (min-width: $responsive-sm)
      font-size 13px
    @media screen and (min-width: $responsive-md)
      font-size 14px
    @media screen and (min-width: $responsive-lg)
      font-size 15px
  h4, h5, h6, h7
    font-size 14px
    @media only screen and (max-width: $responsive-sm)
      font-size 12px
    @media screen and (min-width: $responsive-sm)
      font-size 12px
    @media screen and (min-width: $responsive-md)
      font-size 13px
    @media screen and (min-width: $responsive-lg)
      font-size 14px
  ul, ol
    list-style-type square
    line-height 1.5em
    padding-left 2em
    margin-bottom 1.5em
  li
    list-style-type square
    margin .5em 0
    font-weight 200
    color $default-title-color
  p
    font-size 16px
    line-height 22px
    margin 10px 0
    color $default-info-color
    word-wrap break-word
    @media only screen and (max-width: $responsive-sm)
      font-size 13px
      line-height 18px
      margin 6px 0
    @media screen and (min-width: $responsive-sm)
      font-size 14px
      line-height 19px
      margin 6px 0
    @media screen and (min-width: $responsive-md)
      font-size 15px
      line-height 20px
      margin 8px 0
    @media screen and (min-width: $responsive-lg)
      font-size 16px
      line-height 22px
      margin 10px 0
  img
    display block
    max-width 100%
    margin 0 auto
    cursor pointer
  blockquote
    padding-left 12px
    margin 15px 0
    word-wrap break-word
    border-left 5px solid $default-desc-hover-color
    @media only screen and (max-width: $responsive-sm)
      padding-left 5px
      margin 8px 0
      border-left 2px solid $default-desc-hover-color
    @media screen and (min-width: $responsive-sm)
      padding-left 8px
      margin 10px 0
      border-left 3px solid $default-desc-hover-color
    @media screen and (min-width: $responsive-md)
      padding-left 10px
      margin 12px 0
      border-left 4px solid $default-desc-hover-color
    @media screen and (min-width: $responsive-lg)
      padding-left 12px
      margin 15px 0
      border-left 5px solid $default-desc-hover-color
    > p
      font-weight 100
      margin 5px 0
      color $default-info-color
      @media screen and (min-width: $responsive-sm)
        font-size 13px
        line-height 20px
      @media screen and (min-width: $responsive-md)
        font-size 14px
        line-height 21px
      @media screen and (min-width: $responsive-lg)
        font-size 15px
        line-height 22px

// dark主题下的颜色配置写在article.styl文件中
