@import "reset.styl";
@import "mixin.styl";
@import "base.styl";

body::-webkit-scrollbar-thumb
  border-radius: 50px;
  background: #67aef7;


body::-webkit-scrollbar-track-piece
  background: #e0ddde;
