<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimple.project.blog.tag.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="com.dimple.project.blog.tag.domain.Tag">
        <id column="tag_id" property="tagId" jdbcType="INTEGER"/>
        <result column="tag_title" property="tagTitle" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="selectTagVo">
        select  tag_id, tag_title, create_by, create_time, update_by, update_time
        from bg_tag
    </sql>

    <insert id="insertTag" useGeneratedKeys="true" keyProperty="tagId">
        insert into bg_tag(
        <if test="tagTitle != null and tagTitle != ''">tag_title,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="tagTitle != null and tagTitle != ''">#{tagTitle},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <update id="updateTag">
        update bg_tag
        <set>
            <if test="tagTitle != null and tagTitle != ''">tag_title = #{tagTitle},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where tag_id = #{tagId}
    </update>

    <delete id="deleteTagByIds">
        delete from bg_tag where tag_id in
        <foreach item="tagId" collection="array" open="(" separator="," close=")">
            #{tagId}
        </foreach>
    </delete>

    <select id="selectTagList" resultType="com.dimple.project.blog.tag.domain.Tag">
        <include refid="selectTagVo"/>
        <where>
            <if test="tagTitle!=null and tagTitle != '' ">
                and tag_title like concat('%',#{tagTitle},'%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="selectTagById" resultType="com.dimple.project.blog.tag.domain.Tag">
        <include refid="selectTagVo"/>
        where tag_id =#{tagId}
    </select>

    <select id="selectTagByTagTitle" resultType="com.dimple.project.blog.tag.domain.Tag">
        select * from bg_tag where tag_title = #{tag}
    </select>

    <select id="selectTagIdsByTagTitles" resultType="java.lang.Integer">
        select tag_id from bg_tag where tag_title in
        <foreach collection="tagTitles" item="title" open="(" separator="," close=")">
            #{title}
        </foreach>
    </select>
    <select id="selectTagTitleByTagId" resultType="java.lang.String">
        select tag_title from bg_tag where tag_id=#{tagId}
    </select>

</mapper>