<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.project.tool.mapper.LocalStorageMapper">

    <resultMap type="com.dimple.project.tool.domain.LocalStorage" id="LocalStorageMap">
        <result property="id" column="id"/>
        <result property="realName" column="real_name"/>
        <result property="name" column="name"/>
        <result property="suffix" column="suffix"/>
        <result property="path" column="path"/>
        <result property="type" column="type"/>
        <result property="size" column="size"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="insertLocalStorage">
        insert into local_storage(
        <if test="realName != null and realName != ''">real_name,</if>
        <if test="name != null and name != ''">name,</if>
        <if test="suffix != null and suffix != ''">suffix,</if>
        <if test="path != null and path != ''">path,</if>
        <if test="type != null and type != ''">type,</if>
        <if test="size != null and size != ''">size,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="realName != null and realName != ''">#{realName},</if>
        <if test="name != null and name != ''">#{name},</if>
        <if test="suffix != null and suffix != ''">#{suffix},</if>
        <if test="path != null and path != ''">#{path},</if>
        <if test="type != null and type != ''">#{type},</if>
        <if test="size != null and size != ''">#{size},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <update id="updateLocalStorage">
        update local_storage
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <!--通过实体作为筛选条件查询-->
    <select id="selectLocalStorageList" resultMap="LocalStorageMap">
        select id, real_name, name, suffix, path, type, size, create_by, create_time
        from local_storage
        where delete_time is null
        <if test="name != null and name != ''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="suffix != null and suffix != ''">
            and suffix = #{suffix}
        </if>
        <if test="type != null and type != ''">
            and type = #{type}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>
    <select id="selectLocalStorageById" resultMap="LocalStorageMap">
        select id, real_name, name, suffix, path, type, size, create_by, create_time
        from local_storage
        where delete_time is null and id=#{id}
    </select>

    <!--通过主键删除-->
    <delete id="deleteLocalStorageById">
      update local_storage set delete_time = sysdate(),delete_by=#{username} where id=#{id}
    </delete>

</mapper>
