<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oops - 403</title>
    <link th:href="@{/css/error.css}" rel="stylesheet">
    <script language="JavaScript">
        if (window != top)
            top.location.href = location.href;
    </script>
    <style>
        p{
            word-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
        }
    </style>

</head>
<body>
<div class="not-found parallax">
    <div class="sky-bg"></div>
    <div class="wave-7"></div>
    <div class="wave-6"></div>
    <a class="wave-island" href="/">
        <img src="http://res.cloudinary.com/andrewhani/image/upload/v1524501929/404/island.svg" alt="Island">
    </a>
    <div class="wave-5"></div>
    <div class="wave-lost wrp">
        <span>4</span>
        <span>0</span>
        <span>3</span>
    </div>
    <div class="wave-4"></div>
    <div class="wave-boat">
        <img class="boat" src="http://res.cloudinary.com/andrewhani/image/upload/v1524501894/404/boat.svg" alt="Boat">
    </div>
    <div class="wave-3"></div>
    <div class="wave-2"></div>
    <div class="wave-1"></div>
    <div class="wave-message">
        <p>警告：由于某些原因，你已经被加入当前网站黑名单！</p>
        <p>如果你继续恶意访问，将加入系统黑名单，永不解封！</p>
        <p>如有疑问，可以通过以下邮件地址和我取得联系！</p>
        <p> Email: bianxiaofeng@sohu.com</p>
    </div>
</div>
</body>
<script th:src="@{/js/error.js}"></script>
</html>
