/**
 * @desc: 颜色表 
 */

$color: (
  color-ele-primary: #409eff,
  color-ele-success: #67c23a,
  color-ele-danger: #f56c6c,
  color-ele-holder: #c0c4cc,
  color-default: #4c4948,
  color-navbar: #eee,
  color-navbar-rollup-bg: rgba(255, 255, 255, 0.8),
  color-navbar-rollup-color: #4c4948,
  color-home-article-detail: #858585,
  color-title: #fff,
  color-avatar-bg: #c0c4cc,
  color-avatar-icon: #fff,
  color-hr-border: #a4d8fa,
  bg-header-mask: rgba(0, 0, 0, 0.5),
  color-copyright-border: #eee,
  color-copyright-label: #46adf1,
  color-comments: #4c4948,
  color-list-hover: #40a0ffb4,
  color-catalog-active: #03c1b4
);
