* {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background: #fff;
    color: #4d4d4d;
    font-size: 14px;
    font-family: '微软雅黑', 'Microsoft YaHei', 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', 'Hiragino Sans GB', serif;
}

ul {
    margin: 0;
    padding: 0;
}

input, select, textarea, button {
    outline: none;
    font-family: inherit;
}

textarea {
    resize: none;
    min-height: 100px;
}

/***********------------------------------login------------------------------------**********/
.denlu {
    width: 30%;
    padding: 40px 50px;
    z-index: 999;
    background: #fff;
    margin: 200px auto 0;
}

.denlu .auth {
    font-style: normal;
    display: block;
    padding: 5px;
    overflow: hidden;
    clear: both;
    zoom: 1;
}

.denlu .auth span {
    display: block;
    font-size: 20px;
    line-height: 30px;
    color: #00b8bf;
}

.denlu .auth span i {
    color: #00b8bf;
}

.denlu .input-group {
    overflow: hidden;
    clear: both;
    zoom: 1;
    position: relative;
    margin: 25px 0;
    border: 1px solid #00b8bf;
}

.denlu .input-group .input-label {
    width: 50px;
    display: block;
    height: 50px;
    position: absolute;
    left: 0;
    text-align: center;
    line-height: 50px;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset;
}

input::-webkit-input-placeholder {
    color: #00b8bf;
}

.denlu .input-group .input-label i {
    font-size: 18px;
    color: #00b8bf;
}

.denlu .input-group .input-field {
    width: 246px;
    color: #00b8bf;
    background: transparent;
    padding: 5px 0;
    height: 50px;
    line-height: 50px;
    border: 0 none;
    margin-left: 50px;
    outline: none;
}

.denlu .input-group .input-sub {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: 10px;
    cursor: pointer;
    background: #00b8bf;
    border: none;
    color: #fff;
}

.denlu #captcha {
    position: absolute;
    right: 0;
    cursor: pointer;
    border-left: 1px solid #00b8bf;
}

.denlu .foot p {
    text-align: center;
    color: #37588B;
}

@media (min-width: 980px) and (max-width: 1200px) {
    .denlu {
        width: 40%;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .denlu {
        width: 60%;
    }
}

@media (max-width: 767px) {
    .denlu {
        width: 100%;
        padding: 20px;
        margin: auto;
    }
}