.skin-blue .navbar {
    background-color: #3c8dbc
}

.skin-blue .navbar .nav > li > a {
    color: #fff
}

.skin-blue .navbar .nav > li > a:hover,
.skin-blue .navbar .nav > li > a:active,
.skin-blue .navbar .nav > li > a:focus,
.skin-blue .navbar .nav .open > a,
.skin-blue .navbar .nav .open > a:hover,
.skin-blue .navbar .nav .open > a:focus,
.skin-blue .navbar .nav > .active > a {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6
}

.skin-blue .navbar .sidebar-toggle {
    color: #fff
}

.skin-blue .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1)
}

.skin-blue .navbar .sidebar-toggle {
    color: #fff
}

.skin-blue .navbar .sidebar-toggle:hover {
    background-color: #367fa9
}

@media ( max-width: 767px) {
    .skin-blue .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1)
    }

    .skin-blue .navbar .dropdown-menu li a {
        color: #fff
    }

    .skin-blue .navbar .dropdown-menu li a:hover {
        background: #367fa9
    }
}

.skin-blue .logo {
    background-color: #367fa9;
    color: #fff;
    border-bottom: 0 solid transparent
}

.skin-blue .logo:hover {
    background-color: #357ca5
}

.skin-blue li.user-header {
    background-color: #3c8dbc
}

.skin-blue .content-header {
    background: transparent
}

.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
    background-color: #222d32
}

.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
    color: #fff
}

.skin-blue .nav > li.header {
    color: #4b646f;
    background: #1a2226
}

.skin-blue .nav > li.active {
    color: #fff;
    background: #293846;
    border-left: 3px solid #3c8dbc;
}

.skin-blue .nav > li.active:last-child {
    border-left: none;
}

.skin-blue .nav > li > .treeview-menu {
    margin: 0 1px;
    background: #2c3b41
}

.skin-blue .sidebar a {
    color: #b8c7ce
}

.skin-blue .sidebar a:hover {
    text-decoration: none
}

.skin-blue .treeview-menu > li > a {
    color: #8aa4af
}

.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover {
    color: #fff
}

.skin-blue .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px
}

.skin-blue .sidebar-form input[type="text"],
.skin-blue .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px
}

.skin-blue .sidebar-form input[type="text"] {
    color: #666;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px
}

.skin-blue .sidebar-form input[type="text"]:focus,
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: #666
}

.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff
}

.skin-blue .sidebar-form .btn {
    color: #999;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0
}

.skin-blue.layout-top-nav > .logo {
    background-color: #3c8dbc;
    color: #fff;
    border-bottom: 0 solid transparent
}

.skin-blue.layout-top-nav > .logo:hover {
    background-color: #3b8ab8
}

.skin-blue .content-tabs {
    border-bottom: solid 2px #e7eaec;
}

.skin-blue.layout-top-nav > .logo {
    background-color: #3c8dbc;
    color: #fff;
    border-bottom: 0 solid transparent
}

.skin-blue.layout-top-nav > .logo:hover {
    background-color: #3b8ab8
}
