<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimple.dao.OperatorLogMapper" >
  <resultMap id="BaseResultMap" type="com.dimple.bean.OperatorLog" >
    <id column="operId" property="operid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="action" property="action" jdbcType="VARCHAR" />
    <result column="method" property="method" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="oper_url" property="operUrl" jdbcType="VARCHAR" />
    <result column="oper_name" property="operName" jdbcType="VARCHAR" />
    <result column="oper_ip" property="operIp" jdbcType="VARCHAR" />
    <result column="oper_location" property="operLocation" jdbcType="VARCHAR" />
    <result column="oper_param" property="operParam" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="error_msg" property="errorMsg" jdbcType="VARCHAR" />
    <result column="oper_time" property="operTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    operId, title, action, method, channel, oper_url, oper_name, oper_ip, oper_location, 
    oper_param, status, error_msg, oper_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dimple.bean.OperatorLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from operator_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from operator_log
    where operId = #{operid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from operator_log
    where operId = #{operid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dimple.bean.OperatorLogExample" >
    delete from operator_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dimple.bean.OperatorLog" >
    insert into operator_log (operId, title, action, 
      method, channel, oper_url, 
      oper_name, oper_ip, oper_location, 
      oper_param, status, error_msg, 
      oper_time)
    values (#{operid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{action,jdbcType=VARCHAR}, 
      #{method,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{operUrl,jdbcType=VARCHAR}, 
      #{operName,jdbcType=VARCHAR}, #{operIp,jdbcType=VARCHAR}, #{operLocation,jdbcType=VARCHAR}, 
      #{operParam,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{errorMsg,jdbcType=VARCHAR}, 
      #{operTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dimple.bean.OperatorLog" >
    insert into operator_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="operid != null" >
        operId,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="action != null" >
        action,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="operUrl != null" >
        oper_url,
      </if>
      <if test="operName != null" >
        oper_name,
      </if>
      <if test="operIp != null" >
        oper_ip,
      </if>
      <if test="operLocation != null" >
        oper_location,
      </if>
      <if test="operParam != null" >
        oper_param,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="errorMsg != null" >
        error_msg,
      </if>
      <if test="operTime != null" >
        oper_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="operid != null" >
        #{operid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="operUrl != null" >
        #{operUrl,jdbcType=VARCHAR},
      </if>
      <if test="operName != null" >
        #{operName,jdbcType=VARCHAR},
      </if>
      <if test="operIp != null" >
        #{operIp,jdbcType=VARCHAR},
      </if>
      <if test="operLocation != null" >
        #{operLocation,jdbcType=VARCHAR},
      </if>
      <if test="operParam != null" >
        #{operParam,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="errorMsg != null" >
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null" >
        #{operTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dimple.bean.OperatorLogExample" resultType="java.lang.Integer" >
    select count(*) from operator_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update operator_log
    <set >
      <if test="record.operid != null" >
        operId = #{record.operid,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.action != null" >
        action = #{record.action,jdbcType=VARCHAR},
      </if>
      <if test="record.method != null" >
        method = #{record.method,jdbcType=VARCHAR},
      </if>
      <if test="record.channel != null" >
        channel = #{record.channel,jdbcType=VARCHAR},
      </if>
      <if test="record.operUrl != null" >
        oper_url = #{record.operUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.operName != null" >
        oper_name = #{record.operName,jdbcType=VARCHAR},
      </if>
      <if test="record.operIp != null" >
        oper_ip = #{record.operIp,jdbcType=VARCHAR},
      </if>
      <if test="record.operLocation != null" >
        oper_location = #{record.operLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.operParam != null" >
        oper_param = #{record.operParam,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.errorMsg != null" >
        error_msg = #{record.errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.operTime != null" >
        oper_time = #{record.operTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update operator_log
    set operId = #{record.operid,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      action = #{record.action,jdbcType=VARCHAR},
      method = #{record.method,jdbcType=VARCHAR},
      channel = #{record.channel,jdbcType=VARCHAR},
      oper_url = #{record.operUrl,jdbcType=VARCHAR},
      oper_name = #{record.operName,jdbcType=VARCHAR},
      oper_ip = #{record.operIp,jdbcType=VARCHAR},
      oper_location = #{record.operLocation,jdbcType=VARCHAR},
      oper_param = #{record.operParam,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=BIT},
      error_msg = #{record.errorMsg,jdbcType=VARCHAR},
      oper_time = #{record.operTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dimple.bean.OperatorLog" >
    update operator_log
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        action = #{action,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="operUrl != null" >
        oper_url = #{operUrl,jdbcType=VARCHAR},
      </if>
      <if test="operName != null" >
        oper_name = #{operName,jdbcType=VARCHAR},
      </if>
      <if test="operIp != null" >
        oper_ip = #{operIp,jdbcType=VARCHAR},
      </if>
      <if test="operLocation != null" >
        oper_location = #{operLocation,jdbcType=VARCHAR},
      </if>
      <if test="operParam != null" >
        oper_param = #{operParam,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="errorMsg != null" >
        error_msg = #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null" >
        oper_time = #{operTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where operId = #{operid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dimple.bean.OperatorLog" >
    update operator_log
    set title = #{title,jdbcType=VARCHAR},
      action = #{action,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      oper_url = #{operUrl,jdbcType=VARCHAR},
      oper_name = #{operName,jdbcType=VARCHAR},
      oper_ip = #{operIp,jdbcType=VARCHAR},
      oper_location = #{operLocation,jdbcType=VARCHAR},
      oper_param = #{operParam,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      error_msg = #{errorMsg,jdbcType=VARCHAR},
      oper_time = #{operTime,jdbcType=TIMESTAMP}
    where operId = #{operid,jdbcType=INTEGER}
  </update>
</mapper>