<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('留言列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <p>QQ号码：</p>
                            <input type="text" name="qqNum"/>
                        </li>
                        <li>
                            <p>邮箱地址：</p>
                            <input type="text" name="email"/>
                        </li>
                        <li>
                            <p>页面id：</p>
                            <input type="text" name="pageId"/>
                        </li>
                        <li class="select-time">
                            <p>评论时间：</p>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[beginUpdateDatetime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[endUpdateDatetime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:comment:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:comment:remove')}]];
    var prefix = ctx + "blog/comment";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            changeDisplayUrl: prefix + "/display",
            modalName: "留言",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'nickname',
                    title: '昵称',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'email',
                    title: '邮箱地址'
                },
                {
                    field: 'content',
                    title: '留言',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'replyId',
                    title: '原评论内容',
                    formatter: function (value, row, index) {
                        if (row.parentComment == null) {
                            return "-";
                        }
                        return $.table.tooltip(row.parentComment.content);
                    }
                },
                {
                    field: 'pageId',
                    title: '页面id'
                },
                {
                    field: 'good',
                    title: '点赞数'
                },
                {
                    field: 'bad',
                    title: '踩数'
                },
                {
                    field: 'display',
                    title: '是否显示',
                    formatter: function (value, row, index) {
                        return statusTools(value, row);
                    }
                },
                {
                    field: 'reviewMsg',
                    title: '审核信息',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'createTime',
                    title: '评论时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function statusTools(value, row) {
        if (value == false) {
            return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.id + '\')"></i> ';
        } else {
            return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.id + '\')"></i> ';
        }
    }

    /* 不显示 */
    function disable(id) {
        $.modal.confirm("确认要不显示该评论吗？", function () {
            $.operate.put($.table._option.changeDisplayUrl + "/" + id, {display: false})
        })
    }

    /* 显示 */
    function enable(id) {
        $.modal.confirm("确认要显示该评论吗？", function () {
            $.operate.put($.table._option.changeDisplayUrl + "/" + id, {display: true});
        })
    }
</script>
</body>
</html>