<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dimple.project.link.mapper.LinkMapper">

    <insert id="insertLink">
        insert into bg_link (
        <if test="title != null and title != '' ">title,</if>
        <if test="description != null and description != '' ">description,</if>
        <if test="headerImg != null and headerImg != '' ">header_img,</if>
        <if test="weight != null and weight != '' ">weight,</if>
        <if test="available != null and available != ''">available,</if>
        <if test="processed != null and processed != ''">processed,</if>
        <if test="display != null and display != ''">display,</if>
        <if test="email != null and email != ''">email,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="title != null and title != ''">#{title},</if>
        <if test="description != null and description != ''">#{description},</if>
        <if test="headerImg != null and headerImg != ''">#{headerImg},</if>
        <if test="weight != null and weight != ''">#{weight},</if>
        <if test="available != null and available != ''">#{available},</if>
        <if test="processed != null and processed != ''">#{processed},</if>
        <if test="display != null and display != ''">#{display},</if>
        <if test="email != null and email != ''">#{email},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <update id="updateLink">
        update bg_link
        <set>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="headerImg != null and headerImg != ''">header_img = #{headerImg},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="weight != null and weight != ''">weight = #{weight},</if>
            <if test="display != null and display != ''">display = #{display},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="email != null">email = #{email},</if>
            update_time = sysdate()
        </set>
        where link_id =#{linkId}
    </update>

    <update id="changeDisplay">
        update bg_link set display=#{display} where link_id =#{id}
    </update>

    <update id="processedLinkByIds">
        update bg_link set processed= 1 where link_id in
        <foreach item="linkId" collection="array" open="(" separator="," close=")">
            #{linkId}
        </foreach>
    </update>

    <update id="incrementLinkClickById">
        update bg_link set click=click+1 where link_id=#{id}
    </update>

    <delete id="deleteLinkByIds">
        delete from bg_link where link_id in
        <foreach item="linkId" collection="array" open="(" separator="," close=")">
            #{linkId}
        </foreach>
    </delete>


    <select id="selectLinkList" resultType="com.dimple.project.link.domain.Link">
        select link_id, title, description, header_img, click, weight, available,
        processed, display, email, create_by, create_time,url
        from bg_link
        <where>
            <if test="title != null and title != ''">
                and config_name like concat('%', #{configName}, '%')
            </if>
            <if test="available !=null and available!=''">
                and available=#{available}
            </if>
            <if test="processed !=null and processed !=''">
                and processed =#{processed}
            </if>
            <if test="display !=null and display !=''">
                and display =#{display}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="selectLinkById" resultType="com.dimple.project.link.domain.Link">
        select link_id, title, description, header_img, weight, processed, display, email, create_by, create_time,url
        from
        bg_link where link_id=#{linkId}
    </select>

    <select id="selectLinkCountByDisplay" resultType="java.lang.Integer">
        select count(*) from bg_link where display=#{dispaly}
    </select>

    <select id="selectLinkCountByAvailable" resultType="java.lang.Integer">
      select count(*) from bg_link where available=#{available}
    </select>
    <select id="selectLinkCountByProcessed" resultType="java.lang.Integer">
        select count(*) from bg_link where processed=#{processed}
    </select>
    <select id="selectLinkCount" resultType="java.lang.Integer">
        select count(*) from bg_link
    </select>
    <select id="selectLinkListFront" resultType="com.dimple.project.link.domain.Link">
        select link_id,title,url from bg_link where display=1 and available=1 order by weight limit 5
    </select>
    <select id="selectLinkListFrontWithSummary" resultType="com.dimple.project.link.domain.Link">
        select link_id,title,url,header_img,description from bg_link where display=1 and available=1 order by weight
    </select>


</mapper>