<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: common-head"></head>

<body class="gray-bg">
<div class="col-sm-2">
    <div class="ibox float-e-margins">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                <div class="space-25"></div>
                <h3 style="margin-bottom: 20px">概览</h3>
                <ul class="folder-list m-b-md linksDetails" style="padding: 0">
                    <li>
                        <a href="#"> <i class="fa fa-heart-o "></i> 登录日志 <span class="label label-success pull-right">
<div th:text="${details.get('total')}"></div>
</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"> <i class="fa fa-square-o"></i> 成功<span class="label label-danger pull-right">
<div></div>
</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"> <i class="fa fa-envelope-o"></i> 失败<span
                                class="label label-warning pull-right">
<div></div>
</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"> <i class="fa fa-trash-o"></i> IP地址<span class="label label-default pull-right">
<div></div>
</span>
                        </a>
                    </li>
                </ul>

                <h5 class="tag-title">浏览器</h5>
                <ul class="tag-list" style="padding: 0">
                    <li><a class="browserType" browserType="Chrome"> <i class="fa fa-tag"></i> Chrome</a>
                    </li>
                    <li><a class="browserType"><i class="fa fa-tag"></i> 家庭</a>
                    </li>
                    <li><a class="browserType"><i class="fa fa-tag"></i> 孩子</a>
                    </li>
                    <li><a class="browserType"><i class="fa fa-tag"></i> 假期</a>
                    </li>
                    <li><a class="browserType"><i class="fa fa-tag"></i> 音乐</a>
                    </li>
                    <li><a class="browserType"><i class="fa fa-tag"></i> 照片</a>
                    </li>
                    <li><a class="browserType"><i class="fa fa-tag"></i> 电影</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <h5 class="tag-title">OS类型</h5>
                <ul class="tag-list" style="padding: 0">
                    <li><a class="osType" osType="Windows 10"><i class="fa fa-tag"></i> Windows 10</a>
                    </li>
                    <li><a class="osType" osType="Windows 7"><i class="fa fa-tag"></i> Windows 7</a>
                    </li>
                    <li><a class="osType" osType="Linux"><i class="fa fa-tag"></i>Linux </a>
                    </li>
                    <li><a class="osType" osType=" Mac OS"><i class="fa fa-tag"></i> Mac OS</a>
                    </li>
                    <li><a class="osType" osType=" Mac OS X"><i class="fa fa-tag"></i> Mac OS X</a>
                    </li>
                    <li><a class="osType" osType="Solaris"><i class="fa fa-tag"></i> Solaris</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="container-div ui-layout-center col-sm-10 animated fadeInRight">

    <div class="row">

        <div class="col-sm-10 search-collapse ">
            <form id="loginLog-form">
                <div class="select-list">
                    <ul>
                        <input type="hidden" name="osType" id="osType">
                        <input type="hidden" name="browserType" id="browserType">
                        <li>
                            <label>登录地址：</label><input type="text" name="address"/>
                        </li>
                        <li>
                            <label>登录名称：</label><input type="text" name="loginName"/>
                        </li>
                        <li>
                            <label>登录状态：</label><select name="status">
                            <option value="">所有</option>
                            <option value="true">成功</option>
                            <option value="false">失败</option>
                        </select>
                        </li>
                        <li class="select-time">
                            <label>登录时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="startTime"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="endTime"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.table.resetFormRefresh()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group" style="margin-top: 10px">
            <a class="btn btn-danger" onclick="$.operate.clean()">
                <i class="fa fa-trash"></i> 清空
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="$.operate.deleteAll()">
                <i class="fa fa-remove"></i> 删除
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped ">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>


<div th:include="common :: common-footer"></div>

<script src="/static/js/custom/log/loginLogList.js" th:src="@{/js/custom/log/loginLogList.js}"></script>

</body>

</html>
