<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head th:include="common :: common-head"></head>

<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="operlog-form">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>系统模块： </label><input type="text" name="title"/>
                        </li>
                        <li>
                            <label>操作人员： </label><input type="text" name="operatorName"/>
                        </li>
                        <li>
                            <label>操作类型： </label><select name="operateType">
                            <option value="">所有</option>
                            <option value=""></option>
                        </select>
                        </li>
                        <li class="select-time">
                            <label>操作时间： </label>
                            <input type="text" class="time-input" name="startTime" placeholder="开始时间"/>
                            <span>-</span>
                            <input type="text" class="time-input" name="endTime" placeholder="结束时间"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-danger btn-del disabled" onclick="$.operate.deleteAll()">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-danger" onclick="$.operate.clean()">
                <i class="fa fa-trash"></i> 清空
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<div th:include="common :: common-footer"></div>

<script th:inline="javascript">
    var data = [[${@direction.getOperateType()}]]
</script>
<script src="/static/js/custom/log/operatorLog.js" th:src="@{/js/custom/log/operatorLog.js}"></script>
</body>

</html>
