<!--==========================================统一整理所有的共同依赖文件=============================================-->

<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<!--=================================================前台界面的头部==================================================-->
<head th:fragment="front-head">
    <meta charset="utf-8">
    <title>首页-Dimple's Blog</title>
    <meta name="keywords" content="blog"/>
    <meta name="description" content="blog"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/front/css/base.css" th:href="@{/front/css/base.css}" rel="stylesheet">
    <link href="/static/front/css/m.css" th:href="@{/front/css/m.css}" rel="stylesheet">
    <script src="/front/js/jquery-1.8.3.min.js" th:href="@{front/js/jquery-1.8.3.min.js}"></script>
    <script src="/front/js/comm.js" th:href="@{/front/js/comm.js}"></script>
    <!--[if lt IE 9]>
    <script src="/front/js/modernizr.js"></script>
    <![endif]-->
</head>


<!--====================================================前台界面的尾部=================================================-->
<div th:fragment="front-footer">
    <footer>
        <div class="box">
            <div class="wxbox">
                <ul>
                    <li><img src="/front/images/wxgzh.jpg"><span>微信公众号</span></li>
                    <li><img src="/front/images/wx.png"><span>我的微信</span></li>
                </ul>
            </div>
            <div class="endnav">
                <p><b>站点声明：</b></p>
                <p>1、本站个人博客模板，均为杨青青本人设计，个人可以使用，但是未经许可不得用于任何商业目的。</p>
                <p>2、所有文章未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：<a
                        href="" target="_blank">dacesmiling@qq.com</a></p>
                <p>Copyright © <a href="http://www.yangqq.com" target="_blank">www.yangqq.com</a> All Rights Reserved.
                    备案号：<a
                            href="http://www.miitbeian.gov.cn/" target="_blank">蜀ICP备11002373号-1</a></p>
            </div>
        </div>
        <a href="#">
            <div class="top"></div>
        </a>
    </footer>
</div>


<div th:fragment="front-header">
    <!--top begin-->
    <header id="header">
        <div class="navbox">
            <h2 id="mnavh"><span class="navicon"></span></h2>
            <div class="logo"><a href="http://www.bianxiaofeng.com">Dimple的个人博客</a></div>
            <nav>
                <ul id="starlist">
                    <li><a href="index.html">网站首页</a></li>
                    <li><a href="list.html">技术博客</a></li>
                    <li class="menu"><a href="list2.html">资源分享</a>
                        <ul class="sub">
                            <li><a href="/6">软件分享</a></li>
                            <li><a href="/7">资料分享</a></li>
                        </ul>
                        <span></span>
                    </li>
                    <li><a href="list3.html">随心吐槽</a></li>
                    <li><a href="about.html">关于我</a></li>
                    <li><a href="about.html">留言</a></li>
                    <li><a href="/login.html">登陆</a></li>
                </ul>
            </nav>
            <div class="searchico"></div>
        </div>
    </header>
    <div class="searchbox">
        <!-- 搜索框 -->
        <div class="search">
            <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
                <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词"
                       style="color: rgb(153, 153, 153);"
                       onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}"
                       onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}"
                       type="text">
                <input name="show" value="title" type="hidden">
                <input name="tempid" value="1" type="hidden">
                <input name="tbname" value="news" type="hidden">
                <input name="Submit" class="input_submit" value="搜索" type="submit">
            </form>
        </div>
        <div class="searchclose"></div>
    </div>
    <!--top end-->
</div>


<!--===========================================后台通用的头文件，主要是CSS样式================================-->
<head th:fragment="common-head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimple's Blog For Software Engineer</title>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--网站图标-->
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link th:href="@{/css/bootstrap.min.css?v=3.3.6}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.css?v=4.4.0}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-table/bootstrap-table.css}" rel="stylesheet">
    <link rel="stylesheet" href="/static/plugin/bootstrap-treetable/bootstrap-treetable.css"
          th:href="@{/plugin/bootstrap-treetable/bootstrap-treetable.css}">
    <link href="/static/css/animate.css" th:href="@{/css/animate.css}" rel="stylesheet">
    <link th:href="@{/css/style.css?v=4.1.0}" rel="stylesheet">
    <link th:href="@{/css/common/common.css}" rel="stylesheet">
    <link th:href="@{/plugin/sweetalert/sweetalert2.css}" rel="stylesheet">

</head>
<!--============================================后台通用的脚文件， 主要是JS文件=====================================-->
<div th:fragment="common-footer">
    <script th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
    <script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
    <!--自定义JS-->
    <script th:src="@{/js/content.js}"></script>
    <!-- jQuery Validation plugin javascript-->
    <script th:src="@{/js/validate/jquery.validate.min.js}"></script>
    <script th:src="@{/js/validate/messages_zh.min.js}"></script>
    <script th:src="@{/js/validate/validate-index.js}"></script>
    <script th:src="@{/js/layer/layer.min.js}"></script>
    <script th:src="@{/js/layui/layui.js}"></script>
    <!--BootStrap-Table-->
    <script th:src="@{/js/bootstrap-table/bootstrap-table.min.js}"></script>
    <script src="/static/plugin/bootstrap-treetable/bootstrap-treetable.js"
            th:src="@{/plugin/bootstrap-treetable/bootstrap-treetable.js}"></script>
    <script th:src="@{/js/bootstrap-table/bootstrap-table-mobile.min.js}"></script>
    <script th:src="@{/js/bootstrap-table/bootstrap-table-zh-CN.js}"></script>
    <!--遮罩-->
    <script th:src="@{/js/blockUI/jquery.blockUI.js}"></script>
    <!--通用UI JS框架-->
    <script th:src="@{/js/custom/common/dimple-blog.js}"></script>
    <script th:src="@{/plugin/sweetalert/sweetalert2.min.js}"></script>
</div>


<!--===================================================管理系统首页的文件=================================================-->
<head th:fragment="common-head-index">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimple's Blog For Software Engineer</title>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--网站图标-->
    <!--<link rel="shortcut icon" href="favicon.ico">-->
    <link th:href="@{/css/bootstrap.min.css?v=3.3.6}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.css?v=4.4.0}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-table/bootstrap-table.css}" rel="stylesheet">
    <link th:href="@{/css/animate.css}" rel="stylesheet">
    <link th:href="@{/css/style.css?v=4.1.0}" rel="stylesheet">
    <link th:href="@{/css/common/common.css}" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
    <script th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
    <!-- jQuery Validation plugin javascript-->
    <script th:src="@{/js/validate/jquery.validate.min.js}"></script>
    <script th:src="@{/js/validate/messages_zh.min.js}"></script>
    <script th:src="@{/js/validate/validate-index.js}"></script>
    <script th:src="@{/js/fullscreen/jquery.fullscreen.js}"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script th:src="@{/js/layer/layer.min.js}"></script>
    <script th:src="@{/js/layui/layui.js}"></script>
    <!--BootStrap-Table-->
    <script th:src="@{/js/bootstrap-table/bootstrap-table.min.js}"></script>
    <script th:src="@{/js/bootstrap-table/bootstrap-table-mobile.min.js}"></script>
    <script th:src="@{/js/bootstrap-table/bootstrap-table-zh-CN.js}"></script>
    <!--遮罩-->
    <script th:src="@{/js/blockUI/jquery.blockUI.js}"></script>
    <!--通用UI JS框架-->
    <script th:src="@{/js/custom/common/dimple-blog.js}"></script>
    <script th:src="@{/js/custom/index.js}"></script>
</head>
</html>
