<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: common-head"></head>


<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">总数</span>
                        <h5>博客</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" th:text="${all}"></h1>
                        <div class="stat-percent font-bold text-success">100% <i class="fa fa-bolt"></i></div>
                        <small>博客总数</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">已发布</span>
                        <h5>博客</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" th:text="${published}">275,800</h1>
                        <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                        <small>已发布博客数量</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">草稿箱</span>
                        <h5>博客</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" th:text="${draft}">106,120</h1>
                        <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                        <small>草稿箱博客数量</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-danger pull-right">垃圾箱</span>
                        <h5>博客 </h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" th:text="${dustbin}">80,600</h1>
                        <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
                        <small>垃圾箱博客数量</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>系统状态仪表盘</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="echarts_gauge_percent" style="width: 100%;height: 300px"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox-title">
                    <h5>爬虫统计仪表盘</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="echarts_pie_spider_type" style="width: 100%;height: 300px"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>访客统计</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="">
                                    <div id="echarts_line_visitor" style="width: 100%;height: 450px"></div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <ul class="stat-list">
                                    <li>
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <span class="label label-success pull-right">在线</span>
                                                <h5>访客</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <h1 class="no-margins" th:text="${onlineCount}"></h1>
                                                <div class="stat-percent font-bold text-success">100% <i
                                                        class="fa fa-bolt"></i></div>
                                                <small>当前在线访客数</small>
                                            </div>
                                        </div>
                                    </li>
                                    <div class="hr-line-dashed"></div>
                                    <li>
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <span class="label label-success pull-right">本月</span>
                                                <h5>访客</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <h1 class="no-margins" th:text="${all}"></h1>
                                                <div class="stat-percent font-bold text-success">100% <i
                                                        class="fa fa-bolt"></i></div>
                                                <small>本月访客数量</small>
                                            </div>
                                        </div>
                                    </li>
                                    <div class="hr-line-dashed"></div>
                                    <li>
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <span class="label label-success pull-right">历史</span>
                                                <h5>访客</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <h1 class="no-margins" th:text="${all}"></h1>
                                                <div class="stat-percent font-bold text-success">100% <i
                                                        class="fa fa-bolt"></i></div>
                                                <small>历史访客数量</small>
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="row">-->

<!--</div>-->


</div>

</body>
<div th:include="common :: common-footer"></div>
<script src="/static/plugin/echarts/echarts.min.js" th:src="@{/plugin/echarts/echarts.min.js}"></script>
<script src="/static/js/custom/dashboard.js" th:src="@{/js/custom/dashboard.js}"></script>
<script>
    $(document).ready(function () {


        $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
            type: 'line',
            width: '100%',
            height: '60',
            lineColor: '#1ab394',
            fillColor: "#ffffff"
        });

        $("#sparkline2").sparkline([24, 43, 43, 55, 44, 62, 44, 72], {
            type: 'line',
            width: '100%',
            height: '60',
            lineColor: '#1ab394',
            fillColor: "#ffffff"
        });

        $("#sparkline3").sparkline([74, 43, 23, 55, 54, 32, 24, 12], {
            type: 'line',
            width: '100%',
            height: '60',
            lineColor: '#ed5565',
            fillColor: "#ffffff"
        });

        $("#sparkline4").sparkline([24, 43, 33, 55, 64, 72, 44, 22], {
            type: 'line',
            width: '100%',
            height: '60',
            lineColor: '#ed5565',
            fillColor: "#ffffff"
        });

        $("#sparkline5").sparkline([1, 4], {
            type: 'pie',
            height: '140',
            sliceColors: ['#1ab394', '#F5F5F5']
        });

        $("#sparkline6").sparkline([5, 3], {
            type: 'pie',
            height: '140',
            sliceColors: ['#1ab394', '#F5F5F5']
        });

        $("#sparkline7").sparkline([2, 2], {
            type: 'pie',
            height: '140',
            sliceColors: ['#ed5565', '#F5F5F5']
        });

        $("#sparkline8").sparkline([2, 3], {
            type: 'pie',
            height: '140',
            sliceColors: ['#ed5565', '#F5F5F5']
        });


    });
</script>

</html>
