<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="common :: common-head-index"></head>
<link href="/static/css/skin-blue.css" th:href="@{/css/skin-blue.css}" rel="stylesheet">
<body class="fixed-sidebar full-height-layout gray-bg skin-blue" style="overflow:hidden">
<style type="text/css">
    .nav > li:hover .dropdown-menu {
        display: block;
    }

    #content-main.max {
        height: calc(100% - 110px);
        overflow: hidden;
        width: 100%;
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        z-index: 9998;
        margin: 0;
    }
</style>
<div id="wrapper">
    <!--左侧导航开始-->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="logo">
                    <span class="logo-lg">Dimple Blog</span>
                </li>
                <li>
                    <div class="user-panel">
                        <a class="menuItem" title="个人中心" th:href="@{/system/user/profile}">
                            <div class="hide" th:text="个人中心"></div>
                            <div class="pull-left image">
                                <img alt="image" class="img-circle" src="/img/profile_small.jpg"/>
                            </div>
                        </a>
                        <div class="pull-left info">
                            <p>边小丰</p>
                            <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                            <a th:href="@{/logout}" style="padding-left:5px;"><i class="fa fa-sign-out text-danger"></i>
                                注销</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="J_menuItem" href="homePage" data-index="0">
                        <i class="fa fa-home"></i>
                        <span class="nav-label">首页</span></a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-columns"></i>
                        <span class="nav-label">博客管理</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="J_menuItem" href="/page/editBlog.html">博客编辑</a>
                        <li>
                            <a class="J_menuItem" href="/page/blogList.html">博客列表</a>
                        </li>
                        </li>
                        <li>
                            <a class="J_menuItem" href="/page/category.html">类别管理</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="/page/tags.html">标签管理</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa fa-bar-chart-o"></i>
                        <span class="nav-label">统计图表</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" href="/server/serverInfo">系统信息</a>
                        </li>
                        <li><a class="J_menuItem" href="form_wizard.html">业务图表</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-edit"></i>
                        <span class="nav-label">访客管理</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="J_menuItem" href="/page/visitor/record/list.html">访客记录</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="/page/visitor/count/list.html">访客统计</a>
                        </li>
                        <li>
                            <a class="J_menuItem" href="form_wizard.html">黑名单</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="J_menuItem"><i class="fa fa-flask"></i> <span class="nav-label">操作日志</span><span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" href="/page/operatorLog.html">操作日志</a></li>
                        <li><a class="J_menuItem" href="/page/loginLog.html">登录日志</a></li>
                    </ul>
                </li>
                <li>
                    <a class="J_menuItem">
                        <i class="fa fa-table"></i>
                        <span class="nav-label">友情链接</span>
                        <span th:if=" ${unhandledLinksCount>0}" class="label label-warning pull-right">
                            <div th:text="${unhandledLinksCount}"></div>
                        </span>
                        <span th:if=" ${unhandledLinksCount==0}" class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" href="/page/linkUnhandled.html">未处理消息 <span
                                th:if=" ${unhandledLinksCount>0}" class="label label-warning pull-right">
                            <div th:text="${unhandledLinksCount}"></div>
                        </span></a></li>
                        <li><a class="J_menuItem" href="/page/linkList.html">友链列表</a></li>
                    </ul>
                </li>
                <li>
                    <a class="J_menuItem"><i class="fa fa-picture-o"></i> <span
                            class="nav-label">资源管理</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" href="/localPicture">软件分享</a>
                        </li>
                        <li><a class="J_menuItem" href="/qiniuyun">学习资料分享</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-picture-o"></i> <span class="nav-label">图库</span><span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" href="/page/localGallery.html">本地图库</a>
                        </li>
                        <li><a class="J_menuItem" href="/page/qiniuyunGallery.html">七牛云图库</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="J_menuItem" href="http://changyan.kuaizhan.com/"><i class="fa fa-magic"></i> <span
                            class="nav-label">畅言评论</span></a>
                </li>
                <li>
                    <a><i class="fa fa-picture-o"></i> <span class="nav-label">系统监控</span><span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" href="/swagger.html">SwaggerUI接口</a>
                        </li>
                        <li><a class="J_menuItem" href="/druid.html">Druid数据监控</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-picture-o"></i> <span class="nav-label">系统管理</span><span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" href="/page/user.html">用户管理</a>
                        </li>
                        <li><a class="J_menuItem" href="/page/role.html">角色管理</a>
                        </li>
                        <li><a class="J_menuItem" href="/page/permission.html">权限管理</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-picture-o"></i> <span class="nav-label">前台页面设置</span><span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" href="/page/signature.html">签名档设置</a>
                        </li>
                        <li><a class="J_menuItem" href="/page/personCard.html">个人名片设置</a>
                        </li>
                        <li><a class="J_menuItem" href="/page/rotation.html">首页轮播图设置</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-picture-o"></i> <span class="nav-label">实验室</span><span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a class="J_menuItem" href="/page/experiment/md.html">批量导入MD博文</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!--左侧导航结束-->

    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2" style="color:#FFF;" href="#" title="收起菜单">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-right welcome-message">
                    <li><a href="/"><i class="fa fa-desktop"></i> <span class="nav-label">前台</span></a>
                    <li><a title="全屏显示" id="fullScreen"><i class="fa fa-arrows-alt"></i> 全屏显示</a></li>
                    <li class="dropdown user-menu">
                        <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                            <img alt="image" class="user-image" src="/img/profile_small.jpg"/>
                            <span class="hidden-xs">边小丰</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="mt5">
                                <a th:href="@{/system/user/profile}" class="menuItem">
                                    <i class="fa fa-user"></i> 个人中心</a>
                            </li>
                            <li>
                                <a onclick="resetPwd()" class="menuItem">
                                    <i class="fa fa-key"></i> 修改密码</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a th:href="@{/logout}">
                                    <i class="fa fa-sign-out"></i> 退出登录</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row content-tabs">
            <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs J_menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active J_menuTab" data-id="homePage">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <li class="J_tabShowActive"><a>定位当前选项卡</a>
                    </li>
                    <li class="divider"></li>
                    <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                    </li>
                    <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                    </li>
                </ul>
            </div>
            <a href="#" class="roll-nav roll-right J_tabExit tabReload"><i class="fa fa-refresh"></i> 刷新</a>


            <a id="ax_close_max" class="ax_close_max animated bounceInUp closeFullScreen" href="#" title="关闭全屏"> <i
                    class="fa fa-home fa-4x"></i></a>

        </div>
        <div class="row J_mainContent" id="content-main">

            <iframe class="J_iframe" name="iframe0" width="100%" height="100%"
                    frameborder="0" data-id="homePage" seamless></iframe>
        </div>
        <div class="footer">
            <div class="pull-right">&copy; 2018 <a href="http://www.bianxiaofeng.com/" target="_blank">Dimple 's
                blog</a>
            </div>
        </div>
    </div>
    <!--右侧部分结束-->

    <script>
        // $(function () {
        //     $(".J_iframe").attr("src", "/page/dashboard.html");
        //
        // });
    </script>

</div>
</body>
</html>