<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common :: common-head"></head>
<link rel="stylesheet" th:href="@{/css/login.css}" href="/static/css/login.css"/>
<!--TODO 验证码验证-->
<body class="gray-bg">
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h5 class="logo-name">Dimple</h5>
        </div>
        <h3>Dimple's Blog Manager System</h3>

        <form class="m-t" id="loginForm">
            <div class="form-group">
                <input type="text" name="loginId" class="form-control" placeholder="用户名" value="admin">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="密码" value="123456">
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a href="javascript:void(0);" title="点击更换验证码">
                        <img th:src="@{/api/kaptcha}" onclick="this.src='/api/kaptcha'" class="captchaImg"
                             width="85%"/>
                    </a>
                </div>
                <div class="col-sm-6">
                    <input type="text" name="kaptcha" class="form-control captcha" placeholder="验证码" maxlength="5">
                </div>
            </div>
            <input class="i-checks" type="checkbox" name="rememberme"/>&nbsp;&nbsp;记住我
            <button type="submit" class="btn btn-primary block full-width m-b" id="loginBtn"
                    data-loading="正在验证登录，请稍候...">登 录
            </button>

            <p class="text-muted text-center"><a href="login.html#">
                <small>忘记密码了？</small>
            </a> | <a href="register.html">注册一个新账号</a>
            </p>
        </form>
    </div>
</div>
</body>

<div th:include="common :: common-footer"></div>
<script src="/static/js/custom/login.js" th:src="@{/js/custom/login.js}"></script>
</html>