<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="config-form">
                <div class="select-list">
                    <ul>
                        <li>
                            博客标题：<input type="text" name="configName"/>
                        </li>
                        <li>
                            博客状态：<select name="configType" th:with="type=${@dict.getType('blog_blog_status')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                    th:value="${dict.dictValue}"></option>
                        </select>
                        </li>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[beginTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[endTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.addFull()" shiro:hasPermission="blog:blog:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()"
               shiro:hasPermission="blog:blog:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="blog:blog:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="blog:blog:export">
                <i class="fa fa-download"></i> 导出
            </a>
            <a class="btn btn-default btn-del disabled" onclick="changeStatus(1)">
                <i class="fa fa-remove"></i> 发布
            </a>
            <a class="btn btn-warning btn-del disabled" onclick="changeStatus(2)">
                <i class="fa fa-remove"></i> 草稿箱
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="changeStatus(3)">
                <i class="fa fa-remove"></i> 垃圾箱
            </a>
            <a class="btn btn-primary btn-del disabled" onclick="pushBaidu()">
                <i class="fa fa-remove"></i> 推送到百度
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('blog:blog:edit')}]];
    var removeFlag = [[${@permission.hasPermi('blog:blog:remove')}]];
    var datas = [[${@dict.getType('sys_yes_no')}]];
    var prefix = ctx + "blog/blog";
    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            sortName: "createTime",
            sortOrder: "desc",
            modalName: "博客",
            columns: [{
                checkbox: true
            }, {
                field: 'blogId',
                title: '博客ID'
            }, {
                field: 'title',
                title: '博客标题',
                formatter: function (value, row, index) {
                    return $.table.tooltip(value);
                }
            }, {
                field: 'createTime',
                title: '创建时间'
            }, {
                field: 'status',
                title: '状态'
            }, {
                field: 'support',
                title: '推荐',
                align: 'center',
                formatter: function (value, row, index) {
                    return $.table.selectDictLabel(datas, value);
                }
            }, {
                field: 'weight',
                title: '权重',
                align: 'center',
            }, {
                field: 'click',
                title: '点击量'
            }, {
                title: '操作',
                align: 'center',
                formatter: function (value, row, index) {
                    var actions = [];
                    actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.blogId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                    actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.blogId + '\')"><i class="fa fa-remove"></i>删除</a>');
                    actions.push('<a class="btn btn-warning btn-xs ' + '" href="#" onclick="detail(\'' + row.blogId + '\')"><i class="fa fa-search"></i>详细</a>');
                    return actions.join('');
                }
            }]
        };
        $.table.init(options);
    });

    function support(status) {
        $.modal.confirm("确定要取消推荐这些博文吗？", function () {
            $.operate.post(prefix + "/changeStatus", {"userId": userId, "status": 1});
        })
    }

    function detail(id) {
        var title = "详细";
        var url = "/p/" + id;
        var width = $(window).width() / 1.5;
        var height = $(window).height() / 1.2;
        //如果是移动端，就使用自适应大小弹窗
        if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
            width = 'auto';
            height = 'auto';
        }
        if ($.common.isEmpty(title)) {
            title = false;
        }
        if ($.common.isEmpty(url)) {
            url = "/404.html";
        }
        if ($.common.isEmpty(width)) {
            width = 800;
        }
        if ($.common.isEmpty(height)) {
            height = ($(window).height() - 50);
        }
        layer.open({
            type: 2,
            area: [width + 'px', height + 'px'],
            fix: false,
            //不固定
            maxmin: true,
            shade: 0.3,
            title: $.table._options.modalName + "详细",
            content: url,
            btn: '关闭',
            // 弹层外区域关闭
            shadeClose: true,
            success: function (layer) {
                layer[0].childNodes[3].childNodes[0].attributes[0].value = 'layui-layer-btn1';
            },
            btn1: function (index) {
                layer.close(index);
            }
        });
    }
</script>
</body>
</html>