<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('访问日志详细')"/>
</head>
<link th:href="@{/ajax/libs/jsonview/jquery.jsonview.css}" rel="stylesheet"/>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m-t">
        <div class="form-group">
            <label class="col-sm-2 control-label">操作模块：</label>
            <div class="form-control-static"
                 th:text="${visit.title}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">登录信息：</label>
            <div class="form-control-static"
                 th:text="${visit.ipAddr} + ' / ' +${visit.location}  +' / '+ ${visit.os}+ ' / ' + ${visit.browser}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">请求地址：</label>
            <div class="form-control-static" th:text="${visit.requestUrl}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">访问时间：</label>
            <div class="form-control-static" th:text="${#dates.format(visit.createTime, 'yyyy-MM-dd hh:mm:ss')}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">状态：</label>
            <div class="form-control-static"
                 th:class="${visit.status == 1 ? 'label label-primary' : 'label label-danger'}"
                 th:text="${visit.status == 1 ? '正常' : '异常'}">
            </div>
        </div>
        <div class="form-group" th:style="'display:' + ${visit.status == 1 ? 'none' : 'block'}">
            <label class="col-sm-2 control-label">异常信息：</label>
            <div class="form-control-static" th:text="${visit.errorMsg}">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
</body>
</html>