<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('未处理友链')"/>
</head>
<body class="gray-bg">
<div class="col-sm-2">
    <div class="ibox float-e-margins">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                <div class="space-25"></div>
                <h3 style="margin-bottom: 20px">概览</h3>
                <ul class="folder-list m-b-md linksDetails" style="padding: 0">
                    <li>
                        <a onclick="searchCustom('SEARCH_CODE_ALL')"> <i class="fa fa-heart-o "></i> 友链 <span
                                class="label label-success pull-right">
                            <div th:text="${linksDetails.total}"></div>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a onclick="searchCustom('SEARCH_CODE_DIE')"> <i class="fa fa-square-o"></i> 死链<span
                                class="label label-danger pull-right">
                            <div th:text="${linksDetails.disabled}"></div>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a onclick="searchCustom('SEARCH_CODE_UNHANDLED')"> <i class="fa fa-envelope-o"></i> 未处理友链<span
                                class="label label-warning pull-right">
                            <div th:text="${linksDetails.unHandled}"></div>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a onclick="searchCustom('SEARCH_CODE_HIDE')"> <i class="fa fa-trash-o"></i> 已隐藏友链<span
                                class="label label-default pull-right">
                            <div th:text="${linksDetails.hide}"></div>
                        </span>
                        </a>
                    </li>
                    <li>
                        <a onclick="searchCustom('SEARCH_CODE_DISPLAY')"> <i class="fa fa-file-text-o"></i> 已显示友链 <span
                                class="label label-info pull-right">
                            <div th:text="${linksDetails.display}"></div>
                        </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-div ui-layout-center col-sm-10 animated fadeInRight">
    <div class="row">
        <div class="col-sm-10 search-collapse ">
            <form id="link-form">
                <div class="select-list">
                    <ul>
                        <li>
                            友链名称：<input type="text" name="links_title" id="link_title"/>
                        </li>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" name="startTime" id="startTime" placeholder="开始时间"/>
                            <span>-</span>
                            <input type="text" class="time-input" name="endTime" id="endTime" placeholder="结束时间"/>
                        </li>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="searchCustom()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="resetForm()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="btn-group-sm hidden-xs" id="toolbar" role="group" style="margin-top: 10px">
            <a class="btn btn-success" onclick="$.operate.add()">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.update()">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del disabled" onclick="$.operate.deleteAll()">
                <i class="fa fa-trash"></i> 删除
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped ">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script src="/static/js/custom/links/links_table_unhandled.js"
        th:src="@{/js/custom/links/links_table_unhandled.js}"></script>
</body>

</html>
