<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="front/common :: front-head"></head>
<body>

<div th:include="front/common :: front-header"></div>
<article>
    <div class="lbox">
        <div class="whitebg lanmu">
            <img src="/images/aboutMe.jpg">
            <h1>关于</h1>
            <p>个人博客用来做什么？我的个人博客网站它不仅仅是我个人兴趣和爱好，还是我创业的起点。我爱网页设计，我爱写前端代码。它充实了我的生活，实现了我的目标和梦想。</p>
        </div>
        <div class="post-body" style="opacity: 1; display: block; transform: translateY(0px);">


            <hr>
            <p>少年心事当拿云 </p>
            <hr>
            <h1 id="Reputation"><a href="#Reputation" class="headerlink" title="Reputation"></a>Reputation</h1>
            <p>2016年—2017年：国家励志奖学金<br>2015年—2016年：国家励志奖学金<br>四川省大学生“综合素质A级证书”<br>全国大学生物联网竞赛（TI杯） 一等奖<br>“中星杯”四川省大学生计算机作品赛
                二等奖<br>中华人民共和国实用新型专利证书<br>中华人民共和国计算机软件著作权<br>……</p>
            <hr>
            <h1 id="Contact"><a href="#Contact" class="headerlink" title="Contact"></a>Contact</h1>
            <p>QQ：7265677707<br>WeChat：Dimple_Me<br>Email：bianxiaofeng@sohu.com</p>
            <hr>


        </div>
    </div>
</article>
<div th:include="front/common :: front-footer"></div>
</body>
</html>
