<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="front/common :: front-head"></head>
<body>


<div th:include="front/common :: front-header"></div>
<style>

</style>

<article>
    <div class="whitebg timebox">
        <div class="archive">
            <div th:each="archive:${archives}">
                <h2 class="archive-title" th:text="${archive.date}"></h2>
                <ul>
                    <li th:each="item:${archive.blogs}">
                        <span th:text="${#dates.format(item['create_time'],'yyyy-MM-dd')}"></span>
                        <div class="atitle">
                            <a th:href="${'/view/'+item['blog_id']}" target="_blank"
                               th:title="${item['title']}" th:text="${item['title']}"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <script src="js/page2.js"></script>
    </div>
</article>

<head th:include="front/common :: front-footer"></head>
</body>
</html>
