<!doctype html>

<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include-front :: head('归档—Dimple的个人博客','归档')"/>
</head>

<body class="nobg">
<th:block  th:replace="include-front :: header"/>

<!--内容区开始-->
<div class="container">
    <section class="mysection">
        <div class="page-content">
            <div class="mod-archive">
                <div th:each="archive:${archives}">
                    <div class="archive-time-title" th:text="${archive.date}">2019</div>
                    <ul class="mod-archive-list">
                        <li th:each="item:${archive.blogs}">
                            <time class="archive-time" th:text="${#dates.format(item.createTime,'yyyy-MM-dd')}">
                                01.06
                            </time>
                            <span><i class="fa fa-eye"></i><span th:text="${item.click}"></span></span><a
                                class="archive-title"
                                th:href="${'/f/article/'+item.blogId+'.html'}"
                                th:title="${item.title}"
                                th:text="${item.title}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--左侧结束-->

    <th:block th:replace="include-front :: side"/>
</div>
<th:block th:replace="include-front :: footer"/>
</body>
</html>