<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="front/common :: front-head"></head>
<body>
<div th:include="front/common :: front-header"></div>
<article>
    <!--lbox begin-->
    <div class="lbox">
        <div class="whitebg lanmu">
            <img src="/images/technology-head.jpg">
            <h1>技术博客</h1>
            <p>个人博客日记，记录自己在学习中遇到的问题及解决办法及学习笔记</p>
        </div>
        <div class="whitebg bloglist">
            <h2 class="htitle">最新博文</h2>
            <div class="categorys-item">
                <th:block th:each="archive : ${archives}">
                    <div class="categorys-title" th:text="${archive.date}"></div>
                    <div class="post-lists">
                        <div class="post-lists-body">
                            <th:block th:each="article : ${archive.articles}">
                                <div class="post-list-item">
                                    <div class="post-list-item-container">
                                        <div class="item-label">
                                            <div class="item-title">
                                                <a th:href="${commons.permalink(article.cid, article.slug)}"
                                                   th:text="${article.title}"></a>
                                            </div>
                                            <div class="item-meta clearfix">
                                                <div class="item-meta-date">发布于
                                                    <th:block th:text="${commons.fmtdate(article.created)}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </th:block>
            </div>

        </div>
    </div>
    <div class="rbox">
        <div th:include="front/common :: front-side"></div>
    </div>
</article>
<div th:include="front/common :: front-footer"></div>
</body>
</html>
