<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include-front :: head(${category.categoryTitle+'—Dimple的个人博客'},${category.description})"/>
</head>

<body class="nobg">
<th:block th:replace="include-front :: header"/>

<!--内容区开始-->
<div class="container">
    <!--最新文章-->
    <section class="mysection">
        <h4 class="index-title">
            <a href="/"><i class="fa fa-home"></i>首页 &nbsp;> </a>
            <span class="orange-text" th:text="${category.categoryTitle}"></span>
            <span style="float:right;margin-right:10px;">共有文章:<font class="orange-text"
                                                                    th:text="${blogs.total}"> 11 </font>篇</span>
        </h4>
        <div>
            <p class="smallText" th:text="${'分类描述：'+category.description}"></p>
            <p class="smallText" th:text="${'创建时间：'+#dates.format(category.createTime,'yyyy-MM-dd')}"></p>
        </div>
        <hr/>
        <div class="arclist">
            <!--列表开始-->
            <ul>
                <li th:each="blog:${blogs.list}">
                    <div class="arcimg">
                        <img
                                th:src="${blog.headerImg}"
                                th:alt="${blog.title}" th:title="${blog.title}"/>
                    </div>
                    <div class="arc-right">
                        <h4 class="blue-text">
                            <a th:href="${'/f/article/'+blog.blogId+'.html'}"
                               th:title="${blog.title}"
                               th:text="${blog.title}">
                            </a>
                        </h4>
                        <p th:text="${blog.summary}"></p>
                        <ul>
                            <li>
                                <a th:title="${'边小丰'+#dates.format(blog.createTime, 'yyyy-MM-dd')+'发表'}">
                                    <i class="fa fa-clock-o"></i>
                                    <span th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd')}"></span>
                                </a>
                            </li>
                            <li>
                                <a href="about.html" title="作者： 边小丰"><i class="fa fa-user"></i>边小丰</a>
                            </li>
                            <li><a th:title="${'已有'+blog.commentCount+'条评论'}" th:href="${'/f/article/'+blog.blogId+'.html#Comment'}">
                                <i class="fa fa-comments-o"></i>
                                <span th:text="${blog.commentCount}"></span>
                            </a>
                            </li>
                            <li><a th:title="${'已有'+blog.click+'次浏览'}"><i class="fa fa-eye"></i><span
                                    th:text="${blog.click}"></span></a></li>
                            <li>
                                <a th:href="${'/f/category/'+blog.categoryId+'.html'}" title="查看分类">
                                    <i class="fa fa-list-ul"></i>
                                    <span th:text="${blog.categoryTitle}"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!--列表结束-->
        </div>
        <!--分页开始-->
        <div th:replace="navigation :: navigation(${blogs},'category',${category.categoryId})"></div>
        <!--分页结束-->
    </section>
    <!--左侧结束-->
    <th:block th:replace="include-front :: side"/>
</div>
<th:block th:replace="include-front :: footer"/>
</body>
</html>