<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--=================================================前台界面的头部==================================================-->
<head th:fragment="front-head">
    <meta charset="utf-8">
    <title>首页-Dimple's Blog</title>
    <meta name="keywords" content="blog"/>
    <meta name="description" content="blog"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/plugin/font-awesome/font-awesome.min.css}" rel="stylesheet">
    <link href="/static/front/css/base.css" th:href="@{/front/css/base.css}" rel="stylesheet">
    <link href="/static/front/css/m.css" th:href="@{/front/css/m.css}" rel="stylesheet">
    <script src="/static/front/js/jquery-1.8.3.min.js" th:src="@{/front/js/jquery-1.8.3.min.js}"></script>
    <script src="/front/js/comm.js" th:src="@{/front/js/comm.js}"></script>
    <!--[if lt IE 9]>
    <script src="/FrontDeskModule/js/modernizr.js"></script>

    <![endif]-->

</head>


<div th:fragment="front-side">
    <!--<div class="whitebg">-->
    <!--<div id="calendar" class="calendar"></div>-->
    <!--</div>-->
    <div class="whitebg notice " data-scroll-reveal="enter bottom over 1s">
        <h2 class="htitle">最近更新</h2>
        <ul id="newestUpdateBlog">
        </ul>
    </div>
    <div class="whitebg paihang" data-scroll-reveal="enter bottom over 1s">
        <h2 class="htitle">点击排行</h2>
        <section class="topnews imgscale" id="clickRankingImg">

        </section>
        <ul id="clickRanking">

        </ul>
    </div>
    <div class="whitebg tuijian" data-scroll-reveal="enter bottom over 1s">
        <h2 class="htitle">猜你喜欢</h2>
        <section class="topnews imgscale" id="youMayLikeImg">

        </section>
        <ul id="youMayLike">
        </ul>
    </div>

    <div class="links whitebg" data-scroll-reveal="enter bottom over 1s">
        <h2 class="htitle"><span class="sqlink"><a href="/link.html">申请链接</a></span>友情链接</h2>
        <ul id="link">
            <li>

            </li>
        </ul>
    </div>
</div>

<!--====================================================前台界面的尾部=================================================-->
<div th:fragment="front-footer">
    <script color="255,0,255" opacity='0.7' zIndex="-2" count="99" src="/static/front/js/canvas-nest.js"
            th:src="@{/front/js/canvas-nest.js} "></script>
    <!--<script src="/FrontDeskModule/js/scrollReveal.js"></script>-->
    <footer id="footer" class="footer">
        <div class="footer-inner">
            <div class="copyright">© 2017 – <span itemprop="copyrightYear">2019</span>
                <i class="fa fa-drupal" aria-hidden="true"></i>
                <span>  </span>
                <a href="http://www.bianxiaofeng.com">
                    <span class="author" itemprop="copyrightHolder">  Dimple</span>
                </a>
                <span>  </span>
                <p>蜀ICP备  19004343</p>
            </div>
        </div>
    </footer>
    <script src="/static/front/js/scrollReveal.js" th:src="@{/front/js/scrollReveal.js}"></script>

    <script>
        //检测ie 6789
        if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
            window.scrollReveal = new scrollReveal({
                reset: true
            });
        }

    </script>
</div>


<div th:fragment="front-header">
    <!--top begin-->
    <header id="header">
        <div class="navbox">
            <h2 id="mnavh"><span class="navicon"></span></h2>
            <div class="logo"><a href="/">Dimple的个人博客 | <font class="font16">我现在没空，忙着优秀</font></a></div>
            <nav>
                <ul id="starlist">
                    <li><a href="/"><i class="fa fa-home"></i>&nbsp网站首页</a></li>
                    <li class="menu"><a href="/technology.html"> <i class="fa fa-spinner"></i>&nbsp技术博客</a>
                        <ul class="sub blogCategory">
                            <script>
                                //获取所有的分类
                                $(function () {
                                    $.ajax({
                                        url: "/public/api/category",
                                        type: "get",
                                        success: function (result) {
                                            if (result.code == 200) {
                                                var data = result.data;
                                                $.each(data, function (index, value) {
                                                    var a = $("<a></a>");
                                                    a.attr("href", '/category/' + value.categoryId + ".html");
                                                    a.attr("alt", value.description);
                                                    a.text(value.title);
                                                    var li = $("<li></li>");
                                                    li.append(a);
                                                    li.appendTo($(".blogCategory"));
                                                });
                                            }
                                        }
                                    })

                                });
                            </script>
                        </ul>
                        <span></span>
                    </li>
                    <!--<li class="menu"><a href="#">资源分享</a>-->
                    <!--<ul class="sub">-->
                    <!--<li><a href="/software.html">软件分享</a></li>-->
                    <!--<li><a href="/resource.html">资料分享</a></li>-->
                    <!--</ul>-->
                    <!--<span></span>-->
                    <!--</li>-->
                    <li><a href="/archive.html"><i class="fa fa-folder-open "></i>&nbsp归档</a></li>
                    <li><a href="/link.html"><i class="fa fa-at"></i>&nbsp友链</a></li>
                    <li><a href="/about.html"><i class="fa fa-bookmark-o"></i>&nbsp关于我</a></li>
                    <li><a href="/leaveComment.html"><i class="fa fa-commenting-o"></i>&nbsp留言</a></li>
                    <li><a href="/page/index.html" target="_blank"><i class="fa fa-sign-in"></i>&nbsp登录</a></li>
                </ul>
            </nav>
            <!--<div class="searchico"></div>-->
        </div>
    </header>
    <div class="searchbox">
        <!-- 搜索框 -->
        <div class="search">
            <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
                <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词"
                       style="color: rgb(153, 153, 153);"
                       onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}"
                       onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}"
                       type="text">
                <input name="show" value="title" type="hidden">
                <input name="tempid" value="1" type="hidden">
                <input name="tbname" value="news" type="hidden">
                <input name="Submit" class="input_submit" value="搜索" type="submit">
            </form>
        </div>
        <div class="searchclose"></div>
    </div>
    <!--top end-->

</div>

