<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--=================================================前台界面的头部==================================================-->
<head th:fragment="front-head">
    <meta charset="utf-8">
    <title>首页-Dimple's Blog</title>
    <meta name="keywords" content="blog"/>
    <meta name="description" content="blog"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/front/css/base.css" th:href="@{/front/css/base.css}" rel="stylesheet">
    <link href="/static/front/css/m.css" th:href="@{/front/css/m.css}" rel="stylesheet">
    <script src="/front/js/jquery-1.8.3.min.js" th:href="@{front/js/jquery-1.8.3.min.js}"></script>
    <script src="/front/js/comm.js" th:href="@{/front/js/comm.js}"></script>
    <!--[if lt IE 9]>
    <script src="/front/js/modernizr.js"></script>
    <![endif]-->
</head>
<div th:fragment="front-side">

    <div class="whitebg notice">
        <h2 class="htitle">最近更新</h2>
        <ul>
            <li th:each="blog:${newestUpdateBlog}">
                <a th:href="${'/view/'+blog.blogId}" th:text="${blog.title}"></a>
            </li>
        </ul>
    </div>
    <div class="whitebg paihang">
        <h2 class="htitle">点击排行</h2>
        <section class="topnews imgscale"><a th:href="'/view/'+${clickBlog[0].blogId}"><img
                src="/front/images/h1.jpg" th:src="${clickBlog[0].headerUrl}"><span
                th:text="${clickBlog[0].title}"></span></a>
        </section>
        <ul>
            <li th:each="item:${clickBlog}">
                <i></i>
                <a th:href="'/view/'+${item.blogId}" th:text="${item.title}">
                </a>
            </li>
        </ul>
    </div>
    <div class="whitebg tuijian">
        <h2 class="htitle">站长推荐</h2>
        <section class="topnews imgscale"><a th:href="'/view/'+${supportBlog[0].blogId}"><img
                src="/front/images/h2.jpg" th:src="${supportBlog[0].headerUrl}"><span
                th:text="${supportBlog[0].title}"></span></a>
        </section>
        <ul>
            <li th:each="item:${supportBlog}">
                <a th:href="'/view/'+${item.blogId}"></a>
                <i><img src="/front/images/text01.jpg" th:src="${item.headerUrl}"> </i>
                <p th:text="${item.title}"></p>
            </li>
        </ul>
    </div>
</div>

<!--====================================================前台界面的尾部=================================================-->
<div th:fragment="front-footer">
    <footer id="footer" class="footer">
        <div class="footer-inner">
            <div class="copyright">© 2017 – <span itemprop="copyrightYear">2019</span>
                <i class="fa fa-drupal" aria-hidden="true"></i>
                <span>  </span>
                <a href="http://www.bianxiaofeng.com"> <span class="author"
                                                             itemprop="copyrightHolder">  Dimple</span></a>
            </div>
        </div>
    </footer>
</div>


<div th:fragment="front-header">
    <!--top begin-->
    <header id="header">
        <div class="navbox">
            <h2 id="mnavh"><span class="navicon"></span></h2>
            <div class="logo"><a href="/">Dimple的个人博客</a></div>
            <nav>
                <ul id="starlist">
                    <li><a href="/">网站首页</a></li>
                    <li><a href="technology.html">技术博客</a></li>
                    <li class="menu"><a href="#">资源分享</a>
                        <ul class="sub">
                            <li><a href="/software.html">软件分享</a></li>
                            <li><a href="/resource.html">资料分享</a></li>
                        </ul>
                        <span></span>
                    </li>
                    <li><a href="/free.html">随心吐槽</a></li>
                    <li><a href="/about.html">关于我</a></li>
                    <li><a href="/leaveComment.html">留言</a></li>
                    <li><a href="/page/login.html">登陆</a></li>
                </ul>
            </nav>
            <div class="searchico"></div>
        </div>
    </header>
    <div class="searchbox">
        <!-- 搜索框 -->
        <div class="search">
            <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
                <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词"
                       style="color: rgb(153, 153, 153);"
                       onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}"
                       onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}"
                       type="text">
                <input name="show" value="title" type="hidden">
                <input name="tempid" value="1" type="hidden">
                <input name="tbname" value="news" type="hidden">
                <input name="Submit" class="input_submit" value="搜索" type="submit">
            </form>
        </div>
        <div class="searchclose"></div>
    </div>
    <!--top end-->

</div>

