<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head th:include="front/common :: front-head"></head>
<body>
<div th:include="front/common :: front-header"></div>
<article>
    <!--lbox begin-->
    <div class="lbox">
        <div class="content_box whitebg">
            <h2 class="htitle"><span class="con_nav">您现在的位置是：<a href="/">网站首页</a>><a href="/">博客详情</a></span>博客详情</h2>
            <h1 class="con_tilte" th:text="${blog.title}">个人博客，属于我的小世界！</h1>
            <p class="bloginfo"><i class="avatar">
                <img src="/front/images/avatar.png">
            </i><span>边小丰</span><span th:text="${#dates.format(blog.createTime,'yyyy年MM月dd日')}">2018-10-28</span>
                <span>【<a th:text="${category['categoryName']}">程序人生</a>】</span>
                <span th:text="${blog.click}+'人已围观'">109990人已围观</span>
            </p>
            <p class="con_info">
                <b>摘要：</b>
                <span th:text="${blog.summary}"></span>
            </p>
            <div class="con_text">
                <div th:utext="${blog.content}"></div>
                <div id="cyEmoji" role="cylabs" data-use="emoji"></div>
                <script type="text/javascript" charset="utf-8" src="https://changyan.itc.cn/js/lib/jquery.js"></script>
                <script type="text/javascript" charset="utf-8"
                        src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=cytpwz0ka"></script>
            </div>

            <section class="wow padding-bot20 animated fadeIn">
                <div name="版权声明：" data-unique="版权声明："></div>
                <h3>版权声明：</h3>
                <p class="text-danger size16">
                    本文仅用于学习、研究和交流目的，欢迎非商业性质转载。本文链接：<a target="_blank" id="copyrightUrl"></a>。

                </p>
                <div id="copyright1"></div>
            </section>
        </div>

        <div class="whitebg">
            <div class="nextinfo">
                <p th:if="${navigation['previousBlog']!=null}">上一篇：
                    <a th:href="${'/view/'+navigation['previousBlog'].blogId}"
                       th:text="${navigation['previousBlog'].title}"></a>
                </p>
                <p th:if="${navigation['previousBlog']==null}">上一篇：无</p>
                <br>
                <p th:if="${navigation['nextBlog']!=null}">下一篇：
                    <a th:href="${'/view/'+navigation['nextBlog'].blogId}"
                       th:text="${navigation['nextBlog'].title}"></a>
                </p>
                <p th:if="${navigation['nextBlog']==null}">下一篇：无</p>
            </div>
        </div>


        <div class="whitebg">
            <h2 class="htitle">相关文章</h2>
            <ul class="otherlink">
                <li><a href="/download/div/2018-04-22/815.html" title="html5个人博客模板《黑色格调》">html5个人博客模板《黑色格调》</a></li>
            </ul>
        </div>
        <div class="whitebg gbook">
            <h2 class="htitle">文章评论</h2>
            <ul>
                <!--PC和WAP自适应版-->
                <div id="SOHUCS" th:sid="${blog.blogId}"></div>
                <script type="text/javascript">
                    (function () {
                        var appid = 'cytpwz0ka';
                        var conf = 'prod_70f542c4f56cbde240eca5288c5c2e12';
                        var width = window.innerWidth || document.documentElement.clientWidth;
                        if (width < 960) {
                            window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
                        } else {
                            var loadJs = function (d, a) {
                                var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement;
                                var b = document.createElement("script");
                                b.setAttribute("type", "text/javascript");
                                b.setAttribute("charset", "UTF-8");
                                b.setAttribute("src", d);
                                if (typeof a === "function") {
                                    if (window.attachEvent) {
                                        b.onreadystatechange = function () {
                                            var e = b.readyState;
                                            if (e === "loaded" || e === "complete") {
                                                b.onreadystatechange = null;
                                                a()
                                            }
                                        }
                                    } else {
                                        b.onload = a
                                    }
                                }
                                c.appendChild(b)
                            };
                            loadJs("https://changyan.sohu.com/upload/changyan.js", function () {
                                window.changyan.api.config({appid: appid, conf: conf})
                            });
                        }
                    })(); </script>
            </ul>
        </div>


    </div>
    <!--lbox end-->
    <div class="rbox">
        <div class="whitebg paihang">
            <h2 class="htitle">点击排行</h2>
            <section class="topnews imgscale"><a th:href="'/view/'+${clickBlog[0].blogId}"><img
                    src="/front/images/h1.jpg" th:src="${clickBlog[0].headerUrl}"><span
                    th:text="${clickBlog[0].title}"></span></a>
            </section>
            <ul>
                <li th:each="item:${clickBlog}">
                    <i></i>
                    <a th:href="'/view/'+${item.blogId}" th:text="${item.title}">
                    </a>
                </li>
            </ul>
        </div>
        <div class="whitebg tuijian">
            <h2 class="htitle">站长推荐</h2>
            <section class="topnews imgscale"><a th:href="'/view/'+${supportBlog[0].blogId}"><img
                    src="/front/images/h2.jpg" th:src="${supportBlog[0].headerUrl}"><span
                    th:text="${supportBlog[0].title}"></span></a>
            </section>
            <ul>
                <li th:each="item:${supportBlog}">
                    <a th:href="'/view/'+${item.blogId}"></a>
                    <i><img src="/front/images/text01.jpg" th:src="${item.headerUrl}"> </i>
                    <p th:text="${item.title}"></p>
                </li>
            </ul>
        </div>
        <div class="whitebg cloud">
            <h2 class="htitle">标签云</h2>
            <ul>
                <a href="" target="_blank">个人博客模板</a> <a href="" target="_blank">css动画</a> <a href=""
                                                                                              target="_blank">布局</a> <a
                    href="" target="_blank">今夕何夕</a> <a href="" target="_blank">SEO</a> <a href=""
                                                                                           target="_blank">女程序员</a> <a
                    href="" target="_blank">小世界</a> <a href="" target="_blank">个人博客</a> <a href=""
                                                                                           target="_blank">网页设计</a>
            </ul>
        </div>
    </div>
</article>
<head th:include="front/common :: front-footer"></head>
<script>
    $(function () {
        var url = window.location.href;
        $("#copyrightUrl").attr("href", url);
        $("#copyrightUrl").text(url);
        $.ajax({
            type: "get",
            url: "/public/api/signature/blog",
            success: function (data) {
                if (data.code == 200 && data.data != null) {
                    $("#copyright1").html(data.data);
                }
            }
        });
    });
</script>
</body>
</html>
