<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head th:include="front/common :: front-head"></head>
<body>
<div th:include="front/common :: front-header"></div>

<script src="/static/front/plugin/hightlight/highlight.pack.js"
        th:src="@{/front/plugin/hightlight/highlight.pack.js}"></script>
<link rel="stylesheet" href="/static/front/plugin/hightlight/xcode.css"
      th:href="@{/front/plugin/hightlight/xcode.css}"/>

<script>hljs.initHighlightingOnLoad();</script>
<article>
    <!--lbox begin-->
    <div class="lbox">
        <div class="content_box whitebg">
            <h2 class="htitle"><span class="con_nav">您现在的位置是：<a href="/">网站首页</a>><a href="/">博客详情</a></span>博客详情</h2>
            <h1 class="con_tilte" th:text="${blog.title}">个人博客，属于我的小世界！</h1>
            <p class="bloginfo"><i class="avatar">
                <img src="/static/imgs/avatar.png">
            </i><span>边小丰</span><span th:text="${#dates.format(blog.createTime,'yyyy年MM月dd日')}">2018-10-28</span>
                <span>【<a th:text="${category.title}">程序人生</a>】</span>
                <span th:text="${blog.click}+'人已围观'">109990人已围观</span>
            </p>
            <br/>
            <div align="center"><img th:src="${blog.headerUrl}"></div>
            <p class="con_info">
                <b>摘要：</b>
                <span th:text="${blog.summary}"></span>
            </p>
            <div class="con_text">
                <div th:utext="${blog.content}"></div>
                <div id="cyEmoji" role="cylabs" data-use="emoji"></div>
                <script type="text/javascript" charset="utf-8" src="https://changyan.itc.cn/js/lib/jquery.js"></script>
                <script type="text/javascript" charset="utf-8"
                        src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=cytpwz0ka"></script>
            </div>

            <section class="wow padding-bot20 animated fadeIn">
                <fieldset
                        style="border:1px dashed #696969;padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;line-height: 2em;color: #A9A9A9">
                    <legend align="center"
                            style="color:#FFFFFF;width:360px;text-align:center;background-color:#696969;">☆版权声明
                    </legend>
                    <p class="text-danger size16">
                        本文仅用于学习、研究和交流目的，欢迎非商业性质转载。本文链接：
                        <a id="url" target="_blank" th:text="'/view/'+${blog.blogId}"
                           th:href="'/view/'+${blog.blogId}"></a>。
                        <script>
                            $("#url").text(window.location.href);
                        </script>
                    <div id="copyright1" th:utext="${signature}">

                    </div>
                    </p>
                </fieldset>

            </section>
        </div>

        <div class="whitebg" data-scroll-reveal="enter bottom over 1s">
            <div class="nextinfo">
                <p th:if="${navigation['previousBlog']!=null}">上一篇：
                    <a th:href="${'/view/'+navigation['previousBlog'].blogId}"
                       th:text="${navigation['previousBlog'].title}"></a>
                </p>
                <p th:if="${navigation['previousBlog']==null}">上一篇：无</p>
                <br>
                <p th:if="${navigation['nextBlog']!=null}">下一篇：
                    <a th:href="${'/view/'+navigation['nextBlog'].blogId}"
                       th:text="${navigation['nextBlog'].title}"></a>
                </p>
                <p th:if="${navigation['nextBlog']==null}">下一篇：无</p>
            </div>
        </div>

        <div class="whitebg" data-scroll-reveal="enter bottom over 1s">
            <h2 class="htitle">相关文章</h2>
            <ul class="otherlink">
                <li th:each="blog:${relatedBlog}">
                    <a th:href="'/view/'+${blog.blogId}" th:title="${blog.title}" th:text="${blog.title}"></a>
                </li>
            </ul>
        </div>
        <div class="whitebg gbook" data-scroll-reveal="enter bottom over 1s">
            <h2 class="htitle">文章评论</h2>
            <ul>
                <!--PC和WAP自适应版-->
                <div id="SOHUCS" th:sid="${blog.blogId}"></div>
                <script type="text/javascript">
                    (function () {
                        var appid = 'cytpwz0ka';
                        var conf = 'prod_70f542c4f56cbde240eca5288c5c2e12';
                        var width = window.innerWidth || document.documentElement.clientWidth;
                        if (width < 960) {
                            window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
                        } else {
                            var loadJs = function (d, a) {
                                var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement;
                                var b = document.createElement("script");
                                b.setAttribute("type", "text/javascript");
                                b.setAttribute("charset", "UTF-8");
                                b.setAttribute("src", d);
                                if (typeof a === "function") {
                                    if (window.attachEvent) {
                                        b.onreadystatechange = function () {
                                            var e = b.readyState;
                                            if (e === "loaded" || e === "complete") {
                                                b.onreadystatechange = null;
                                                a()
                                            }
                                        }
                                    } else {
                                        b.onload = a
                                    }
                                }
                                c.appendChild(b)
                            };
                            loadJs("https://changyan.sohu.com/upload/changyan.js", function () {
                                window.changyan.api.config({appid: appid, conf: conf})
                            });
                        }
                    })(); </script>
            </ul>
        </div>


    </div>
    <!--lbox end-->
    <div class="rbox">

        <div th:include="front/common :: front-side"></div>

    </div>
</article>
<head th:include="front/common :: front-footer"></head>
</body>
</html>
