<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>留言—Dimple的个人博客</title>
    <div th:include="include-front :: head"></div>
</head>

<body class="nobg">
<header th:replace="include-front :: header"></header>
<div class="container" id="location">
    <!--左侧开始-->
    <section>
        <div class="comment-area">
            <img src="/front/images/leaveComment-bg.png"
                 style="width:100%;"
                 alt="Dimple个人博客留言板"/>


            <h4 class="index-title">
                <i class="el-comment-alt"></i>
                当前共有<span href="#SOHUCS" id="changyan_count_unit"></span>参与，
                <span href="#SOHUCS" id="changyan_parti_unit"></span>留言
                <script type="text/javascript"
                        src="https://assets.changyan.sohu.com/upload/plugins/plugins.count.js"></script>
                <a rel="nofollow"><i class="el-edit"></i>发表留言</a>
            </h4>
            <ul>
                <!--PC和WAP自适应版-->
                <div id="SOHUCS" sid="leaveComment"></div>
                <script type="text/javascript">
                    (function () {
                        var appid = 'cyu583FnA';
                        var conf = 'prod_e133a229a25f70b06b142787fad1386b';
                        var width = window.innerWidth || document.documentElement.clientWidth;
                        if (width < 960) {
                            window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
                        } else {
                            var loadJs = function (d, a) {
                                var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement;
                                var b = document.createElement("script");
                                b.setAttribute("type", "text/javascript");
                                b.setAttribute("charset", "UTF-8");
                                b.setAttribute("src", d);
                                if (typeof a === "function") {
                                    if (window.attachEvent) {
                                        b.onreadystatechange = function () {
                                            var e = b.readyState;
                                            if (e === "loaded" || e === "complete") {
                                                b.onreadystatechange = null;
                                                a()
                                            }
                                        }
                                    } else {
                                        b.onload = a
                                    }
                                }
                                c.appendChild(b)
                            };
                            loadJs("https://changyan.sohu.com/upload/changyan.js", function () {
                                window.changyan.api.config({appid: appid, conf: conf})
                            });
                        }
                    })(); </script>
            </ul>
        </div>
    </section>
    <aside th:replace="include-front :: side"></aside>
</div>
<aside th:replace="include-front :: footer"></aside>

</body>
</html>
