<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="front/common :: front-head"></head>
<body>
<link th:href="@{/front/plugin/sweetalert/sweetalert2.css}" rel="stylesheet">

<div th:include="front/common :: front-header"></div>
<article>
    <div class="whitebg lanmu" data-scroll-reveal="enter top and move 50px over 0.6s">
        <img src="static/imgs/aboutMe.jpg">
        <h1>友链列表</h1>
        <p>此处都是一些非常优秀的大佬们</p>
    </div>


    <div class="whitebg gbook" data-scroll-reveal="enter top and move 50px over 0.6s">
        <h2 class="htitle"> 友情站点：</h2>
        <ul class="link-list">
            <li th:each="link:${links}">
                <div class="link-item">
                    <a th:href="${link.url}" target="_blank">
                        <img th:src="${link.headerUrl}">
                        <h3 th:text="${link.title}"></h3>
                        <p th:text="${link.description}"></p>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="whitebg gbook" data-scroll-reveal="enter top and move 50px over 0.6s">
        <h2 class="htitle"> 申请说明：</h2>
        <p style="margin:10px">
            <i class="fa fa-close"></i>经常宕机&nbsp;
            <i class="fa fa-close"></i>不合法规&nbsp;
            <i class="fa fa-close"></i>插边球站&nbsp;
            <i class="fa fa-close"></i>红标报毒&nbsp;
            <i class="fa fa-check"></i>原创优先&nbsp;
            <i class="fa fa-check"></i>技术优先
        </p>
        <div class="bz_about">
            <div> ① .交换友链可在<span class="wb_url"><a onclick="applyLink()">点击此处</a></span>.请将本站加入友链.本站会定时扫描所有友链，请确保网站访问正常。
            </div>
            <div> ② .贵站需要先添加本站友链，友链信息见本页最后，<strong>本站自动审核程序运行中，最迟会在24小时内跟上链接</strong>。</div>
            <div> ③ .如若发现互换友链后未经通知私自撤换友链者，本站将拉黑并永不交换。<strong>本站自动检查程序运行中，如发现友链被撤请检查贵站是否访问正常</strong>。</div>
            <div>note:申请提交后若无其它原因将在24小时内审核,如超过时间还未通过,请通过首页邮件地址联系我。(各种额外因素)</div>
        </div>

    </div>

    <div class="whitebg gbook" data-scroll-reveal="enter top and move 50px over 0.6s">
        <h2 class="htitle" > 本站信息：</h2>
        <div class="bz_about">
            <div>
                首页地址：www.bianxiaofeng.com<br>
                友链地址：www.bianxiaofeng.com/link.html<br>
                网站名称：Dimple的个人博客<br>
                网站描述：边小丰的个人博客，记录学习，记录生活。<br>
                网站图标地址：www.bianxiaofeng.com/imgs/favicon.ico<br>
                网站联系方式：bianxiaofeng@sohu.com<br>
            </div>
        </div>
    </div>
    <script th:src="@{/front/plugin/sweetalert/sweetalert2.min.js}"></script>
    <script>
        function applyLink() {
            Swal.mixin({
                input: 'text',
                confirmButtonText: '下一步 &rarr;',
                cancelButtonText: "取消",
                showCancelButton: true,
                progressSteps: ['1', '2', '3', '4', '5']
            }).queue([

                {
                    title: '网站首页地址',
                    html: '示例：<small>www.bianxiaofeng.com</small>'
                },
                {
                    title: '网站名称',
                    html: '示例：<small>边小丰的个人博客</small>'
                },
                {
                    title: '网站描述',
                    html: '示例：<small>边小丰的个人博客，记录生活，记录学习，记录自己</small>'
                },
                {
                    title: '网站图标',
                    html: '示例：<small>https://github.com/DimpleFeng/DimpleBlog</small>'
                },
                {
                    title: '联系方式',
                    html: '示例：<small>bianxiaofeng@sohu.com</small>'
                },
            ]).then((result) => {
                if (result.value) {
                    Swal.fire({
                        title: '保存成功',
                        text: "系统自动检查中，如检查通过，会自动显示在友链列表,请稍后刷新页面查看",
                        confirmButtonText: '提交成功!'
                    })
                }
            })
        }
    </script>
</article>
<div th:include="front/common :: front-footer"></div>

</body>
</html>
