<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="front/common :: front-head"></head>
<body>
<link th:href="@{/css/font-awesome.css}" rel="stylesheet">
<div th:include="front/common :: front-header"></div>
<article>
    <div class="whitebg lanmu">
        <img src="static/imgs/aboutMe.jpg">
        <h1>友链列表</h1>
    </div>


    <div class="whitebg gbook">
        <h2 class="htitle"> 友情站点：</h2>
        <ul class="link-list">
            <li th:each="link:${links}">
                <div class="link-item">
                    <a th:href="${link.url}" target="_blank">
                        <img th:src="${link.headerUrl}">
                        <h3 th:text="${link.title}"></h3>
                        <p th:text="${link.description}"></p>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="whitebg gbook">
        <h2 class="htitle"> 申请说明：</h2>
        <p style="margin:10px">
            <i class="fa fa-close"></i>经常宕机&nbsp;
            <i class="fa fa-close"></i>不合法规&nbsp;
            <i class="fa fa-close"></i>插边球站&nbsp;
            <i class="fa fa-close"></i>红标报毒&nbsp;
            <i class="fa fa-check"></i>原创优先&nbsp;
            <i class="fa fa-check"></i>技术优先
        </p>
        <div class="bz_about">
            <div> ① .交换友链可在点击此处.请将本站加入友链.本站会定时扫描所有友链，请确保网站访问正常。</div>
            <div> ② .贵站需要先添加本站友链，友链信息见本页最后，本站会在24小时内跟上链接。</div>
            <div> ③ .如若发现互换友链后未经通知私自撤换友链者，本站将拉黑并永不交换。</div>
            <div>note:申请提交后若无其它原因将在24小时内审核,如超过时间还未通过,请通过首页邮件地址联系我。(各种额外因素)</div>
        </div>

    </div>

    <div class="whitebg gbook">
        <h2 class="htitle"> 本站信息：</h2>
        <div class="bz_about">
            <div>
                首页地址：www.bianxiaofeng.com<br>
                友链地址：www.bianxiaofeng.com/link.html<br>
                网站名称：Dimple的个人博客<br>
                网站描述：边小丰的个人博客，记录学习，记录生活。<br>
                网站图标地址：<br>
                网站联系方式：bianxiaofeng@sohu.com<br>
            </div>
        </div>
    </div>
    <div class="whitebg gbook">
        <h2 class="htitle"> 申请友链：</h2>
        <form action="##" method="post" id="sublinkform">
            <div id="comment-author-info">
                <div class="comment-form-author" style="width: 100%;padding-right: 0">
                    <label for="author">网站名称（必填）：</label>
                    <input type="text" name="title" id="sitename" class="commenttext" tabindex="4" required=""
                           placeholder="木木彡博客">
                </div>
                <div class="comment-form-email" style="width: 100%;padding-right: 0">
                    <label for="email">首页链接（必填）：</label>
                    <input type="text" name="url" id="indexurl" class="commenttext" tabindex="4" required=""
                           placeholder="https://www.whongbin.cn">
                </div>
                <div class="comment-form-url" style="width: 100%;padding-right: 0">
                    <label for="url">站点简介：</label>
                    <textarea id="desc" name="desc" rows="2" tabindex="4"
                              placeholder="木木彡博客,一个致力于分享,分享心得,分享技术,分享知识点的个人博客"></textarea>
                </div>
            </div>
            <div class="comment-form-submit" style="text-align: right;margin: 10px 0;">
                <div id="link-tips"></div>
                <button id="linksubmit" type="submit" tabindex="5">提交申请</button>
            </div>
        </form>

    </div>
</article>
<div th:include="front/common :: front-footer"></div>

</body>
</html>
