<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<body>-->
<!--<ol class="page-navigator" th:fragment="pageNav(pageInfo, prevText, nextText, prefix)">-->


<!--    <th:block th:if="${!pageInfo.first}">-->
<!--        <li class="prev"><a th:href="@{'/'+${prefix}+'/'+${pageInfo.number}}" th:text="${prevText}"></a></li>-->
<!--    </th:block>-->


<!--    <th:block th:each="i :${#numbers.sequence(1, pageInfo.totalPages)}">-->
<!--        <li th:if="${i<6}" th:class="${pageInfo.number+1==i}?'current':''">-->
<!--            <a th:href="@{'/'+${prefix}+'/'+${i}}" th:text="${i}"></a>-->
<!--        </li>-->
<!--    </th:block>-->


<!--    <th:block th:if="${!pageInfo.last}">-->
<!--        <li class="next"><a th:href="@{'/'+${prefix}+'/'+${pageInfo.number}}" th:text="${nextText}"></a></li>-->
<!--    </th:block>-->

<!--</ol>-->

<!--</body>-->
<!--</html>-->
