<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="front/common :: front-head"></head>
<body>


<div th:include="front/common :: front-header"></div>


<article>
    <!--lbox begin-->
    <div class="lbox">
        <div class="whitebg lanmu"><img src="images/lm03.jpg">
            <h1>博客网站制作</h1>
            <p>博客网站制作，本栏目主要是分享关于域名选择、空间购买，个人博客网站模板制作，网站后期维护运营，优化等相关文章，以及提供帝国cms建站过程中遇到问题的解决办法。</p>
        </div>
        <div class="whitebg bloglist">
            <h2 class="htitle"><span class="hnav"><a href="/">推荐工具</a><a href="/">JS经典实例</a><a href="/">网站建设</a><a
                    href="/">CSS3|Html5</a><a href="/">心得笔记</a><a href="/">帝国cms教程</a></span>博客网站制作</h2>
            <ul>

            </ul>

        </div>

        <!--bloglist end-->
    </div>
    <div class="rbox">
        <div class="whitebg paihang">
            <h2 class="htitle">点击排行</h2>
            <section class="topnews imgscale"><a th:href="'/view/'+${clickBlog[0].blogId}"><img
                    src="/front/images/h1.jpg" th:src="${clickBlog[0].headerUrl}"><span
                    th:text="${clickBlog[0].title}"></span></a>
            </section>
            <ul>
                <li th:each="item:${clickBlog}">
                    <i></i>
                    <a th:href="'/view/'+${item.blogId}" th:text="${item.title}">
                    </a>
                </li>
            </ul>
        </div>
        <div class="whitebg tuijian">
            <h2 class="htitle">站长推荐</h2>
            <section class="topnews imgscale"><a th:href="'/view/'+${supportBlog[0].blogId}"><img
                    src="/front/images/h2.jpg" th:src="${supportBlog[0].headerUrl}"><span
                    th:text="${supportBlog[0].title}"></span></a>
            </section>
            <ul>
                <li th:each="item:${supportBlog}">
                    <a th:href="'/view/'+${item.blogId}"></a>
                    <i><img src="/front/images/text01.jpg" th:src="${item.headerUrl}"> </i>
                    <p th:text="${item.title}"></p>
                </li>
            </ul>
        </div>


        <div class="whitebg cloud">
            <h2 class="htitle">标签云</h2>
            <ul>
                <a href="" target="_blank">个人博客模板</a> <a href="" target="_blank">css动画</a> <a href=""
                                                                                              target="_blank">布局</a> <a
                    href="" target="_blank">今夕何夕</a> <a href="" target="_blank">SEO</a> <a href=""
                                                                                           target="_blank">女程序员</a> <a
                    href="" target="_blank">小世界</a> <a href="" target="_blank">个人博客</a> <a href=""
                                                                                           target="_blank">网页设计</a>
            </ul>
        </div>
        <div class="whitebg wenzi">
            <h2 class="htitle">猜你喜欢</h2>
            <ul>
                <li><a href="/">十条设计原则教你学会如何设计网页布局!</a></li>
                <li><a href="/">用js+css3来写一个手机栏目导航</a></li>
                <li><a href="/">6条网页设计配色原则,让你秒变配色高手</a></li>
                <li><a href="/">三步实现滚动条触动css动画效果</a></li>
                <li><a href="/">个人博客，属于我的小世界！</a></li>
                <li><a href="/">安静地做一个爱设计的女子</a></li>
                <li><a href="/">个人网站做好了，百度不收录怎么办？来，看看他们怎么做的。</a></li>
                <li><a href="/">做个人博客如何用帝国cms美化留言增加头像选择</a></li>
            </ul>
        </div>
        <div class="ad whitebg imgscale">
            <ul>
                <a href="/"><img src="images/ad02.jpg"></a>
            </ul>
        </div>
    </div>
</article>
<head th:include="front/common :: front-footer"></head>
</body>
</html>
