<!doctype html>

<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${tag.tagTitle+'—Dimple的个人博客'}">Dimple的个人博客</title>
    <div th:include="include-front :: head"></div>
</head>

<body class="nobg">
<header th:replace="include-front :: header"></header>

<!--内容区开始-->
<div class="container">
    <!--最新文章-->
    <section class="mysection">
        <h4 class="search-title bg-color"><i class="el-search-alt"></i>您查询的标签： <font color="#DC4900"
                                                                                     th:text="${tag.tagTitle}">Ecstore</font>
        </h4>
        <div class="arclist">
            <!--列表开始-->
            <ul>
                <li th:each="blog:${blogs.list}">
                    <div class="arcimg">
                        <img
                                th:src="${blog.headerImg}"
                                th:alt="${blog.title}" th:title="${blog.title}"/>
                    </div>
                    <div class="arc-right">
                        <h4 class="blue-text">
                            <a th:href="${'/f/article/'+blog.blogId+'.html'}"
                               th:title="${blog.title}"
                               th:text="${blog.title}">
                            </a>
                        </h4>
                        <p th:text="${blog.summary}"></p>
                        <ul>
                            <li>
                                <a th:title="${'边小丰'+#dates.format(blog.createTime, 'yyyy-MM-dd')+'发表'}">
                                    <i class="el-time"></i>
                                    <span th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd')}"></span>
                                </a>
                            </li>
                            <li>
                                <a href="about.html" title="作者： 边小丰"><i class="el-user"></i>边小丰</a>
                            </li>
                            <li><a th:href="${'/f/article/'+blog.blogId+'.html'}">
                                <i class="el-comment"></i>
                                <span th:id="${'sourceId::'+blog.blogId}" class="cy_cmt_count"></span>
                                <script id="cy_cmt_num"
                                        src="https://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=cyu583FnA">
                                </script>
                            </a>
                            </li>
                            <li><a th:title="${'已有'+blog.click+'次浏览'}"><i class="el-eye-open"></i><span
                                    th:text="${blog.click}"></span></a></li>
                            <li>
                                <a th:href="${'/f/category/'+blog.categoryId+'.html'}" title="查看分类">
                                    <i class="el-th-list"></i>
                                    <span th:text="${blog.categoryTitle}"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!--列表结束-->
        </div>
        <!--分页开始-->
        <div th:replace="navigation :: navigation(${blogs},'tag',${tag.tagId})"></div>
        <!--分页结束-->
    </section>
    <!--左侧结束-->

    <aside th:replace="include-front :: side"></aside>
</div>
<aside th:replace="include-front :: footer"></aside>
</body>
</html>