<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.file.service.mapper.SysFileMapper">

    <resultMap id="FileResult" type="com.dimple.file.service.entity.SysFile">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="extension" column="extension"/>
        <result property="type" column="type"/>
    </resultMap>


    <insert id="saveFileMetaInfo" parameterType="com.dimple.file.service.entity.SysFile">
        insert into sys_file (name, url, extension, type, create_by, create_time)
        values (#{name}, #{url}, #{extension}, #{type}, #{createBy}, sysdate())
    </insert>
    <select id="selectFileList" resultMap="FileResult">
        select id,name,url,extension,type from sys_file
        <where>
            <if test="name !=null and name !=''"> and name like concat('%', #{name}, '%')</if>
            <if test="type !=null and type !=''"> and type like concat('%', #{type}, '%')</if>
            <if test="extension !=null and extension !=''"> and extension like concat('%', #{extension}, '%')</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>
</mapper>