<!doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include-front :: head('版权声明-Dimple的个人博客','本站为个人非盈利站点，旨在个人学习、欣赏及记录等，故不受狭义的商业性版权限制')"/>
    <link rel="stylesheet" th:href="@{/front/css/comment.css}"/>
    <link rel="stylesheet" th:href="@{/front/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/front/plugin/simplemde/simplemde.min.css}"/>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script th:src="@{/ajax/libs/layui/layui.js}"></script>
</head>
<body class="nobg">
<th:block th:replace="include-front :: header"/>
<!--内容区开始-->
<div class="container">
    <input type="hidden" id="pageId" value="-2000"/>
    <section>
        <h4 style="text-align:center;">版权说明</h4>
        <div class="content_post">
            <p style="text-align: center;"><strong>第一章 声明</strong></p>
            <p></p>
            <p style="text-align: left;"><strong>第一条：</strong><span
                    style="text-decoration: underline;">本站为个人非盈利站点，<strong>旨在个人学习、欣赏及记录等</strong>，故不受狭义的商业性版权限制</span>，除非特别声明；
            </p>
            <p></p>
            <p style="text-align: left;"><strong>第二条：</strong>本站主要内容来源为本站编辑撰写、网友投稿（包括原创及非原创）、翻译外文和转载其他网站。</p>
            <p></p>
            <p style="text-align: center;"><strong>第二章：许可协议</strong></p>
            <p></p>
            <p style="text-align: left;"><strong>第三条：</strong>Dimple个人博客网站内容基于CC共享协议：署名---非商业性使用---相同共享方式 创作（<span
                    style="text-decoration: underline;"><strong>另有特别声明的文章按照声明内容处理</strong></span>）；</p>
            <p></p>
            <p style="text-align: left;"><strong>第四条：</strong>转载许可：转载需遵守“署名---非商业性使用---相同共享方式”，即<span
                    style="text-decoration: underline;">注明来源于Dimple的个人博客及标注作者姓名，但不允许为商业性质使用</span>；</p>
            <p></p>
            <p style="text-align: left;"><strong>第五条：</strong><span style="text-decoration: underline;">转载本站内容意味着“您”接受Dimple的个人博客网站的授权协议“署名---非商业性使用---相同共享方式”协议，这也意味Dimple的个人博客网站有权利转载“您”的内容，采取同样的授权方式。</span>
            </p>
            <p></p>
            <p style="text-align: left;">注：“您”代指互联网上所有的网站及媒体（下同）</p>
            <p></p>
            <p style="text-align: center;"><strong>第三章：“您”的权利</strong></p>
            <p></p>
            <p style="text-align: left;"><strong>第六条：</strong><span style="text-decoration: underline;">依据中华人民共和国《著作权法》第四节第二十二条，本站转载“您”的内容时会注明作者、作品名称，并遵守CC共享协议；</span>
            </p>
            <p></p>
            <p style="text-align: left;"><strong>第七条：</strong>如果“您”明确注明“不可转载／禁止转载／禁无断转载／未经许可不得转载”等，则本站将按照“您”的标示进行处理；
            </p>
            <p></p>
            <p style="text-align: left;"><strong>第八条：</strong>如果“您”明确注明“不可转载／禁止转载／禁无断转载／未经许可不得转载”等，但已主动转载（转载过）Dimple的个人博客网站的内容，则按第二章、第五条处理。
            </p>
            <p></p>
            <p style="text-align: center;"><strong>第四章：豁免</strong></p>
            <p></p>
            <p style="text-align: left;"><strong>第九条：</strong><span style="text-decoration: underline;"><strong>对于本站已有内容如若违反了“您”的授权协议（包括其他权利）</strong>，请“您”联系本站进行处理，包括修改、删除、致歉等；</span>
            </p>
            <p></p>
            <p style="text-align: left;"><strong>第十条：</strong>本站具有一定的开放性，接受网友的投稿，这也意味着可能存在稿件中<span
                    style="text-decoration: underline;">“未注明 / 注明但错误 / 作者错误 / 作品错误”</span>等情况，请参考第四章、第九条处理；</p>
            <p></p>
            <p style="text-align: left;"><strong>第十一条：</strong>“您”主动更改、变更授权协议导致本站违反授权协议，请参考第四章、第九条处理；</p>
            <p></p>
            <p style="text-align: center;"><strong>附则</strong></p>
            <p></p>
            <p style="text-align: left;"><strong>第十二条：</strong><span style="text-decoration: underline;">Dimple的个人博客网站有权利在不通知“您”的情况下修改本声明内容；</span>
            </p>
            <p></p>
            <p style="text-align: left;"><strong>第十三条：本声明自2017年3月1日生效；</strong></p>
            <p></p>
            <p style="text-align: left;"><strong>第十四条：</strong>本声明解释权归Dimple的个人博客网站所有。</p>
            <p></p>
            <p style="text-align: center;"><strong>附：</strong></p>
            <p></p>
            <p style="text-align: left;">侵权及请求本站删除内容请查看该流程：<a href="/f/delete.html"
                                                              target="_blank" rel="nofollow">http://www.bianxiaofeng.com/f/delete.html</a>
            </p>
            <p></p>
            <p style="text-align: left;">联系人：边小丰</p>
            <p></p>
            <p style="text-align: left;">电子邮箱：bianxiaofeng@sohu.com </p>
            <p></p>
            <p style="text-align: left;">腾讯QQ：726567707（注明版权问题）</p>
        </div>
        <h3 class="form-btn blue-text">
            <a href="javascript:;">
                <i class="fa fa-edit"></i>我要留言
            </a>
        </h3>
        <!-- 通用评论开始 -->
        <div class="comment-area" th:fragment="comment" id="Comment">
            <h4 class="index-title">
                <i class="fa fa-comments-o"></i>[[${'当前共有 '+comments.size()+' 条评论'}]]
            </h4>
            <div id="Space"></div>

            <div class="commentList">
                <input type="hidden" id="replyId">
                <ul class="comment">
                    <li th:each="comment:${comments}">
                        <div class="comment-body fade-in" th:id="${'comment-'+comment.id}">
                            <div class="cheader">
                                <div class="user-img">
                                    <img class="userImage" th:src="${comment.avatar}"
                                         th:onerror="this.src='/front/images/user.png'">
                                </div>
                                <div class="user-info">
                                    <div class="nickname">
                                        <a href="javascript:void(0)" rel="external nofollow">
                                            <strong th:text="${comment.nickname}"></strong>
                                        </a>
                                        <i class="icons os-null" title="Windows 10"></i>
                                        <i class="icons browser-null" title="Chrome 76.0.3809.87"></i>
                                    </div>
                                    <div class="timer">
                                        <i class="fa fa-clock-o fa-fw"></i><span
                                            th:text="${#dates.format(comment.createTime,'yyyy-MM-dd hh:mm:ss')}"></span>
                                        <i class="fa fa-map-marker fa-fw"></i> [(${comment.location})]
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <a th:if="${comment.parentComment != null}"
                                   th:href="${'#comment-'+comment.parentComment.id}"
                                   class="comment-quote"
                                   th:text="${'@'+comment.parentComment.nickname}"></a>
                                <div th:if="${comment.parentComment != null}"
                                     style="background-color: #f5f5f5;padding: 5px;margin: 5px;border-radius: 4px;">
                                    <i class="fa fa-quote-left"></i>
                                    <p></p>
                                    <div style="padding-left: 10px;">
                                        <p th:utext="${comment.parentComment.content}"></p>
                                    </div>
                                </div>
                                <div>
                                    <p th:utext="${comment.content}">21321</p>
                                </div>
                            </div>
                            <div class="sign" th:id="${'commentDiv-'+comment.id}">
                                <a href="javascript:void(0);" class="comment-up"
                                   th:onclick="good(event,[[${comment.id}]])">
                                    <i class="fa fa-thumbs-o-up"></i>赞(<span class="count"
                                                                             th:id="${'good-count-'+comment.id}"
                                                                             th:text="${comment.good}">0</span>)
                                    <i class="sepa"></i>
                                </a>
                                <a href="javascript:void(0);" class="comment-down" t
                                   th:onclick="bad(event,[[${comment.id}]])">
                                    <i class="fa fa-thumbs-o-down"></i>踩(<span class="count"
                                                                               th:id="${'bad-count-'+comment.id}"
                                                                               th:text="${comment.bad}">0</span>)
                                    <i class="sepa"></i>
                                </a>
                                <a href="javascript:void(0);" class="comment-reply" th:id="${'reply-'+comment.id}"
                                   th:onclick="reply([[${comment.id}]])"
                                   style="display: inline;">
                                    <i class="fa fa-reply"></i>回复
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 通用评论结束 -->
    </section>    <!--左侧结束-->
    <th:block th:replace="include-front :: side"/>
</div>
<th:block th:replace="include-front :: footer"/>
<script th:src="@{/front/js/comment.js}"></script>
<script th:src="@{/front/plugin/simplemde/simplemde.min.js}"></script>

<script>
    $(function () {
        initCommentEditor("#Space");
    });
</script>

</body>
</html>