<!doctype html>

<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include-front :: head('侵删联系-Dimple的个人博客','出于传递信息之目的，故本站可能会误刊发损害或影响“您”的合法权益，请“您”积极与我们联系处理')"/>
    <link rel="stylesheet" th:href="@{/front/css/comment.css}"/>
    <link rel="stylesheet" th:href="@{/front/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/front/plugin/simplemde/simplemde.min.css}"/>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script th:src="@{/ajax/libs/layui/layui.js}"></script>
</head>

<body class="nobg">
<th:block th:replace="include-front :: header"/>
<!--内容区开始-->
<div class="container">
    <input type="hidden" id="pageId" value="-3000"/>
    <!--最新文章-->
    <section>
        <h4 style="text-align:center;">侵删联系</h4>
        <div class="content_post">
            <p style="text-align: center;"><strong>声明</strong></p>
            <p></p>
            <p style="text-align: left;">1、<span style="text-decoration: underline;">出于传递信息之目的</span>，故本站可能会误刊发损害或影响“您”的合法权益，请“您”积极与我们联系处理；
            </p>
            <p></p>
            <p style="text-align: left;">2、因时间、精力有限，我们无法一一核实每一条消息的真实性，但我们会在发布之前尽最大努力来核实这些信息；</p>
            <p></p>
            <p style="text-align: left;">3、<span style="text-decoration: underline;">无论出于何种目的要求本站删除内容，“您”均需要提供相关证明，否则不予处理；</span>
            </p>
            <p></p>
            <p style="text-align: center;"><strong>主体要求</strong></p>
            <p></p>
            <p style="text-align: left;">4、无论是因我站侵权还是刊发内容可能影响到“您”的权益，<strong>所有删除、修改请求仅允许直接权利人申请；</strong></p>
            <p></p>
            <p style="text-align: left;">5、“您”如果希望删除、修改内容，首先“您”必须是直接权利人且必须可以提供相关证明文件；</p>
            <p></p>
            <p style="text-align: left;">6、<span
                    style="text-decoration: underline;">非直接权利人例如关联公司、朋友等，需持有直接权利人的授权证明；</span>
            </p>
            <p></p>
            <p style="text-align: center;"><strong>处理流程</strong></p>
            <p></p>
            <p style="text-align: left;">7、所需材料：直接权利人的证明文件、权利人给予处理人的授权文件、删改请求文件，<span
                    style="text-decoration: underline;">以上文件均需加盖公章</span>；</p>
            <p></p>
            <p style="text-align: left;">
                8、<strong>填写完成上述文件后请打印并加盖公章后将扫描件发送至：bianxiaofeng@sohu.com</strong></p>
            <p></p>
            <p style="text-align: left;">9、注意：仅上述邮箱接受删改请求、仅支持通过邮箱联系（便于日后查证）。</p>
            <p></p>
            <p style="text-align: center;"><strong>注：</strong></p>
            <p></p>
            <p style="text-align: left;">1、<span style="text-decoration: underline;">为保证本站正常运作，凡是无法提供完整证明文件的请求本站一律不予处理，请谅解；</span>
            </p>
            <p></p>
            <p style="text-align: left;">2、<span style="text-decoration: underline;">因时间精力有限，凡是无法提供完整证明文件的请求本站均不会回复邮件，请谅解；</span>
            </p>
            <p></p>
            <p style="text-align: left;">3、<strong>符合删改条件的请求本站会在72小时内进行处理</strong>，无论是否按照“您”的要求删改页面，我们均会通过邮件回复“您”。
            </p>
            <p></p>
            <p style="text-align: left;"><strong><span style="color: #ff0000;">4、本站不接受任何付费删帖、亦未授权任何代理公司负责删帖，请勿轻信任何谣传谨防上当受骗！</span></strong>
            </p>
        </div>
        <h3 class="form-btn blue-text">
            <a href="javascript:;">
                <i class="fa fa-edit"></i>我要留言
            </a>
        </h3>
        <!-- 通用评论开始 -->
        <div class="comment-area" th:fragment="comment" id="Comment">
            <h4 class="index-title">
                <i class="fa fa-comments-o"></i>[[${'当前共有 '+comments.size()+' 条评论'}]]
            </h4>
            <div id="Space"></div>

            <div class="commentList">
                <input type="hidden" id="replyId">
                <ul class="comment">
                    <li th:each="comment:${comments}">
                        <div class="comment-body fade-in" th:id="${'comment-'+comment.id}">
                            <div class="cheader">
                                <div class="user-img">
                                    <img class="userImage" th:src="${comment.avatar}"
                                         th:onerror="this.src='/front/images/user.png'">
                                </div>
                                <div class="user-info">
                                    <div class="nickname">
                                        <a href="javascript:void(0)" rel="external nofollow">
                                            <strong th:text="${comment.nickname}"></strong>
                                        </a>
                                        <i class="icons os-null" title="Windows 10"></i>
                                        <i class="icons browser-null" title="Chrome 76.0.3809.87"></i>
                                    </div>
                                    <div class="timer">
                                        <i class="fa fa-clock-o fa-fw"></i><span
                                            th:text="${#dates.format(comment.createTime,'yyyy-MM-dd hh:mm:ss')}"></span>
                                        <i class="fa fa-map-marker fa-fw"></i> [(${comment.location})]
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <a th:if="${comment.parentComment != null}"
                                   th:href="${'#comment-'+comment.parentComment.id}"
                                   class="comment-quote"
                                   th:text="${'@'+comment.parentComment.nickname}"></a>
                                <div th:if="${comment.parentComment != null}"
                                     style="background-color: #f5f5f5;padding: 5px;margin: 5px;border-radius: 4px;">
                                    <i class="fa fa-quote-left"></i>
                                    <p></p>
                                    <div style="padding-left: 10px;">
                                        <p th:utext="${comment.parentComment.content}"></p>
                                    </div>
                                </div>
                                <div>
                                    <p th:utext="${comment.content}">21321</p>
                                </div>
                            </div>
                            <div class="sign" th:id="${'commentDiv-'+comment.id}">
                                <a href="javascript:void(0);" class="comment-up"
                                   th:onclick="good(event,[[${comment.id}]])">
                                    <i class="fa fa-thumbs-o-up"></i>赞(<span class="count"
                                                                             th:id="${'good-count-'+comment.id}"
                                                                             th:text="${comment.good}">0</span>)
                                    <i class="sepa"></i>
                                </a>
                                <a href="javascript:void(0);" class="comment-down" t
                                   th:onclick="bad(event,[[${comment.id}]])">
                                    <i class="fa fa-thumbs-o-down"></i>踩(<span class="count"
                                                                               th:id="${'bad-count-'+comment.id}"
                                                                               th:text="${comment.bad}">0</span>)
                                    <i class="sepa"></i>
                                </a>
                                <a href="javascript:void(0);" class="comment-reply" th:id="${'reply-'+comment.id}"
                                   th:onclick="reply([[${comment.id}]])"
                                   style="display: inline;">
                                    <i class="fa fa-reply"></i>回复
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 通用评论结束 -->
    </section>    <!--左侧结束-->

    <th:block th:replace="include-front :: side"/>
</div>
<th:block th:replace="include-front :: footer"/>
<script th:src="@{/front/js/comment.js}"></script>
<script th:src="@{/front/plugin/simplemde/simplemde.min.js}"></script>
<script>
    $(function () {
        initCommentEditor("#Space");
    });
</script>

</body>
</html>