.TY-login-window {
    font-size: 12px;
    line-height: 1.5;
    font-family: "微软雅黑", Arial, Helvetica;
    padding: 15px;
    /*background:#fff;
border-radius:6px;*/
}

.login-window-header {
    height: 65px;
    overflow: hidden;
    position: relative;
    *zoom: 1;
}

.loginWin-tab {
    text-align: center;
    margin-bottom: 15px;
}

.loginWin-tab-list {
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom: 1;
}

.loginWin-tab-list li {
    float: left;
    display: inline;
    border-bottom: 1px solid #aaa;
    color: #aaa;
    width: 143px;
    height: 21px;
    line-height: 21px;
}

.loginWin-tab-list li span {
    padding-left: 16px;
    /*background:url(resources/images/loginWin_icons.png?_v=20170104) no-repeat;*/
    cursor: pointer;
}

.loginWin-tab-list .normal-login-tab span {
    background-position: 0 -159px;
}

.loginWin-tab-list .qrcode-login-tab span {
    background-position: 0 -95px;
}

.loginWin-account {
    width: 286px;
    margin: 0 auto 15px;
}

.loginWin-account-title {
    color: #000;
    font-size: 14px;
    margin-bottom: 15px;
    text-indent: 10px;
}

.loginWin-account-list {
    margin-right: -10px !important;
    height: 152px;
    overflow: hidden;
}

.loginWin-account-list li {
    float: left;
    display: inline;
    margin-right: 10px;
}

.loginWin-account-list li a {
    display: block;
    padding: 9px 10px;
    line-height: 20px;
    width: 118px;
    color: #aaa;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
}

.loginWin-account-list li a:hover {
    color: #308ee3;
}

.loginWin-account-list li.checked a {
    color: #fff;
    background: #308ee3;
    border-radius: 6px;
}

.loginWin-account-list li.checked a:hover {
    color: #fff;
}

.loginWin-form {
    color: #000;
}

.loginWin-login-form {
    width: 286px;
    margin: 0 auto;
}

.loginWin-login-form a,
.loginWin-login-form a:link,
.loginWin-login-form a:visited {
    color: #308ee3;
    text-decoration: none;
}

.loginWin-login-form a:hover,
.loginWin-login-form a:active {
    color: #308ee3;
    text-decoration: underline;
}

.loginWin-form-item {
    margin-bottom: 10px;
}

.loginWin-form-item .input-text {
    border: 1px solid #aaa;
    border-radius: 6px;
    padding: 6px 12px;
    width: 286px;
    height: 38px;
    line-height: 38px;
    outline: 0 none;
}

.loginWin-form-item .input-text:focus {
    border-color: #308ee3;
}

.loginWin-form-item .input-checkbox {
    vertical-align: middle;
    margin: -2px 4px 0 0;
    outline: 0 none;
}

.loginWin-submit-btn {
    border: 0 none;
    width: 286px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: #308ee3;
    border-radius: 6px;
    cursor: pointer;
    vertical-align: middle;
    outline: 0 none;
}

.loginWin-account-input,
.loginWin-password-input {
    position: relative;
    *zoom: 1;
}

.loginWin-account-input .input-text,
.loginWin-password-input .input-text {
    padding-left: 42px;
    width: 286;
}

.loginWin-account-input label,
.loginWin-password-input label {
    position: absolute;
    width: 24px;
    height: 24px;
    font-size: 0;
    line-height: 0;
    left: 12px;
    top: 6px;
    background: url("../images/loginWin_icons.png") no-repeat;
}

.fr {
    float: right;
    display: inline;
}

.loginWin-account-input label {
    background-position: 0 -256px;
}

.loginWin-password-input label {
    background-position: 0 -338px;
}

.loginWin-account-input .input-text:focus ~ label {
    background-position: 0 -296px;
}

.loginWin-password-input .input-text:focus ~ label {
    background-position: 0 -381px;
}

.switch-login-toggle,
.normal-login-toggle {
    color: #f9a30f;
    padding-left: 15px;
    /*background:url(resources/images/loginWin_icons.png?_v=20170104) no-repeat;*/
    cursor: pointer;
}

.normal-login-toggle {
    background-position: 0 -190px;
}

.switch-login-toggle {
    background-position: 0 -223px;
}

.loginWin-qrcode {
    margin-top: 50px;
    height: 273px;
}

.loginWin-qrcode-box {
    width: 180px;
    padding-left: 216px;
    margin: 0 auto;
    text-align: center;
    /*background:url(resources/images/loginWin_qrcode_bg.png?_v=20170104) no-repeat;*/
    position: relative;
    *zoom: 1;
}

.loginWin-third {
    width: 286px;
    margin: 20px auto 0;
}

.loginWin-third-title {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    *zoom: 1;
}

.loginWin-third-title:before {
    content: "";
    width: 100%;
    height: 1px;
    background: #aaa;
    position: absolute;
    top: 50%;
    left: 0;
}

.loginWin-third-title span {
    padding: 0 10px;
    color: #aaa;
    background: #fff;
    position: relative;
    *zoom: 1;
}

.loginWin-third-list {
    margin-right: -53px !important;
    overflow: hidden;
}

.loginWin-third-list li {
    float: left;
    display: inline;
    width: 60px;
    height: 60px;
    margin-right: 53px;
}

.loginWin-third-list li a {
    display: block;
    width: 60px;
    height: 60px;
    background: url("/front/images/loginWin_third.png") no-repeat;
}

.loginWin-third-list .weixin-login {
    background-position: 0 0;
}

.loginWin-third-list .qq-login {
    background-position: 0 -60px;
}

.loginWin-third-list .weibo-login {
    background-position: 0 -120px;
}

/*手机端登录*/
.loginwap-third-list li {
    float: left;
    display: inline;
    width: 33.333%;
    height: 50px;
    /*margin-right:32%;*/
}

.loginwap-third-list li a {
    margin-top: 5px;
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 34.76%;
    background: url("/front/images/loginwap_third.png") no-repeat;
}

.loginwap-third-list .weixin-login {
    background-position: 0 0;
}

.loginwap-third-list .qq-login {
    background-position: 0 -40px;
}

.loginwap-third-list .weibo-login {
    background-position: 0 -80px;
}

#loginWin_content_wrapper {
    padding: 10px 0;
}

.loginWin-switch-login-wrapper .loginWin-tab,
.loginWin-switch-login-wrapper .loginWin-qrcode,
.loginWin-switch-login-wrapper .loginWin-third,
.loginWin-switch-login-wrapper .loginWin-account-input,
.loginWin-switch-login-wrapper .loginWin-register-link,
.loginWin-switch-login-wrapper .switch-login-toggle {
    display: none;
}

.loginWin-normal-login-wrapper .loginWin-account,
.loginWin-normal-login-wrapper .loginWin-qrcode,
.loginWin-normal-login-wrapper .normal-login-toggle {
    display: none;
}

.loginWin-normal-login-wrapper .normal-login-tab {
    border-bottom-color: #308ee3;
    color: #308ee3;
}

.loginWin-normal-login-wrapper .normal-login-tab span {
    background-position: 0 -127px;
    cursor: text;
}

.loginWin-qrcode-login-wrapper .loginWin-account,
.loginWin-qrcode-login-wrapper .loginWin-form,
.loginWin-qrcode-login-wrapper .loginWin-third {
    display: none;
}

.loginWin-qrcode-login-wrapper .qrcode-login-tab {
    border-bottom-color: #308ee3;
    color: #308ee3;
}

.loginWin-qrcode-login-wrapper .qrcode-login-tab span {
    background-position: 0 -64px;
    cursor: text;
}