body{font-size:14px;font-size:100%;font-family:'Microsoft YaHei';line-height:1.5;margin:0;padding:0;min-width:320px;display:none;}
a{color:inherit;text-decoration:none;}
img{border:none;}
ul,dl,dt,dd,p{padding:0;margin:0;list-style:none;}
h1,h2,h3,h4,h5{padding:10px 0;margin:0;text-indent:5px;background:rgba(255,255,255,0.5);margin-bottom:15px;}
input,button,select{outline:none!important}
input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none; }
body{background:#e9ecd7 url("../images/bg.jpg");background-attachment: fixed;background-repeat: no-repeat;background-size: 100% 100%;}
body:after {content: '';position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: rgba(255,255,255,0.5);z-index: -1;}
i{color:#ff6700;margin-right:5px;}
input,textarea{padding:0;margin:0;border:#ddd 1px solid;box-sizing:border-box;box-shadow:inset 0 0 2px rgba(0,0,0,0.05);font-family:'Microsoft YaHei';text-indent:10px;background:rgba(255,255,255,0.5);transition:all 0.5s;-webkit-transition:all 0.5s;}
input:focus,textarea:focus{ outline:none;border:#ff6700 1px solid;box-shadow: 0 0 8px rgba(255, 103, 0,0.7);}
.nobg{background-image:none!important;background-color:#fff!important;}

/*title*/
div#tooltip {position:absolute; z-index:1000;width:auto!important;background:linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0.9),rgba(255,255,255,1)); text-align:left; padding:5px 10px;border-radius:5px;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 1));
    box-shadow:0 5px 20px #666;}
div#tooltip p {color:#ff6700;font-size:12px;}
div#tooltip p:after{content:'';width: 0;height: 0;position:absolute;left:10%;top:-8px;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 8px solid rgba(255,255,255,0.95);}
/*小图标*/
.orange-text{color:#ff6700;}
.blue-text{color:#0181da;}
.bg-color{background:rgba(255,255,255,0.5);}
.index-title{font-size:14px;color:#0181da;font-weight:normal;}
.index-title small{color:#bcbcbc;margin-left:5px;font-size:12px;}
.lable{display:inline-block;background:#ff4200;padding:0px 5px;color:#fff;border-radius:5px;-webkit-border-radius:5px;font-weight:normal;margin-left:5px;}
.img-circle{border-radius:100px;-webkit-border-radius:100px;-moz-border-radius:100px;}
.tuijian{background:rgba(255,255,255,0.5) url("../images/tuijian.gif.png")no-repeat 98% 8px!important;}
.Hot{background:rgba(255,255,255,0.5) url("../images/hot.gif")no-repeat 98% 8px;}
.New{background:rgba(255,255,255,0.5) url("../images/new.gif")no-repeat 98% 8px;}
.News{background:url("../images/new.gif")no-repeat 100% 0px;}
.Hots{background:url("../images/hot.gif")no-repeat 100% 0px;}
.arc-tj{background:rgba(255,255,255,0.5) url("../images/tj.gif")no-repeat 98% 8px;background-size:10%;}
.qq{background:url("../images/qqz.png")no-repeat 100% 0px;}

/*����ͨ����ʽ*/
header{width:100%;height:70px; background:rgba(255,255,255,0.85);box-shadow:0 0 5px #13c5f8;position:fixed;z-index:10;/*url(../images/bgimg/topbg1.png)repeat-x;background-size: 100% 100%;*/	}
header .top{width:100%;max-width:1200px;margin:auto;height:100%;position:relative;}
header .top .top-left{width:36%;float:left;overflow:hidden;height:100%;position:relative;}

header .mynav{width:60%;float:left;height:100%;position:relative;}
.top .logo{width:33%;float:left;}
.top .logo img{width:90%;padding-top:0.7em;}

/*��Ϣ��ʽ*/
.web-xiaoxi{margin-top:25px;width:67%;float:left;position:relative;font-size:12px;color:#777;}
.web-xiaoxi i{position:absolute;left:0;top:6px;color:inherit;}
.mulitline{height:25px;overflow:hidden;margin-left:20px;}
.mulitline li{line-height:25px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}




#tianqi{height:20px;max-width:270px;}
.mynav >ul{}
.mynav >ul >li{text-align:center;width:12.5%;font-size:16px;color:inherit;height:100%;float:left;position:relative;}

.mynav> ul >li >a{display:inline-block;width:100%;height:70px;line-height:70px;color:#ff6700;transition:all 0.2s;-webkit-transition:all 0.2s;}
.mynav >ul >li >a:hover {background: #13c5f8;color:#fff;font-size:20px;}
.mynav >.nav-active{background: #13c5f8;}
.mynav >.nav-active a{color:#fff!important;font-size:20px;}
.mynav >ul >li .fa-chevron-down{font-size:12px;color:inherit;}
.drop:hover .fa-chevron-down{color:inherit;}


.drop-nav{}
.drop-nav li.nav-active a{border:none;}
/*������*/
.drop .fa-chevron-down{font-size:12px;margin-left:10px;display:inline-block;transition: all 0.2s;-webkit-transition: all 0.2s;}
.nav-active .fa-chevron-down{transform:rotate(180deg);}
.drop:hover .fa-chevron-down{transform:rotate(180deg);}
.drop-nav{position:absolute;width:150px;border:1px solid #ddd;top:70px;box-sizing:border-box;border-top:none;display:none;	background:rgba(255,255,255,0.9);box-shadow:2px 2px 8px #ccc;}
.drop-nav li{padding:10px 0;width:100%;color:inherit;font-size:14px;text-align:center;border-bottom:1px dotted #ddd;box-sizing:border-box;transition: all 0.2s;-webkit-transition: all 0.2s;}
.drop-nav li:hover{background:#13c5f8;font-size:16px;}
.drop-nav li:hover a,.drop-nav li:hover a i{color:#fff;}
.drop-nav li a{display:inline-block;height:100%;width:100%;    color: #ff6700!important;}
.drop-nav li:hover a{color:#fff!important;}
.drop-nav li a i{font-size:12px;margin-right:10px;color:#7d7d7d;}
.drop-nav li.nav-active{background:#13c5f8!important;}
.drop-nav li.nav-active a{color:#fff!important;font-size:16px!important;}


/*nav css*/
.mobile-nav{overflow:hidden;float:right;text-align:center;width:33px;height:100%;position:relative;}

.mobile-nav .fa-list, .mobile-nav .fa-remove{display:inline-block;line-height:2.8em;font-size:20px;color:#ff6700;}
.mobile-nav .fa-remove{display:none;}
.mob-menu{z-index:999;position:absolute;width:100%;box-shadow:0px 5px 7px #999;background:rgba(255,255,255,0.9);top:3.3em;display:none;z-index:99999;right:0;-webkit-animation:mob-menu 0.5s}



.mob-menu .mob-ulnav i{top:17px;right:40%;position:absolute;display: inline-block;width: 0;height: 0;border-top: 5px solid #525252;border-right: 5px solid transparent;border-left: 5px solid transparent;}
.mob-menu .mob-ulnav li a{display:inline-block;position:relative;color:#525252;width:100%;padding:10px 0;border-bottom:1px dotted #adeccc;text-align:center;font-size:12px;}
.mob-menu .mob-ulnav li{}

.mob-menu .mob-ulnav li:last-child a{border:0;}
.mob-dropmenu{clear:both;background:#eee;display:none;}
.mob-drop .el-caret-down{float:right;}
.mob-menu .search{margin:0;}
.mob-menu .search form{padding:0;}
/*END mob*/




/*section*/
.container{width:100%;max-width:1200px;min-width:320px;margin:auto;padding-top:100px;}


.mysection{width:65%;float:left;}

/*�б���ʽ*/
.arclist{width:100%;margin-top:25px;}
.arclist >ul{width:100%;perspective:1500px;-webkit-perspective:1500px; /* Safari and Chrome */}
.arclist>ul>li{width:100%;margin:auto;padding:25px;border:1px solid rgba(0,0,0,0);box-sizing:border-box;box-sizing:border-box;margin-bottom:25px;overflow:hidden;position:relative;background:rgba(255,255,255,0.5);transition: all 0.5s;-webkit-transition: all 0.5s;}
.arclist>ul>li> .arcimg{width:25%;height:105px;float:left;overflow:hidden;}
.arclist>ul>li> .arcimg img{width:100%;height:100%;transition: all 0.5s;-webkit-transition: all 0.5s;}
.arc-right{width:71%;float:right;position:relative;}
.arc-right h4{padding:0;margin:0;background:none;font-size:18px;padding-bottom:11px;text-indent:0;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.arc-right p{font-size:13px;overflow:hidden;text-overflow:ellipsis;height:54px;color:#515151;}
.arc-right ul{width:100%;overflow:hidden;position:absolute;}
.arc-right ul li{float:left;overflow:hidden;padding:0 5px;font-size:12px;color:#888;    max-width: 150px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.arc-right ul li:last-child{float:right;}
.arclist>ul>li:hover{border:1px solid #ff6700;box-sizing:border-box;transition: all 0.3s;-webkit-transition: all 0.3s;/*transform: rotateX(10deg);-webkit-transform: rotateX(10deg);*/ /* Safari and Chrome */}
.arclist>ul>li:hover img{}
.arc-right h4:hover{color:#ff4200}
/*end �б�*/


.guanggao{margin-top:30px;text-align:center;}
.guanggao img{max-width:100%;}

.add-more{width:100%;padding:10px 0;text-align:center;font-size:16px;margin:15px 0;;display:inline-block;border-bottom:1px solid #ddd;box-sizing:border-box;	transition:all 0.5s;-webkit-transition:all 0.5s;}
.add-more:hover{background:#ff6700;color:#fff;}

/*������*/
.myaside{width:32%;float:right;}
.left-side,.right-side{width:25%;float:left;margin-bottom:30px;}
.section{    width: 45%;float: left;margin: 0 2.5%;}
/*��ע��*/
.xiangguan{width:100%;overflow:hidden;}
.xiangguan div{display:block;font-size:14px;float:left;overflow:hidden;width:33%;text-align:center;margin-bottom:20px;padding-top:10px;color:#fff;}
.xiangguan div a{overflow:hidden;display:inline-block;width:50px;height:50px;margin:auto;border-radius:100px;-webkit-border-radius:100px;transition:all 0.5s;-webkit-transition:all 0.5s;}
.xiangguan div a i{line-height:50px;font-size:20px;margin:0;}
.xiangguan div a img{width:100%;height:100%;}
.xiangguan div span{display:block;width:100%;padding-top:10px;color:#777;}
.xiangguan .benbo{background:#0cabd3;}
.xiangguan > div >.mail-btn{background:#0cd38f;padding:0;}
.xiangguan .github{background:#ee4f08;}
.xiangguan .side-fx{background:#8aee08;cursor:pointer;}
.xiangguan a:hover{opacity:0.8;transform:rotate(360deg) scale(1.3);}
.xiangguan a i{color:inherit;}

.other-xg a{width:50%;float:left;text-align:center;font-size:14px;color:#999;cursor:pointer;}
.other-xg i{color:inherit;}
.other-xg .rmb{font-family:'Microsoft YaHei'}


.other-xg{width:100%;overflow:hidden;padding-bottom:10px;}
.side-bdfx{display:none;border-radius:5px;position:absolute;background:rgba(255,255,255,0.9);width:350px;box-shadow:0px 0px 15px #ccc;border:1px solid #ccc;z-index:999;}
.side-bdfx>.bdsharebuttonbox{padding:20px 0;margin:0;}
.side-bdfx i{position:absolute;right:5px;top:5px;color:#777;cursor:pointer;font-size:12px;}

.focus-me{margin-bottom:30px;position:relative;}
.bdsharebuttonbox{padding:10px 0 25px 0;text-align:center;margin:auto;overflow:hidden!important;}
.bdsharebuttonbox li{display:inline;}
.bdsharebuttonbox a{text-align:center;background:url("../images/bd-fx.png")no-repeat!important;width:50px!important;height:50px!important;display:inline-block!important;margin:0 3.5%!important;transition:all 0.5s;-webkit-transition:all 0.5s;}
.bdsharebuttonbox .bds_weixin{background-position:0% 4%!important;}
.bdsharebuttonbox .bds_tsina{background-position:33% 4%!important;}
.bdsharebuttonbox .bds_qzone{background-position:66% 4%!important;}
.bdsharebuttonbox .bds_tieba{background-position:99.5% 4%!important;}
.bdsharebuttonbox .bds_weixin:hover{background-position:0% 90%!important;}
.bdsharebuttonbox .bds_tsina:hover{background-position:33% 90%!important;}
.bdsharebuttonbox .bds_qzone:hover{background-position:66% 90%!important;}
.bdsharebuttonbox .bds_tieba:hover{background-position:99.5% 90%!important;}
.bdsharebuttonbox a:last-child{margin:0;}
.bdshare-button-style1-32 a{float:none!important;}



/*��ǩ��*/
.cloud { width:100%; clear: both; overflow: hidden;border-radius:0px;border:0px solid #eee;
    /*margin-top:30px;*/
    overflow:auto;padding-bottom:15px;}
.cloud ul {width:95%;margin:auto;overflow:hidden;}
.cloud ul li {padding:0.1em 0.5em 0.1em 0.5em;float:left;text-align:center; border-radius:0.5em;margin:0.3em 1% 0.3em 1%;-moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.cloud ul li a { color: #FFF;font-size:12px;}
.cloud ul li:hover { border-radius: 0; text-shadow: #000 1px 1px 1px }
.cloud ul li:nth-child(8n-4) { background: #20a8fe }
.cloud ul li:nth-child(8n-3) { background: #EB6841 }
.cloud ul li:nth-child(8n-2) { background: #3FB8AF }
.cloud ul li:nth-child(8n-1) { background: #FE4365 }
.cloud ul li:nth-child(8n-5) { background: #FC9D9A }
.cloud ul li:nth-child(8n-6) { background: #EDC951 }
.cloud ul li:nth-child(8n-7) { background: #C8C8A9 }
.cloud ul li:nth-child(8n) { background: #83AF9B }
.cloud ul li:first-child { background: #036564 }
.cloud ul li:last-child { background: #3299BB }

/*文章详细*/
.article-push{margin-top:30px;}
.article-push >ul> li> .arc-right>h4{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:14px;}
.article-push >ul{padding-bottom: 10px;}
.article-push ul li{background:none;padding:10px 5%;margin-bottom:5px;overflow:hidden;}
.article-push ul li:last-child{border:none;}
.article-push>ul>li> .arcimg{width:33%;float:left;border-radius:3px;height:83px;-webkit-border-radius:3px;overflow:hidden;border:1px dotted #05b129;}
.article-push>ul>li> .arcimg img{width:100%;height:100%;padding:3px;box-sizing:border-box;border-radius:3px;-webkit-border-radius:3px;}
.article-push>ul>li> .arc-right{width:62%;}
.article-push>ul>li> .arc-right p{height:37px;font-size:12px;}
.article-push >ul>li>ul{width:100%;}
.article-push .arc-right>ul li{padding:0;}
.article-push >ul> li:hover{background:#f9fffc;}
/*����*/
.search{margin-top:20px;margin-bottom:20px;}
.search form{width:95%;margin:auto;}
.search-index{overflow:hidden;padding:10px 0;height:2em;}
.search-index input{font-size:12px;color:#333;height:100%;width:80%;float:left;}
.search-index i{height:100%;width:20%;background:rgba(255,255,255,0.8);padding:0;margin:0;text-align:center;font-size:16px;line-height:2em;}
.search form input[type="submit"]{cursor:pointer;position:relative;top:-32px;background:none;width:100%;border:1px solid #ccc;box-sizing:border-box;border-left:none;}


/*˵˵*/
.shuo-side{overflow:hidden;padding-bottom:10px;}
.shuo-side ul{width:95%;margin:auto;}
.shuo-side ul li{height:45px;overflow:hidden;margin-bottom:20px;border-bottom:solid  #fdceaf 1px;padding-top:10px;position: relative;}
.shuo-side span{width:85px;height:85px;border-radius:200px;-webkit-border-radius:200px;position:relative;float:left;color:#fff;
    display:inline-block;text-align:center;line-height:45px;font-size:14px;margin-top:5px;border:5px solid #fff; }
.shuo-side span:after{content:'';width:96px;height:96px;border:1px solid #ccc;display:block;border-radius:200px;-webkit-border-radius:200px;left:-6px;top:-6px;position:absolute;}
.shuo-side span strong{display:block;position:relative;}
.shuo-side div{height:100%;line-height:40px;float:left;width:70%;margin-left:-5px;transition:all 0.5s;-webkit-transition:all 0.5s;}
.shuo-side div a{font-size:12px;color:#555;float:left;text-indent:1.5em;    white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 100%;}
.shuo-side div b{font-weight:normal;font-size:12px;color:#999;    position: absolute; right: 5px;}
.shuo-side ul li:hover div{transform:translateX(15px);transition:all 0.5s;-webkit-transform:translateX(15px);-webkit-transition:all 0.5s;}
.shuo-side ul li:nth-of-type(1){border-color:#0183ce}
.shuo-side ul li:nth-of-type(2){border-color:#96ce01}
.shuo-side ul li:nth-of-type(3){border-color:#e26204}
.shuobg1{background:#0183ce;opacity:0.8;}
.shuobg2{background:#96ce01;opacity:0.8;}
.shuobg3{background:#e26204;opacity:0.8;}
/*tab*/
.paihang-ul{width:90%;margin:auto;margin-top:10px;}
.paihang-ul li{width:100%;padding:15px 0;border-bottom:1px dashed #ccc;overflow:hidden;    position: relative;}
.paihang-ul li:last-child{border:none;}
.paihang-ul li span:before{display:inline-block;width:20px;height:23px;border-radius:5px;-webkit-border-radius:5px;text-align:center;font-size:12px;margin-right:10px;}
.paihang-ul li:nth-of-type(1) span:before{content:'1';background:#e71555;color:#fff;}
.paihang-ul li:nth-of-type(2) span:before{content:'2';background:#16d083;color:#fff;}
.paihang-ul li:nth-of-type(3) span:before{content:'3';background:#ff6700;color:#fff;}
.paihang-ul li:nth-of-type(4) span:before{content:'4';background:#857479;color:#fff;}
.paihang-ul li:nth-of-type(5) span:before{content:'5';background:#d092a4;color:#fff;}
.paihang-ul li:nth-of-type(6) span:before{content:'6';background: rgba(39, 133, 0, 0.33);color:#fff;}
.paihang-ul li a{font-size:13px;color:#777;}
.paihang-ul li a b{color:#999;font-weight:normal;font-size:12px;    position: absolute;right: 0px;}
.mytab ul li a{transition:all 0.5s;-webkit-transition:all 0.5s;line-height: 15px; display: inline-block;width: 80%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.mytab ul li a:hover{text-shadow:0 0px 3px #000;color:#fff;}

.directory{margin-top:30px;width:100%;}
/*��������*/
.side-link{margin-top:30px;width:100%;}
.side-link ul{width:95%;margin:auto;margin-top:10px;text-align:center;overflow:hidden;padding-bottom:10px;}
.side-link ul li{float:left;overflow:hidden;}
.side-link ul li a{display:inline-block;padding:0px 5px;margin:0 5px 10px 5px;color:#ff6700;font-size:12px;border:1px solid #777;border-radius:3px ;-webkit-border-radius:3px;transition:all 0.5s;-webkit-transition:all 0.5s;
    background:rgba(255, 255, 255, 0.7);
}
.side-link ul li a:hover{border-radius:0;-webkit-border-radius:0;box-shadow:3px 3px 5px #ccc;text-shadow:0 0px 3px #000;color:#fff;}
.side-link h4 a{float:right;margin-right:10px;}
/*页脚*/
footer{width:100%;background:rgba(0,67,94,0.65);margin-top:35px;clear:both;}
.footer-area{width:100%;max-width:1200px;margin:auto;padding:25px 0;color:#fff;overflow:hidden;}
.footer-area h4{color:#fff;font-weight:normal;background:none;text-indent:15px;padding:0;}
/*����ͳ��*/
.data-count{width:25%;overflow:hidden;float:left;}
.data-count ul{width:90%;margin:auto;overflow:hidden;}
.data-count ul li{width:50%;float:left;margin-bottom:30px;font-size:12px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.data-count ul li i{color:#fff;}
.data-count ul li a{color:#fff;}
.data-count ul li span{display:inline-block;color:#fff;padding:2px 5px;ext-align:center;}
/*��������*/
.about-blog{width:25%;overflow:hidden;float:left;}
.ft-part1{width:95%;margin:auto;}
.about-blog .mytb{width:98%;margin:auto;padding-bottom:30px;}
.about-blog .mytb >a{display:inline-block;width:100%;padding:15px 0;background:#ff6700;border-radius:0;-webkit-border-radius:0;text-align:center;transition:all 0.5s;-webkit-transition:all 0.5s;}
.about-blog .mytb >a:hover{background:#e34405;border-radius:10px ;-webkit-border-radius:10px;}
/*���䶩��*/
.mail-dy {position:absolute;padding:10px;background:rgba(255,255,255,0.9);box-shadow:0 0 20px #777;display:none;z-index:999;width:300px;height: 350px;}
.mail-dy img{width: 100%;height: 100%}
.mail-dy .fa-remove{position:absolute;right:5px;top:5px;font-size:12px;}
.mail-dy form{overflow:hidden;padding:15px 0;height:2em;}
.mail-dy form input{font-size:12px;color:#333;height:100%;width:60%;float:left;background:#fff;}
.mail-dy .el-envelope{height:100%;width:19%;background:#0ddb9e;color:#fff;text-align:center;font-size:16px;line-height:2em;}
.mail-dy input[type="submit"]{cursor:pointer;position:relative;top:-32px;background:none;width:100%;border:none;}
.mail-dy span{width:19%;float:left;background:#0ddb9e;color:#fff;text-align:center;font-size:14px;height:100%;line-height:33px;text-align:center;}
.mail-btn{width:98%;margin:auto;padding-bottom:10px;position:relative;}
.mail-btn >a{display:inline-block;width:100%;padding:15px 0;background:#0bbd84;text-align:center;border-radius:0;-webkit-border-radius:0;transition:all 0.5s;-webkit-transition:all 0.5s;}
.mail-btn >a:hover{background:#0af5aa;border-radius:10px ;-webkit-border-radius:10px;}
/*RSS*/
.img-feed{width:100%;padding:10px 0;}
.img-feed a{float:left;padding-top:5px;}
.img-feed a:nth-of-type(1){margin-right:10%;}
.img-feed p{float:right;font-size:14px;}

/*��������*/
.close-fd{width:25%;float:left;}
.close-fd ul{width:95%;margin:auto;}
.close-fd ul li{width:100%;padding:8px 0;overflow:hidden;}
.close-fd ul li:last-child{border:none;}
.close-fd ul li .sd-tx{float:left;width:45px;height:45px;}
.close-fd ul li .sd-tx img{width:100%;}
.close-fd ul li .sd-name{width:78%;float:right;}
.close-fd ul li .sd-name span{display:inline-block;width:100%;font-size:12px;color:#fff600;}
.close-fd ul li .sd-name a{display:block;font-size:12px;line-height:25px;color:#fff;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.close-fd ul li .sd-name img{max-width:30px;vertical-align: middle;}
/*ͼ��Ƶ��*/
.tuwen-pd{width:25%;float:left;}
.tuwen-pd ul{width:95%;margin:auto;}
.tuwen-pd ul li{float:left;margin-bottom:10px;margin:3%;}
.tuwen-pd ul li img{width:50px;height:50px;}
.tuwen-pd ul li img:hover{opacity:0.6;}
/*foot-nav*/
.foot-nav{width:100%;text-align:center;padding:10px 0;overflow:hidden;font-size:12px;background:#202121;color:#fff;}
.foot-nav .copy-right{margin-bottom:10px;}

/*��������*/
.clos-new{overflow:hidden;padding-bottom:15px;margin-bottom:30px;}
.clos-new ul{width:95%;margin:auto;}
.clos-new ul li{width:100%;padding:8px 0;font-size:13px;}
.clos-new ul li font{margin:0 5px;display:inline-block;}
.clos-new ul li i{margin-right:10px;}

.web-author{text-align:center;padding-bottom:15px;margin-top:60px;padding-left:2.5%;padding-right:2.5%;}
.web-author .author-tx{width:100%;position:relative;}
.web-author .author-tx a{border:5px solid #fff;box-shadow: 0 1px 5px #666;width:60px;height:60px;display:block;overflow:hidden;position:absolute;top:-30px;left:0;right:0;margin:auto;transition:all 0.8s;-webkit-transition:all 0.8s;}
.web-author .author-tx a:hover{transform:rotate(360deg);-webkit-transform:rotate(360deg);transition:all 0.8s;-webkit-transition:all 0.8s;}
.web-author .author-tx a img{width:100%;height:100%;}
.author-name{padding-top:45px;}
.author-name p{font-size:12px;color:#555;    word-break: break-all;}
.data-info ul{overflow:hidden;margin-top:15px;}
.data-info ul li{width:33%;float:left; box-sizing:border-box;   text-align: center;border-right:1px solid #ccc;}
.data-info ul li:last-child{border:none;}
.data-info ul li strong{display:block;    font-weight: bold;line-height: 18px;overflow: hidden;}
.data-info ul li span{display:block;font-size:12px;color:#555;}
/*���ض���*/
#toTop {
    width:47px;
    height:47px;
    background:url("../images/back-top-btn.png")no-repeat;
    text-align:center;
    position:fixed;
    bottom:25px;
    right:20px;
    cursor:pointer;
    text-indent:-9999px;
    z-index:12;
    display:none;
}


/*����*/
.skin-btn{position:fixed;right:-7px;top:48%;width:30px;padding:20px 0;border-radius: 200px 0px 0px 200px;z-index:999;background:#10b7f5;font-size:12px;color:#fff;text-align:center;}
.skin-btn a{text-align:center;line-height:20px;display:block;}
.skin-content{position:fixed;right:0;top:40%;border:#10b7f5 solid 1px;width:80px;display:none;background:#fff;z-index:999;}
.skin-content h1{font-size:12px;background:#fff;text-indent:0;color:#555;margin:0px auto;text-align:center;height:25px;line-height:25px;padding:5px 0;border-bottom:#ebebeb solid 1px;position:relative;}
.skin-content h1 span{font-size:12px;font-weight:normal;position:absolute;left:-20px;top:-20px;cursor:pointer;background:#fff;border:#10b7f5 solid 1px;width:35px;height:35px;line-height:35px;border-radius:20px;text-align:center;}
.skin-content-list{background:#fff;}
.skin-list{overflow:hidden;line-height:35px;width:100%;margin:0px auto;border-bottom:dashed 1px #10b7f5;text-align:center;}
.skin-list a{display:block;font-size:14px;color:#555;}
.skin-list a:hover{color:#fff;background:#4ada9b;}
.skin-list span{float:left;}

.clos-new ul li{width:100%;}
@media screen and (min-width:1023px){
    #mob-tianqi{display:none;}
    .mobile-nav{display:none;}

}


@media screen and (min-width:1024px) and (max-width:1199px){

    .container,header .top{max-width:1000px;}
}



@media screen and (min-width:320px) and (max-width:1023px){
    body{
        background:url("../images/mob-bg.jpg")no-repeat;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .container{padding-top:4.5em;}
    nav{display:none;}
    /*手机端分页隐藏一部分*/
    .rows{display:none}
    .pagination>ul>li> .first{display:none;}
    .pagination>ul>li> .end{display:none;}
    .vip{display:none;}
    .shuo-side div b{display:none;}
    .myheader, header {height:3.3em!important;background:rgba(255,255,255,0.85)!important;box-shadow:0 0 8px #999!important;}

    header .top .top-left{width:100%;}
    .top .logo{max-width:125px;margin-left:5px;}
    .mysection,.section,.myaside{width:95%;margin:auto;float:none;}
    .swiper-container{width:105.5%!important;margin-left:-2.5%!important;}
    .arc-right h4{font-size:14px;line-height:16px;padding-bottom:5px;}
    .arc-right p{font-size:12px;height:40px;line-height:20px;}
    .arc-right ul li{padding:0;padding-right:10px;}
    .arc-right ul li:nth-of-type(2),.arc-right ul li:last-child{display:none;}
    .arclist>ul>li> .arcimg{height:78px;}
    .web-xiaoxi{max-width:55%!important;margin-top:16px;}
    .t_news b{left:10px!important;}
    .news_li li,.swap li{text-align:left!important;text-indent:35px;}

    .arclist>ul>li{margin-bottom:1em;padding:15px 10px;}
    .arclist>ul>li> .arcimg{width:30%;}
    .arc-right{width:66%;}

    .data-count ul,.cloud ul,.bdsharebuttonbox{width:95%;}

    .tuijian,.Hot,.New{background-position:-100% -100%!important;}

    .left-side,.right-side{width:95%;margin:auto;float:none;}
    .bdsharebuttonbox a{margin:0 2.5%!important;}
    /*�ֻ��ײ�*/
    .about-blog,.close-fd,.tuwen-pd,.data-count{width:100%;margin-bottom:30px;}
    .tuwen-pd ul{overflow:hidden;}
    .data-count ul li{margin-bottom:15px;}
    footer h4{padding-bottom:15px!important;}
    #toTop{width:30px;height:30px;background-size:100%;right:10px;}/*���ض���*/
    .mob-hidden{display:none;}
    .article-push>ul>li> .arc-right p{height:40px;}
    .w95{width:95%;margin:auto;}
    .clos-new ul li{font-size:12px;}
    .shuo-side div{width:68%;}
    #tianqi{width:260px}
}
/*打赏css*/

.hide_box{z-index:999;filter:alpha(opacity=50);background:#666;opacity: 0.5;-moz-opacity: 0.5;left:0;top:0;height:99%;width:100%;position:fixed;display:none;}
.shang_box{width:540px;height:540px;padding:10px;background-color:#fff;border-radius:10px;position:fixed;z-index:1000;left:50%;top:50%;margin-left:-280px;margin-top:-280px;border:1px dotted #dedede;display:none;}
.shang_box img{border:none;border-width:0;}
.dashang{display:block;width:100px;margin:5px auto;height:25px;line-height:25px;padding:10px;background-color:#E74851;color:#fff;text-align:center;text-decoration:none;border-radius:10px;font-weight:bold;font-size:16px;transition: all 0.3s;}
.dashang:hover{opacity:0.8;padding:15px;font-size:18px;}
.shang_close{float:right;display:inline-block;}
.shang_logo{display:block;text-align:center;margin:20px auto;width: 300px}
.shang_tit{width: 100%;height: 75px;text-align: center;line-height: 66px;color: #a3a3a3;font-size: 16px;background: url("../images/cy-reward-title-bg.jpg");font-family: 'Microsoft YaHei';margin-top: 7px;margin-right:2px;}
.shang_tit p{color:#a3a3a3;text-align:center;font-size:16px;}
.shang_payimg{width:140px;padding:10px;border:6px solid #EA5F00;margin:0 auto;border-radius:3px;height:140px;}
.shang_payimg img{display:block;text-align:center;width:140px;height:140px; }
.pay_explain{text-align:center;margin:10px auto;font-size:12px;color:#545454;}
.radiobox{width: 16px;height: 16px;background: url("../images/radio2.jpg");display: block;float: left;margin-top: 5px;margin-right: 14px;}
.checked .radiobox{background:url("../images/radio1.jpg");}
.shang_payselect{text-align:center;margin:0 auto;margin-top:40px;cursor:pointer;height:60px;width:280px;}
.shang_payselect .pay_item{display:inline-block;margin-right:10px;float:left;}
.shang_info{clear:both;}
.shang_info p,.shang_info a{color:#C3C3C3;text-align:center;font-size:12px;text-decoration:none;line-height:2em;}
/*手机端打赏*/
.shang_box_wap{padding:10px;background-color:#fff;border-radius:10px;position:fixed;z-index:1000;left:50%;top:50%;margin-left:-151px;margin-top:-190px;border:1px dotted #dedede;display:none;}
.shang_box_wap img{border:none;border-width:0;}
.dashang{display:block;width:100px;margin:5px auto;height:25px;line-height:25px;padding:10px;background-color:#E74851;color:#fff;text-align:center;text-decoration:none;border-radius:10px;font-weight:bold;font-size:16px;transition: all 0.3s;}
.dashang:hover{opacity:0.8;padding:15px;font-size:18px;}
.shang_close{float:right;display:inline-block;}
.shang_logo{display:block;text-align:center;margin:20px auto;}
.shang_tit{width: 100%;height: 75px;text-align: center;line-height: 66px;color: #a3a3a3;font-size: 16px;background: url("../images/cy-reward-title-bg.jpg");font-family: 'Microsoft YaHei';margin-top: 7px;margin-right:2px;}
.shang_tit p{color:#a3a3a3;text-align:center;font-size:16px;}
.shang_payimg{width:140px;padding:10px;border:6px solid #EA5F00;margin:0 auto;border-radius:3px;height:140px;}
.shang_payimg img{display:block;text-align:center;width:140px;height:140px; }
.pay_explain{text-align:center;margin:10px auto;font-size:12px;color:#545454;}
.radiobox{width: 16px;height: 16px;background: url("../images/radio2.jpg");display: block;float: left;margin-top: 5px;margin-right: 14px;}
.checked .radiobox{background:url("../images/radio1.jpg")}
.shang_payselect{text-align:center;margin:0 auto;margin-top:30px;cursor:pointer;height:40px;width:280px;}
.shang_payselect .pay_item{display:inline-block;margin-right:10px;float:left;}
.shang_info{clear:both;}
.shang_info p,.shang_info a{color:#C3C3C3;text-align:center;font-size:12px;text-decoration:none;line-height:2em;}
/*登录*/
.hide_box2{z-index:999;filter:alpha(opacity=50);background:#666;opacity: 0.5;-moz-opacity: 0.5;left:0;top:0;height:99%;width:100%;position:fixed;display:none;}
.shang_box2{width:540px;height:540px;padding:10px;background-color:#fff;border-radius:10px;position:fixed;z-index:1000;left:50%;top:50%;margin-left:-280px;margin-top:-280px;border:1px dotted #dedede;display:none;}
.shang_box2 img{border:none;border-width:0;}
.dashang2{display:block;width:100px;margin:5px auto;height:25px;line-height:25px;padding:10px;background-color:#E74851;color:#fff;text-align:center;text-decoration:none;border-radius:10px;font-weight:bold;font-size:16px;transition: all 0.3s;}
.dashang2:hover{opacity:0.8;padding:15px;font-size:18px;}
.shang_close2{float:right;display:inline-block;}
.shang_logo2{display:block;text-align:center;margin:0px auto;width: auto;width: 50%}
.shang_tit2{width: 100%;height: 75px;text-align: center;line-height: 66px;color: #a3a3a3;font-size: 16px;background: url("../images/cy-reward-title-bg.jpg");font-family: 'Microsoft YaHei';margin-top: 7px;margin-right:2px;}
.shang_tit2 p{color:#a3a3a3;text-align:center;font-size:16px;}
.shang_payimg2{width:140px;padding:10px;border:6px solid #EA5F00;margin:0 auto;border-radius:3px;height:140px;}
.shang_payimg2 img{display:block;text-align:center;width:140px;height:140px; }
.pay_explain2{text-align:center;margin:10px auto;font-size:12px;color:#545454;}
.radiobox2{width: 16px;height: 16px;background: url("../images/radio2.jpg");display: block;float: left;margin-top: 5px;margin-right: 14px;}
.checked2 .radiobox2{background:url("../images/radio1.jpg");}
.shang_payselect2{text-align:center;margin:0 auto;margin-top:40px;cursor:pointer;height:60px;width:280px;}
.shang_payselect2 .pay_item2{display:inline-block;margin-right:10px;float:left;}
.shang_info{clear:both;}
.shang_info2 p,.shang_info2 a{color:#C3C3C3;text-align:center;font-size:12px;text-decoration:none;line-height:2em;}
/*会员登录弹窗*/
.vipsignin{height:90px;}
.vipsignin:hover .vipsignin-z{display:block;}
.vipsignin-z{
    top:71px;
    right:0px;
    position:absolute;
    width:306px;
    line-height:30px;
    background-color:#FFF;
    display:none;
    box-shadow: 0 4px 8px 0 rgba(195, 46, 232, 0.2);
    opacity: 1.0;
    height: 270px;
    border: 1px solid gray;
}
.vipsignin-z a{display:block;text-align:center;text-decoration:none;}
/*.vipsignin-z a:hover{background-color:#FFF5C5;font-weight:bold;}*/
/*会员登录内容*/
.vip-top{
    /*margin-top: 16px;
    margin-bottom: 14px;*/
    /*border: 1px solid red;*/
    height: 115px;
    width:100%;
}
.vip-top a{
    float:left;
}
.vip-top a img{
    float: left;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 12px;
    margin-top: 15px;
    margin-left: 5px;
}
.vip-top-left{
    width: 30%;
    height: 113px;
    float:left;
}
.vip-top-left img{
    float: left;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 12px;
    margin-top: 23px;
    margin-left: 6px;
}
.vip-top-right{
    /*border: 1px solid green;*/
    width:70%;
    height: 113px;
    float:left;
}
.vip-top-right-t{
    width: 100%;
    height: 35px;
    margin-top: 5px;
}
.vip-top-right-t a:hover{
    color:red;
}
.vip-top-right-b{
    width: 100%;
    height: 78px;
    font-size: 12px;
    font-family: inherit;
    color: gray;
}
.vipltag{
    float:left;
    width: 50%;
    text-align: left;
}
.vipltag span{
    color:#f70393;
}
.viprtag{
    float: left;
    width: 50%;
    text-align: left;
}
.viprtag span{
    color:#f70393;
}
.vip-top-right a{
    color: #f70393;
    display: inline-block;
    font-family: cursive;
    font-weight: bold;
    font-size: 30px;
}
.vip-top-right a span{
    display: inline-block;
    font-size: 16px;
    width: 170px;
}
.vip-center{
    /*margin-top: 16px;
    margin-bottom: 14px;*/
    margin-left: 25px;
    height:90px;
    width:100%;
    /*border:solid 1px green;*/
}

.vip-center ul li{
    position: relative;
    width: 128px;
    float:left;
    height: 36px;
    background: #f3f5f7;
    line-height: 36px;
    color: #4d555d;
    font-size: 12px;
    margin-right: 2px;
    margin-bottom: 2px;
    box-sizing: border-box;
}
.vip-center ul li a:hover{
    background-color:#FFF5C5;
}
.vip-bottom{
    margin-top: 28px;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    /*float: right;
    padding-right: 10px;
    padding-left: 12px;*/
}
.vip-bottom-left{
    float:left;
    width:43%;
}
.vip-bottom-right{
    float:right;
    width:50%;
    margin-right:-27px;
}
.vip-bottom a:hover{
    color:#f01414;
    /*background-color:#FFF5C5;*/
}
.mbnav{
    font-size: 12px;
    color: #ff6700;
    padding-left: 3px;
    margin-bottom: -23px;
}

#progress {
    position:fixed;
    height: 5px;
    background:#b91f1f;
    transition:opacity 500ms linear
}
#progress.done {
    opacity:0
}
#progress span {
    position:absolute;
    height:5px;
    -webkit-box-shadow:#b91f1f 1px 0 6px 1px;
    -webkit-border-radius:100%;
    opacity:1;
    width:150px;
    right:-10px;
    -webkit-animation:pulse 2s ease-out 0s infinite;
}

@-webkit-keyframes pulse {
    30% {
        opacity:.6
    }
    60% {
        opacity:0;
    }
    100% {
        opacity:.6
    }
}
/*侵删联系和版权声明*/
.content_post{font-size:14px}
.content_post p {margin-bottom: 12px;}

