<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.project.front.mapper.FrontMapper">

    <insert id="insertLink">
        insert into link(title, url, description, header_img, email, create_time) value (#{title}, #{url},
                                                                                         #{description}, #{headerImg},
                                                                                         #{email}, sysdate())
    </insert>

    <insert id="insertComment" keyProperty="id" useGeneratedKeys="true">
        insert into comment(
        <if test="email != null and email != ''">email,</if>
        <if test="ip != null and ip != ''">ip,</if>
        <if test="location != null and location != ''">location,</if>
        <if test="os != null and os != ''">os,</if>
        <if test="browser != null and browser != ''">browser,</if>
        <if test="parentId != null">parent_id,</if>
        <if test="qqNum != null and qqNum != ''">qq_num,</if>
        <if test="nickName != null and nickName != ''">nick_name,</if>
        <if test="avatar != null and avatar != ''">avatar,</if>
        <if test="pageId != null">page_id,</if>
        <if test="url != null and url != ''">url,</if>
        <if test="display != null and display != ''">display,</if>
        <if test="content != null and content != ''">content,</if>
        <if test="htmlContent != null and htmlContent != ''">html_content,</if>
        <if test="replyId != null ">reply_id,</if>
        <if test="reply != null ">reply,</if>
        <if test="adminReply != null ">admin_reply,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="email != null and email != ''">#{email},</if>
        <if test="ip != null and ip != ''">#{ip},</if>
        <if test="location != null and location != ''">#{location},</if>
        <if test="os != null and os != ''">#{os},</if>
        <if test="browser != null and browser != ''">#{browser},</if>
        <if test="parentId != null">#{parentId},</if>
        <if test="qqNum != null and qqNum != ''">#{qqNum},</if>
        <if test="nickName != null and nickName != ''">#{nickName},</if>
        <if test="avatar != null and avatar != ''">#{avatar},</if>
        <if test="pageId != null">#{pageId},</if>
        <if test="url != null and url != ''">#{url},</if>
        <if test="display != null and display != ''">#{display},</if>
        <if test="content != null and content != ''">#{content},</if>
        <if test="htmlContent != null and htmlContent != ''">#{htmlContent},</if>
        <if test="replyId != null">#{replyId},</if>
        <if test="reply != null">#{reply},</if>
        <if test="adminReply != null">#{adminReply},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>
    <update id="incrementCommentBad">
        update comment
        set bad=bad + 1
        where id = #{id}
    </update>
    <update id="incrementCommentGood">
        update comment
        set good=good + 1
        where id = #{id}
    </update>
    <update id="incrementBlogLike">
        update blog
        set `like`=`like` + 1
        where id = #{id}
    </update>
    <update id="incrementBlogClick">
        update blog
        set click=click + 1
        where id = #{id}
    </update>
    <update id="incrementLinkClick">
        update link
        set click=click + 1
        where id = #{id}
    </update>

    <select id="selectLinkList" resultType="com.dimple.project.system.domain.Link">
        select id, title, url, description, header_img
        from link
        where delete_time is null
          and display = 1
    </select>

    <select id="selectCategoryList" resultType="com.dimple.project.common.domain.Category">
        select id, title
        from category
        where delete_time is null
          and type = 1
        order by create_by, support desc
    </select>

    <select id="selectSupportBlogList" resultType="com.dimple.project.blog.domain.Blog">
        select b.id,
               b.title,
               b.summary,
               b.header_img_type,
               b.header_img,
               b.like,
               b.click,
               b.create_time,
               count(c.id) as comment_count
        from blog b
                 left join comment c on b.id = c.page_id
        where b.delete_time is null
          and c.delete_time is null
          and b.support = 1
          and b.status = 1
        group by b.id
        order by b.create_time, b.weight desc
        limit 5
    </select>

    <select id="selectHotBlogList" resultType="com.dimple.project.blog.domain.Blog">
        select b.id,
               b.title,
               b.summary,
               b.header_img_type,
               b.header_img,
               b.like,
               b.click,
               b.create_time,
               count(c.id) as comment_count
        from blog b
                 left join comment c
                           on b.id = c.page_id
        where b.delete_time is null
          and c.delete_time is null
        group by b.id
        order by click desc
        limit 5
    </select>

    <select id="selectTagList" resultType="com.dimple.project.common.domain.Tag">
        select t.id, t.title, t.color, count(tm.id) as count
        from tag t
                 left join tag_mapping tm
                           on t.id = tm.tag_id
        where t.delete_time is null
        group by t.id
        having count(tm.id) > 0
    </select>

    <select id="selectCarouselList" resultType="com.dimple.project.system.domain.Carousel">
        select id,
               description,
               header_img,
               display,
               target,
               url,
               title,
               create_time
        from carousel
        where delete_time is null
    </select>

    <select id="selectNoticeList" resultType="com.dimple.project.system.domain.Notice">
        select id, title, type, html_content
        from notice
        where delete_time is null
    </select>

    <select id="selectCommentListByPageId" resultType="com.dimple.project.blog.domain.Comment">
        select id,
               parent_id,
               nick_name,
               avatar,
               page_id,
               good,
               admin_reply,
               bad,
               reply_id,
               html_content as content,
               create_time
        from comment
        where delete_time is null
          and page_id = #{id}
        order by create_time desc
    </select>

    <resultMap type="com.dimple.project.blog.domain.Blog" id="BlogDetail">
        <result property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="headerImg" column="header_img"/>
        <result property="content" column="html_content"/>
        <result property="comment" column="comment"/>
        <result property="support" column="support"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <collection property="tagTitleList" ofType="string" select="selectTagByBlogId" column="id">
        </collection>
    </resultMap>

    <select id="selectTagByBlogId" resultType="string">
        select title
        from tag t
                 left join tag_mapping tm on t.id = tm.tag_id
        where tm.blog_id = #{id}
    </select>

    <select id="selectBlogDetailById" resultMap="BlogDetail">
        select id,
               category_id,
               title,
               summary,
               header_img_type,
               header_img,
               html_content,
               comment,
               support,
               `like`,
               click,
               create_time,
               update_time
        from blog
        where delete_time is null
          and id = #{id}
    </select>

    <select id="selectBlogList" resultType="com.dimple.project.blog.domain.Blog">
        select b.id, b.category_id, b.title, b.summary,b.weight, b.header_img, b.status,b.support,b.like,b.click,
        b.comment, b.create_time,b.update_time,count(c.id) as comment_count
        from blog b left join comment c
        on b.id=c.page_id and c.delete_time is null
        where b.delete_time is null
        <if test="categoryId != null">
            AND b.category_id =#{categoryId}
        </if>
        <if test="support != null ">
            AND b.support = #{support}
        </if>
        <if test="beginTime != null "><!-- 开始时间检索 -->
            and date_format( b.create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null "><!-- 结束时间检索 -->
            and date_format( b.create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        group by b.id
    </select>
    <select id="selectTagListByTypeAndId" resultType="com.dimple.project.common.domain.Tag">
        select t.id, color, title,type, create_by, create_time
        from tag t
        left join tag_mapping tm on t.id = tm.tag_id
        where t.type=#{type}
        <if test="type == 1">and tm.blog_id=#{id}</if>
        <if test="type ==2">and tm.note_id=#{id}</if>
        <if test="type ==3">and tm.book_id=#{id}</if>
    </select>
    <select id="selectAbout" resultType="com.dimple.project.system.domain.Config">
        select id, config_key, config_value
        from config
        where delete_time is null
          and config_key = 'about'
    </select>
    <select id="selectCommentById" resultType="com.dimple.project.blog.domain.Comment">
        select id,
               nick_name,
               email,
               ip,
               location,
               os,
               browser,
               parent_id,
               qq_num,
               avatar,
               page_id,
               url,
               display,
               good,
               bad,
               content,
               create_by,
               create_time,
               reply
        from comment
        where id = #{id}
    </select>
    <select id="selectSupportLinkList" resultType="com.dimple.project.system.domain.Link">
        select id, title, url, description, header_img
        from link
        where support = 1
        order by weight desc
    </select>
    <select id="selectBlogTitleById" resultType="java.lang.String">
        select title from blog where id=#{id}
    </select>
</mapper>

