<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.project.blog.mapper.BlogMapper">

    <resultMap type="com.dimple.project.blog.domain.Blog" id="BlogResult">
        <result property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="headerImg" column="header_img"/>
        <result property="content" column="content"/>
        <result property="status" column="status"/>
        <result property="comment" column="comment"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteBy" column="delete_by"/>
        <result property="deleteTime" column="delete_time"/>
    </resultMap>

    <sql id="selectBlogVo">
        select id, category_id, title, summary, header_img, content, status, comment, create_by, update_by, create_time, update_time, delete_by, delete_time from bg_blog
    </sql>

    <select id="selectBlogList" resultMap="BlogResult">
        <include refid="selectBlogVo"/>
        where delete_time is null
        <if test="title != null and title != ''">
            AND title like concat('%', #{title}, '%')
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>

    <select id="selectBlogById" parameterType="Long" resultMap="BlogResult">
        <include refid="selectBlogVo"/>
        where id = #{id} and delete_time is null
    </select>

    <insert id="insertBlog" useGeneratedKeys="true" keyProperty="id">
        insert into bg_blog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null ">category_id,</if>
            <if test="title != null  and title != ''">title,</if>
            <if test="summary != null  and summary != ''">summary,</if>
            <if test="headerImg != null  and headerImg != ''">header_img,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="status != null ">status,</if>
            <if test="comment != null ">comment,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="deleteBy != null  and deleteBy != ''">delete_by,</if>
            <if test="deleteTime != null ">delete_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null ">#{categoryId},</if>
            <if test="title != null  and title != ''">#{title},</if>
            <if test="summary != null  and summary != ''">#{summary},</if>
            <if test="headerImg != null  and headerImg != ''">#{headerImg},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="status != null ">#{status},</if>
            <if test="comment != null ">#{comment},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="deleteBy != null  and deleteBy != ''">#{deleteBy},</if>
            <if test="deleteTime != null ">#{deleteTime},</if>
        </trim>
    </insert>

    <update id="updateBlog">
        update bg_blog
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryId != null ">category_id = #{categoryId},</if>
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="summary != null  and summary != ''">summary = #{summary},</if>
            <if test="headerImg != null  and headerImg != ''">header_img = #{headerImg},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="comment != null ">comment = #{comment},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time=sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBlogById">
        update  bg_blog set delete_time =sysdate() ,delete_by=#{username} where id = #{id}
    </delete>

    <delete id="deleteBlogByIds">
        update bg_blog set delete_time =sysdate() ,delete_by=#{username} where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>