<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.project.blog.mapper.BlogMapper">

    <resultMap type="com.dimple.project.blog.domain.Blog" id="BlogResult">
        <result property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="headerImg" column="header_img"/>
        <result property="content" column="content"/>
        <result property="htmlContent" column="html_content"/>
        <result property="status" column="status"/>
        <result property="comment" column="comment"/>
        <result property="commentCount" column="comment_count"/>
        <result property="support" column="support"/>
        <result property="weight" column="weight"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="BlogResultWithoutContent" type="com.dimple.project.blog.domain.Blog">
        <result property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="headerImg" column="header_img"/>
        <result property="status" column="status"/>
        <result property="comment" column="comment"/>
        <result property="like" column="like"/>
        <result property="click" column="click"/>
        <result property="support" column="support"/>
        <result property="weight" column="weight"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <association property="category" javaType="com.dimple.project.common.domain.Category">
            <id property="id" column="c_id"/>
            <result property="title" column="c_title"/>
            <result property="description" column="c_description"/>
            <result property="support" column="c_support"/>
            <result property="createBy" column="c_create_by"/>
            <result property="createTime" column="c_create_time"/>
        </association>
    </resultMap>

    <select id="selectBlogList" resultMap="BlogResultWithoutContent">
        select b.id, b.category_id, b.title, b.summary,b.weight, b.header_img, b.status,b.support,b.like,b.click,
        b.comment, b.create_by, b.create_time,c.id c_id,c.title c_title,c.description c_description,c.support
        c_support,c.create_by c_create_by,c.create_time c_create_time
        from blog b ,category c
        where b.delete_time is null and b.category_id=c.id
        <if test="title != null and title != ''">
            AND b.title like concat('%', #{title}, '%')
        </if>
        <if test="status != null and status != ''">
            AND b.status = #{status}
        </if>
        <if test="support != null ">
            AND b.support = #{support}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format( b.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format( b.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>

    <select id="selectBlogById" resultMap="BlogResult">
        select id, category_id, title, summary, header_img, content,support,click,`like`,status, weight,comment, create_by, create_time,update_time from blog
        where id = #{id} and delete_time is null
    </select>


    <select id="selectBlogListQuery" resultMap="BlogResult">
        select b.id, b.category_id, b.title, b.summary,b.weight, b.header_img, b.status,b.support,b.like,b.click,
        b.comment, b.create_time,b.update_time,count(c.id) as comment_count
        from blog b left join comment c
        on b.id=c.page_id and c.delete_time is null
        where b.delete_time is null
        <if test="categoryId != null">
            AND b.category_id =#{categoryId}
        </if>
        <if test="support != null ">
            AND b.support = #{support}
        </if>
        <if test="beginTime != null "><!-- 开始时间检索 -->
            and date_format( b.create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null "><!-- 结束时间检索 -->
            and date_format( b.create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        group by b.id
    </select>
    <select id="selectBlogByIdQuery" resultMap="BlogResult">
        select b.id, b.category_id, b.title, b.summary, b.header_img, b.html_content as content,b.support,b.click,b.like,b.status, b.weight,b.comment, b.create_by, b.create_time,b.update_time,count(c.id) as comment_count
        from blog b left join comment c
        on b.id=c.page_id
        where b.id = #{id} and b.delete_time is null and b.status=1
    </select>


    <select id="selectBlogListByCategoryIds" resultMap="BlogResultWithoutContent">
        select  id ,category_id, title,summary,weight, header_img, status,support,comment, create_by, create_time
        from blog
        where delete_time is null and category_id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insertBlog" useGeneratedKeys="true" keyProperty="id">
        insert into blog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null ">category_id,</if>
            <if test="title != null  and title != ''">title,</if>
            <if test="summary != null  and summary != ''">summary,</if>
            <if test="headerImg != null  and headerImg != ''">header_img,</if>
            <if test="headerImgType != null  and headerImgType != ''">header_img_type,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="htmlContent != null  and htmlContent != ''">html_content,</if>
            <if test="status != null ">status,</if>
            <if test="comment != null ">comment,</if>
            <if test="support != null ">support,</if>
            <if test="weight != null ">weight,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null ">#{categoryId},</if>
            <if test="title != null  and title != ''">#{title},</if>
            <if test="summary != null  and summary != ''">#{summary},</if>
            <if test="headerImg != null  and headerImg != ''">#{headerImg},</if>
            <if test="headerImgType != null  and headerImgType != ''">#{headerImgType},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="htmlContent != null  and htmlContent != ''">#{htmlContent},</if>
            <if test="status != null ">#{status},</if>
            <if test="comment != null ">#{comment},</if>
            <if test="support != null ">#{support},</if>
            <if test="weight != null ">#{weight},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateBlog">
        update blog
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryId != null ">category_id = #{categoryId},</if>
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="summary != null  and summary != ''">summary = #{summary},</if>
            <if test="headerImg != null  and headerImg != ''">header_img = #{headerImg},</if>
            <if test="headerImgType != null  and headerImgType != ''">header_img_type = #{headerImgType},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="htmlContent != null  and htmlContent != ''">html_content = #{htmlContent},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="support != null ">support = #{support},</if>
            <if test="weight != null ">weight = #{weight},</if>
            <if test="comment != null ">comment = #{comment},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time=sysdate()
        </trim>
        where id = #{id}
    </update>

    <update id="incrementBlogLike">
        update blog set `like`=`like`+1 where id=#{id}
    </update>
    <update id="incrementBlogClick">
         update blog set click=click+1 where id=#{id}
    </update>

    <delete id="deleteBlogById">
        update  blog set delete_time =sysdate() ,delete_by=#{username} where id = #{id}
    </delete>

    <delete id="deleteBlogByIds">
        update blog set delete_time =sysdate() ,delete_by=#{username} where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
