<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.project.blog.mapper.CategoryMapper">

    <resultMap type="com.dimple.project.blog.domain.Category" id="CategoryResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="support" column="support"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="com.dimple.project.blog.domain.Category" id="CategoryResultWithBlogList">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="support" column="support"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <collection property="blogList" ofType="com.dimple.project.blog.domain.Blog">
            <id property="id" column="b_id"/>
            <result property="title" column="b_title"/>
            <result property="summary" column="b_summary"/>
            <result property="headerImg" column="b_header_img"/>
            <result property="status" column="b_status"/>
            <result property="comment" column="b_comment"/>
            <result property="support" column="b_support"/>
            <result property="weight" column="b_weight"/>
            <result property="createBy" column="b_create_by"/>
            <result property="createTime" column="b_create_time"/>
        </collection>
    </resultMap>

    <sql id="selectBgCategoryVo">
        select id, title, description, support, create_by, create_time from bg_category
    </sql>

    <select id="selectCategoryList" parameterType="com.dimple.project.blog.domain.Category"
            resultMap="CategoryResultWithBlogList">
        select c.id, c.title, c.description, c.support, c.create_by, c.create_time,
        b.id b_id, b.title b_title,
        b.summary b_summary,b.weight b_weight, b.header_img b_header_img, b.status b_status,b.support b_support,b.comment b_comment, b.create_by b_create_by, b.create_time b_create_time
        from bg_category c
        left join bg_blog b
        on c.id = b.category_id and b.delete_time is null
        where c.delete_time is null
        <if test="title != null and title != ''">
            AND c.title like concat('%', #{title}, '%')
        </if>
        <if test="support != null and support != ''">
            AND c.support = #{support}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(c.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(c.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>

    <select id="selectCategoryById" resultMap="CategoryResult">
        select id, title, description, support, create_by, create_time from bg_category
        where id = #{id}
    </select>
    <select id="selectSupportCategoryList" resultType="com.dimple.project.blog.domain.Category">
        select id, title, description, support, create_by, create_time from bg_category where support=1 and delete_time is null
    </select>

    <insert id="insertCategory" parameterType="com.dimple.project.blog.domain.Category" useGeneratedKeys="true"
            keyProperty="id">
        insert into bg_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">title,</if>
            <if test="description != null  and description != ''">description,</if>
            <if test="support != null ">support,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">#{title},</if>
            <if test="description != null  and description != ''">#{description},</if>
            <if test="support != null ">#{support},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateCategory" parameterType="com.dimple.project.blog.domain.Category">
        update bg_category
        <set>
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="description != null  and description != ''">description = #{description},</if>
            <if test="support != null ">support = #{support},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            update_time =sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteCategoryById">
        update bg_category set delete_date=sysdate(),delete_by=#{username} where id = #{id}
    </delete>

    <delete id="deleteCategoryByIds">
        update bg_category set delete_time=sysdate(),delete_by=#{username} where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>