<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.project.blog.comment.mapper.CommentMapper">

    <resultMap type="com.dimple.project.blog.domain.Comment" id="CommentMap">
        <result property="id" column="id"/>
        <result property="email" column="email"/>
        <result property="ip" column="ip"/>
        <result property="location" column="location"/>
        <result property="os" column="os"/>
        <result property="browser" column="browser"/>
        <result property="parentId" column="parent_id"/>
        <result property="qqNum" column="qq_num"/>
        <result property="avatar" column="avatar"/>
        <result property="pageId" column="page_id"/>
        <result property="url" column="url"/>
        <result property="display" column="display"/>
        <result property="good" column="good"/>
        <result property="bad" column="bad"/>
        <result property="content" column="content"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectCommentById" resultMap="CommentMap">
        select
          id, email, ip, location, os, browser, parent_id, qq_num, avatar, page_id, url, display, good, bad, content, create_by, create_time
        from bg_comment
        where id = #{id}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectCommentList" resultMap="CommentMap">
        select
        id, email, ip, location, os, browser, parent_id, qq_num, avatar, page_id, url, display, good, bad, content,
        create_by, create_time
        from bg_comment
        where delete_time is null
        <if test="email != null and email != ''">
            and email = #{email}
        </if>
        <if test="ip != null and ip != ''">
            and ip = #{ip}
        </if>
        <if test="location != null and location != ''">
            and location = #{location}
        </if>
        <if test="display != null">
            and display = #{display}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
    </select>

    <!--新增所有列-->
    <insert id="insertComment" keyProperty="id" useGeneratedKeys="true">
        insert into bg_comment(
        <if test="email != null and email != ''">email,</if>
        <if test="ip != null and ip != ''">ip,</if>
        <if test="location != null and location != ''">location,</if>
        <if test="os != null and os != ''">os,</if>
        <if test="browser != null and browser != ''">browser,</if>
        <if test="parentId != null and parentId != ''">parent_id,</if>
        <if test="qqNum != null and qqNum != ''">qq_num,</if>
        <if test="avatar != null and avatar != ''">avatar,</if>
        <if test="pageId != null and pageId != ''">page_id,</if>
        <if test="url != null and url != ''">url,</if>
        <if test="display != null and display != ''">display,</if>
        <if test="content != null and content != ''">content,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="email != null and email != ''">#{email},</if>
        <if test="nickName != null and nickName != ''">#{nickName},</if>
        <if test="location != null and location != ''">#{location},</if>
        <if test="os != null and os != ''">#{os},</if>
        <if test="browser != null and browser != ''">#{browser},</if>
        <if test="parentId != null and parentId != ''">#{parentId},</if>
        <if test="qqNum != null and qqNum != ''">#{qqNum},</if>
        <if test="avatar != null and avatar != ''">#{avatar},</if>
        <if test="pageId != null and pageId != ''">#{pageId},</if>
        <if test="url != null and url != ''">#{url},</if>
        <if test="display != null and display != ''">#{display},</if>
        <if test="content != null and content != ''">#{content},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <!--通过主键修改数据-->
    <update id="updateComment">
        update bg_comment
        <set>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="ip != null and ip != ''">
                ip = #{ip},
            </if>
            <if test="location != null and location != ''">
                location = #{location},
            </if>
            <if test="os != null and os != ''">
                os = #{os},
            </if>
            <if test="browser != null and browser != ''">
                browser = #{browser},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="qqNum != null and qqNum != ''">
                qq_num = #{qqNum},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>
            <if test="pageId != null">
                page_id = #{pageId},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="display != null">
                display = #{display},
            </if>
            <if test="good != null">
                good = #{good},
            </if>
            <if test="bad != null">
                bad = #{bad},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="incrementCommentGood">
        update bg_comment set good+=1 where id=#{id}
    </update>
    <update id="incrementCommentBad">
        update bg_comment set bad+=1 where id=#{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteCommentById">
        update bg_comment set delete_by=${username},delete_time =sysdate() where id = #{id}
    </delete>

</mapper>