<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimple.project.blog.mapper.CommentMapper">

    <resultMap type="com.dimple.project.blog.domain.Comment" id="CommentMap">
        <result property="id" column="id"/>
        <result property="email" column="email"/>
        <result property="ip" column="ip"/>
        <result property="location" column="location"/>
        <result property="os" column="os"/>
        <result property="browser" column="browser"/>
        <result property="parentId" column="parent_id"/>
        <result property="qqNum" column="qq_num"/>
        <result property="avatar" column="avatar"/>
        <result property="nickName" column="nick_name"/>
        <result property="pageId" column="page_id"/>
        <result property="replyId" column="reply_id"/>
        <result property="url" column="url"/>
        <result property="display" column="display"/>
        <result property="good" column="good"/>
        <result property="bad" column="bad"/>
        <result property="adminReply" column="admin_reply"/>
        <result property="content" column="content"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectCommentById" resultMap="CommentMap">
        select
          id, email, ip, location, os, browser, parent_id, qq_num, avatar, page_id,nick_name, url, display, good, bad, content, create_by, create_time
        from comment
        where id = #{id}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectCommentList" resultMap="CommentMap">
        select
        id, email, ip, location, os, browser, parent_id, qq_num,nick_name, avatar, page_id, url, display, good, bad,
        content,
        create_by, create_time
        from comment
        where delete_time is null
        <if test="email != null and email != ''">
            AND email like concat('%', #{email}, '%')
        </if>
        <if test="ip != null and ip != ''">
            AND ip like concat('%', #{ip}, '%')
        </if>
        <if test="nickName != null and nickName != ''">
            AND nick_name like concat('%', #{nickName}, '%')
        </if>
        <if test="location != null and location != ''">
            and location like concat('%', #{location}, '%')
        </if>
        <if test="display != null">
            and display = #{display}
        </if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            and date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>

    <!--新增所有列-->
    <insert id="insertComment" keyProperty="id" useGeneratedKeys="true">
        insert into comment(
        <if test="email != null and email != ''">email,</if>
        <if test="ip != null and ip != ''">ip,</if>
        <if test="location != null and location != ''">location,</if>
        <if test="os != null and os != ''">os,</if>
        <if test="browser != null and browser != ''">browser,</if>
        <if test="parentId != null and parentId != ''">parent_id,</if>
        <if test="qqNum != null and qqNum != ''">qq_num,</if>
        <if test="nickName != null and nickName != ''">nick_name,</if>
        <if test="avatar != null and avatar != ''">avatar,</if>
        <if test="pageId != null and pageId != ''">page_id,</if>
        <if test="url != null and url != ''">url,</if>
        <if test="display != null and display != ''">display,</if>
        <if test="content != null and content != ''">content,</if>
        <if test="htmlContent != null and htmlContent != ''">html_content,</if>
        <if test="replyId != null ">reply_id,</if>
        <if test="reply != null ">reply,</if>
        <if test="adminReply != null ">admin_reply,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="email != null and email != ''">#{email},</if>
        <if test="ip != null and ip != ''">#{ip},</if>
        <if test="location != null and location != ''">#{location},</if>
        <if test="os != null and os != ''">#{os},</if>
        <if test="browser != null and browser != ''">#{browser},</if>
        <if test="parentId != null and parentId != ''">#{parentId},</if>
        <if test="qqNum != null and qqNum != ''">#{qqNum},</if>
        <if test="nickName != null and nickName != ''">#{nickName},</if>
        <if test="avatar != null and avatar != ''">#{avatar},</if>
        <if test="pageId != null and pageId != ''">#{pageId},</if>
        <if test="url != null and url != ''">#{url},</if>
        <if test="display != null and display != ''">#{display},</if>
        <if test="content != null and content != ''">#{content},</if>
        <if test="htmlContent != null and htmlContent != ''">#{htmlContent},</if>
        <if test="replyId != null">#{replyId},</if>
        <if test="reply != null">#{reply},</if>
        <if test="adminReply != null">#{adminReply},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <!--通过主键修改数据-->
    <update id="updateComment">
        update comment
        <set>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="ip != null and ip != ''">
                ip = #{ip},
            </if>
            <if test="location != null and location != ''">
                location = #{location},
            </if>
            <if test="os != null and os != ''">
                os = #{os},
            </if>
            <if test="nickName != null and nickName != ''">
                nick_name = #{nickName},
            </if>
            <if test="browser != null and browser != ''">
                browser = #{browser},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="qqNum != null and qqNum != ''">
                qq_num = #{qqNum},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>
            <if test="pageId != null">
                page_id = #{pageId},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="display != null">
                display = #{display},
            </if>
            <if test="good != null">
                good = #{good},
            </if>
            <if test="bad != null">
                bad = #{bad},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy},
            </if>
            update_time=sysdate()
        </set>
        where id = #{id}
    </update>
    <update id="incrementCommentGood">
        update comment set good=good+1 where id=#{id}
    </update>
    <update id="incrementCommentBad">
        update comment set bad=bad+1 where id=#{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteCommentById">
        update comment set delete_time=sysdate(),delete_by=#{username} where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectCommentListByPageIds" resultMap="CommentMap">
        select id, email, ip, location, os, browser, parent_id, qq_num,nick_name, avatar, page_id, url, display,
        good,admin_reply,
        bad,
        content,
        create_by, create_time
        from comment where delete_time is null and page_id in
        <foreach item="id" collection="blogIdList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectCommentListByPageId" resultMap="CommentMap">
        select id, email, ip, location, os, browser, parent_id, qq_num,nick_name, avatar, page_id, url, display, good,admin_reply,
        bad,reply_id,
        html_content as content,
        create_by, create_time
        from comment where delete_time is null and page_id =#{id} order by create_time desc
    </select>
</mapper>
